<link rel="stylesheet" href="../../template/css_default/topbar.css">
<div class='nav ' ng-class="activeNav=='/index/communityPanel/'?'hid':''">
    <div class="logo">
        <div class="logoImg"></div>
        <div class="logoText">奉贤社会面智能安防平台</div>
    </div>
    <ul class="navList">
        <li ng-class="activeNav=='/index/communityPanel/'?'active':'' " ng-mouseover="showSecondMenus('ybls')">
            <a target="_self" href="#/index/communityPanel/" >一标六实</a>
        </li>
        <li ng-mouseover="showSecondMenus('gjkh')">
            <a target="_self" href="#/index/trackShow/faceTrack/" >轨迹刻画</a>
        </li>
        <li ng-mouseover="showSecondMenus('sjjk')">
            <a target="_self" href="#/index/operation/" >数据监控</a>
        </li>
        <li ng-mouseover="showSecondMenus('ptgl')">
            <a target="_self" href="#/index/platform/0" >平台管理</a>
        </li>
    </ul>
    <!--<div class="loginOutBox" ng-click='openLog()'>
        <div class="loginOut"></div>
    </div>-->
    <div class="topRight">
        <div class="SearchBox" ng-include="zTreeSearchTpl" ng-controller="zTreeSearchController"></div><div class="userPanel" ng-include="userTplUrl" ng-controller="userTplController"></div>
        <!--<div class="userInfoBox">
            <div class="defaultInfo">
                <div class="head">
                </div>
                <div class="nicename">Administrator
                    <span class="arrow"></span>
                </div>
            </div>
        </div>-->
        <!--<div class="searchBox">
            <div class="searchBtn"></div>
            <input class='search' type="text">
        </div>-->
        
    </div>
    <div class="menuList" ng-if='showSecondMenusHover' ng-mouseleave="hideSecondMenus()">
        <ul ng-if="showSecondMenusHover=='ybls'" >
            <li>
                <h2>实有安防设备</h2>
                <a target="_self" href="#/index/communityAllNewChart/4" >实有安防设备</a>
                <a href="#/index/smoke/">消防</a>
                <a href="#/index/communityMac/">WI-FI</a>
                <a href="#/index/doorrecord/">门禁</a>
            </li>
            <li>
                <h2>实有单位</h2>
                <a href="#/index/communityAllNewChart/3">实有单位</a>
                <a href="#/index/factpeople/">从业人员详情</a>
            </li>
            <li>
                <h2>实有房屋</h2>
                <a href="#/index/communityAllNewChart/2">实有房屋</a>
            </li>
            <li>
                <h2>实有警情</h2>
                <a href="#/index/factEvent/">实有警情</a>
                <a href="#/index/factEvent/">实有警情事件</a>
            </li>
            <li>
                <h2>实有力量</h2>
                <a href="#/index/communityAllNewChart/5">实有力量与装备</a>
            </li>
            <li>
                <h2>实有人口</h2>
                <a href="#/index/communityAllNewChart/1">实有人口</a>
            </li>
        </ul>
        <ul ng-if="showSecondMenusHover=='gjkh'">
            <li>
                <h2>人脸轨迹</h2>
                <a href="#/index/trackShow/faceTrack/">人脸轨迹</a>
            </li>
            <li>
                <h2>MAC轨迹</h2>
                <a href="#/index/trackShow/macTrack/">MAC轨迹</a>
            </li>
            <li>
                <h2>车辆轨迹</h2>
                <a href="#/index/trackShow/carTrack/">车辆轨迹</a>
            </li>
        </ul>
        <ul ng-if="showSecondMenusHover=='sjjk'">
            <li>
                <h2>数据监控</h2>
                <a href="#/index/operation/">数据监控</a>
            </li>
        </ul>
        <ul ng-if="showSecondMenusHover=='ptgl'">
            <li>
                <h2>用户中心</h2>
                <a href="#/index/platform/0">用户中心</a>
            </li>
        </ul>
    </div>
</div>
<!--退出登录弹出窗-->
<script type="text/ng-template" id="layer-login-out">
    <form class="layer logout" style="display: block" id="outform">
        <div class="logoutCon">
            <div class="" style="margin-left: -25px;margin-bottom: 10px;">
                <i class="icon-base icon-32 icon-table-empty"></i>
                <span class="text-uppercase control-label">退出登录</span>
            </div>
            <div class="form-group">
                <label class="control-label" ng-bind="msg"></label>
            </div>
        </div>

        <div class="btn-box">
            <button class="btn btn-icon-blue" ng-click="goLogOut()">
                <span class="btn-icon-text">确定</span>
            </button>
            <button class="btn btn-icon-default" ng-click="closeOut()">
                <span class="btn-icon-text">取消</span>
            </button>
        </div>
    </form>
</script>