<link rel="stylesheet" href="../../template/css_default/topbar.css">
<div class='nav ' ng-class="activeNav=='/index/communityPanel/'?'hid':''">
    <div class="logo">
        <div class="logoImg"></div>
        <div class="logoText">奉贤社会面智能安防平台</div>
    </div>
    <ul class="navList">
        <li ng-class="activeNav=='/index/communityPanel/'?'active':'' " ng-mouseover="showSecondMenus('ybls')">一标六实</li>
        <li ng-mouseover="showSecondMenus('gjkh')">轨迹刻画</li>
        <li ng-mouseover="showSecondMenus('sjjk')">数据监控</li>
        <li ng-mouseover="showSecondMenus('ptgl')">平台管理</li>
    </ul>
    <div class="loginOutBox" ng-click='openLog()'>
        <div class="loginOut"></div>
    </div>
    <div class="userInfoBox">
        <div class="defaultInfo">
            <div class="head">
                <!-- <img src="" width="100%" height="100%"> -->
            </div>
            <div class="nicename">Administrator
                <span class="arrow"></span>
            </div>
        </div>
    </div>
    <div class="searchBox">
        <div class="searchBtn"></div>
        <input class='search' type="text">
    </div>
        <div class="menuList" ng-if='showSecondMenusHover' ng-mouseleave="hideSecondMenus()">
        <ul ng-if="showSecondMenusHover=='ybls'" >
            <li>
                <h2>实有安防设备</h2>
                <p class='active'>实有安装设备</p>
                <p>消防</p>
                <p>WI-FI</p>
                <p>门禁</p>
            </li>
            <li>
                <h2>实有单位</h2>
                <p>实有单位</p>
                <p>从业人员详情</p>
            </li>
            <li>
                <h2>实有房屋</h2>
                <p>实有房屋</p>
            </li>
            <li>
                <h2>实有警情</h2>
                <p>实有警情</p>
                <p>实有警情事件</p>
            </li>
            <li>
                <h2>实有力量</h2>
                <p>实有力量与装备</p>
            </li>
            <li>
                <h2>实有人口</h2>
                <p>实有人口</p>
            </li>
        </ul>
        <ul ng-if="showSecondMenusHover=='gjkh'">轨迹刻画</ul>
        <ul ng-if="showSecondMenusHover=='sjjk'">数据监控</ul>
        <ul ng-if="showSecondMenusHover=='ptgl'">平台管理</ul>
    </div>
</div>
<!--退出登录弹出窗-->
<script type="text/ng-template" id="layer-login-out">
    <form class="layer logout" style="display: block" id="outform">
        <div class="logoutCon">
            <div class="" style="margin-left: -25px;margin-bottom: 10px;">
                <i class="icon-base icon-32 icon-table-empty"></i>
                <span class="text-uppercase control-label">退出登录</span>
            </div>
            <div class="form-group">
                <label class="control-label" ng-bind="msg"></label>
            </div>
        </div>

        <div class="btn-box">
            <button class="btn btn-icon-blue" ng-click="goLogOut()">
                <span class="btn-icon-text">确定</span>
            </button>
            <button class="btn btn-icon-default" ng-click="closeOut()">
                <span class="btn-icon-text">取消</span>
            </button>
        </div>
    </form>
</script>