<link rel="stylesheet" href="../../template/css_default/topbar.css">
<div class='nav'>
    <div class="logo">
        <div class="logoImg"></div>
        <div class="logoText">奉贤社会面智能安防平台</div>
    </div>
    <ul class="navList">
        <li class='active'>一标六实</li>
        <li>轨迹刻画</li>
        <li>数据监控</li>
        <li>平台管理</li>
    </ul>
    <div class="userInfoBox"></div>
    <div class="searchBox">
        <div class="searchBtn"></div>
        <input class='search' type="text">
    </div>
    <div class="menuList">
        <ul>
            <li>
                <h2>实有安装设备</h2>
                <p class='active'>实有安装设备</p>
                <p>消防</p>
                <p>WI-FI</p>
                <p>门禁</p>
            </li>
            <li>
                <h2>实有单位</h2>
                <p>实有单位</p>
                <p>从业人员详情</p>
            </li>
            <li>
                <h2>实有房屋</h2>
                <p>实有房屋</p>
            </li>
            <li>
                <h2>实有警情</h2>
                <p>实有警情</p>
                <p>实有警情事件</p>
            </li>
            <li>
                <h2>实有力量</h2>
                <p>实有力量与装备</p>
            </li>
            <li>
                <h2>实有人口</h2>
                <p>实有人口</p>
            </li>
        </ul>
    </div>
</div