.face-detect {
  width: 100%;
  height: 100%;
  position: relative;
  .queryIndex {
    width: 100%;
    height: 100%;
    background: #262d35 url(/template/img/search/face/face-bodybg.png) center center no-repeat;
    position: relative;
    .face-itembox {
      width: 660px;
      height: 660px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -330px 0 0 -330px;
      .face-addphoto {
        background: url(/template/img/search/face/face-add-imgbg.png);
        width: 410px;
        height: 410px;
        margin: 0 auto;
        padding-left: 20px;
        padding-top: 20px;
        position: relative;
        #img_selected_photo {
          width: 400px;
          height: 400px;
          border-radius: 50%;
          background-size: cover;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        img {
          &.circle-mask-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 430px;
            height: 430px;
          }
        }
        .add-btnphoto {
          background-image: url(/template/img/search/face/add-facephoto1.png);
          width: 120px;
          height: 120px;
          position: absolute;
          bottom: -50px;
          left: 150px;
          text-align: center;
          line-height: 150px;
          font-size: 15px;
          font-weight: 600;
          font-family: 'Microsoft YaHei';
          padding-top: 0;
          color: #fff;
          .webuploader-pick{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
          }
          &:hover {
            background-image: url(/template/img/search/face/add-facephoto.png);
            width: 120px;
            height: 120px;
          }
        }
      }
      .face-check-item {
        border-radius: 5px;
        border: 2px dotted #3897d4;
        padding: 10px;
        width: 580px;
        height: 150px;
        margin: 0 auto;
        margin-top: 80px;
        background-color: #262d35;
        position: relative;
        h2 {
          position: absolute;
          top: -15px;
          left: 10px;
          display: block;
          padding: 5px 10px;
          background-color: #262d35;
          font-size: 14px;
          color: #3895d1;
          border-radius: 20px;
        }

        .face-checks {
          display: inline-block;
          max-height: 100px;
          overflow-x: hidden;
          margin: 20px 0 0 10px
        }
        .face-checks li {
          padding: 8px 0;
          float: left;
        }
        .face-checks li a {
          cursor: pointer;
          padding-left: 25px;
          margin-right: 10px;
          width: 140px;
          display: block;
          background: url(/template/img/search/face/face-checkbox-off.png) no-repeat;
          color: #c6c6c7;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .face-checks li a:hover {
          background: url(/template/img/search/face/face-checkbox-hover.png) no-repeat;
          color: #00a0e9;
        }
        .face-checks li.current a {
          background: url(/template/img/search/face/checkbox-on.png) no-repeat;
        }
        .face-check-item {
          border-radius: 5px;
          border: 2px dotted #3897d4;
          padding: 10px;
          width: 580px;
          height: 150px;
          margin: 0 auto;
          margin-top: 80px;
          background-color: #262d35;
          position: relative;
        }
        .face-check-item h2 {
          position: absolute;
          top: -15px;
          left: 10px;
          display: block;
          padding: 5px 10px;
          background-color: #262d35;
          font-size: 14px;
          color: #3895d1;
          border-radius: 20px;
        }
        .face-check-item .face-seabtn {
          cursor: pointer;
          background: url(/template/img/search/face/face-seabtn.png);
          width: 180px;
          height: 50px;
          position: absolute;
          bottom: -25px;
          left: 200px;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          line-height: 50px;
          text-align: center;
          padding-left: 20px;
        }
        .face-check-item .face-seabtn:hover {
          background: url(/template/img/search/face/face-seabtn-h.png);
        }

        .face-seabtn {
          cursor: pointer;
          background: url(/template/img/search/face/face-seabtn.png);
          width: 200px;
          height: 50px;
          position: absolute;
          bottom: -25px;
          left: 200px;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          line-height: 50px;
          text-align: center;
          padding-left: 20px;
          &:hover {
            background: url(/template/img/search/face/face-seabtn-h.png);
          }
        }
      }

    }
    .avatar-clip {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .7);
      position: absolute;
      left: 0;
      top: 0;
      display: table-cell;
      vertical-align: middle;

    }
  }
  .resultBody {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .result-main {
      background: #eee;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .form-top {
        margin:20px auto;
        width: 98%;
        .form-group {
          box-shadow: none;
          label {
            width: auto;
            min-width: 36px;
          }
          dl {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
          }
          span {
            &.sex-type {
              height: 20px;
              line-height: 20px;
              padding-left: 10px;
              cursor: pointer;
              &:first-child {
                padding-left: 0;
              }
              &:before {
                display: inline-block;
                width: 16px;
                height: 20px;
                background: url(/template/img/search/face/radio-off.png) center no-repeat;
                content: '';
                vertical-align: bottom;
                margin-right: 5px;
              }
              &.active {
                &:before {
                  background: url(/template/img/search/face/radio-on.png) center no-repeat;
                }
              }
            }
          }
        }
      }
      .form-bottom {
        width: 98%;
        position: absolute;
        top: 95px;
        bottom: 0;
        background: none;
        left: 1%;
        border: 0;
        &.noTop{
          top: 90px;
          .content{
            .side-left{
              padding-top: 10px;
            }
          }
        }
        .content {
          position: relative;
          width: 100%;
          height: 100%;
          .side-left {
            width: 180px;
            position: absolute;
            left: 0px;
            top: 20px;
            bottom: 20px;
            background: #fff;
            border:1px solid #dedede;
            .user-img{
              width: 100%;
              height:auto;
              position: relative;
              img{
                width: 100%;
                border-radius: 2%;
              }
              .reChoose{
                width: 100%;
                padding: 0 5px;
                position: absolute;
                bottom: 5px;
                left:0;
                z-index: 500;
                button{
                  width: 100%;
                  opacity: 0.8;
                }
              }
            }
            .choose-data{
              width: 100%;
              height:auto;
              margin:10px 0;
              ul{
                li{
                  padding: 0 10px;
                  font-size:12px;
                  line-height:1.5;
                  position: relative;
                  cursor: pointer;
                  color: #666;
                  margin-bottom: 5px;
                  &:before{
                    content:'';
                    width: 16px;
                    height:16px;
                    display: inline-block;
                    background: url(/template/img/search/face/face-checkbox-off.png) center no-repeat;
                    margin-right: 5px;
                    vertical-align: bottom;
                  }
                  &:hover{
                    color: #00a0e9;
                    &:before{
                      background: url(/template/img/search/face/face-checkbox-hover.png) center no-repeat;
                    }
                  }
                  &.active{
                    &:before{
                      background: url(/template/img/search/face/checkbox-on.png) center no-repeat;
                    }
                  }
                }
              }
            }
            .button-area{
              width: 100%;
              padding: 0 10px;
              button{
                width: 100%;
              }
            }
          }
          .libTab{
            position: absolute;
            left: 200px;
            right: 0;
            top:20px;
            .libActive{
              color: #fff;
              background-color: #0baafc;
            }
            li{
              display: inline-block;
              width: 100px;
              line-height: 24px;
              text-align: center;
              background-color: #fff;
              cursor: pointer;
            }
          }
          .content-right {
            position: absolute;
            left: 200px;
            right: 0;
            top:44px;
            bottom: 20px;
            overflow-y: auto;
            .item-container{
              width: 100%;
              height:auto;
              overflow: hidden;
              border:1px solid #dedede;
              background: #fff;
              .item-lists{
                width: 100%;
                height:auto;
                overflow: hidden;
                .item{
                  width: 176px;
                  float: left;
                  margin:15px 0 0 8px;
                  position: relative;
                  .item-img{
                    width: 100%;
                    height:auto;
                    position: relative;
                    text-align: center;
                    img{
                      width: auto;
                      height: 176px;
                      border-top-right-radius: 4px;
                      border-top-left-radius: 4px;
                    }
                    .item-info{
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      left:0;
                      top:0;
                      bottom: 0;
                      right:0;
                      background: rgba(0,0,0,.7);
                      display: none;
                      text-align: left;
                      dl{
                        width: 90%;
                        height: 90%;
                        margin: 5% auto;
                        dd{
                          width: 100%;
                          height: 30px;
                          float: left;
                          color: #fff;
                          font-size:12px;
                          line-height:30px;
                          margin-top: 2px;
                          span{
                            padding-right: 4px;
                          }
                        }
                      }
                    }
                  }
                  &.active{
                    .item-info{
                      display: block;
                    }
                    .item-txt{
                      border-bottom: 3px solid #ff8d33;
                      border-bottom-left-radius: 4px;
                      border-bottom-right-radius: 4px;
                    }
                  }
                  .item-txt{
                    width: 100%;
                    height: auto;
                    font-size: 12px;
                    border-bottom: 3px solid rgba(255,255,255,0);
                    dl{
                      width: 90%;
                      margin: 10px auto;
                      dt{
                        width: 100%;
                        color: #333;
                        height: 30px;
                        line-height:30px;
                        font-weight:normal;
                        &:hover{
                          color:#ea3f28
                        }
                      }
                      dd{
                        width: 100%;
                        color: #666;

                      }
                    }
                  }
                  .item-percent{
                    width: 40px;
                    height: 36px;
                    background: #e15050;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    color: #fff;
                    line-height:36px;
                    text-align: right;

                    position: absolute;
                    bottom: 12px;
                    right: 0;
                    font-weight: 600;
                    padding-right: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#img_box{
  text-align: center;
  width: 600px;
  height: 280px;
  img{
    max-width:100%;
    max-height: 100%;
  }
}
