.body.sysConfig-page {
  padding: 20px;
  .section-title {
    color: #333;
    margin-bottom: 20px;
  }
  .section-content {
    //border: 1px solid #dedede;
    border-radius: 4px;
    //background: #fff;
  }
  .form-group-wrap {
    padding: 5px 20px;
    background-color: #ffffff;
    .control-label {
      min-width: 60px;
    }
    .form-group {
      margin: 5px 20px 5px 0;
      &:nth-last-child(2){
        margin-right: 10px;
      }
      .control-label{
        min-width:20px;
        margin-right: 3px;
      }
    }
  }
  table td.operate {
    padding: 0  8px;
    span{
      display: inline-block;
      padding: 8px 5px;
      color: #0baafc;
      font-size: 12px;
      cursor: pointer;
      &:hover{
        color: #f3982d;
      }
    }
  }
  .control-label{
    min-width: 20px;
    margin-right: 3px;
  }
.form-top{
  .form-group{
    &:nth-last-child(2){
      margin-right: 10px;
    }
  }
}

}

#alarm-edit {
   .more {
     color: #00a0e9;
     cursor: pointer;
   }
   .shorten {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 300px;
     padding: 2px 10px 2px 10px;
   }

   .alarm-top {
     font-size: 12px;
     padding: 10px 23px;
     .alarm-target{
       color:#797979;
     }
     .back {
       color: #191919;
       cursor: pointer;
       &:hover{
         color: #00a0e9;
       }
     }
   }
   .alarm-box {
     width: 98%;
     margin: 0px auto;
     overflow: hidden;
     background: #fff;
     border: 1px solid #dedede;
     border-radius: 4px;
     position: relative;
     .showButton {
       margin-top: 1px;
       .alarmBtn {
         float: left;
         padding-top: 10px;
         margin-left: 16px;
       }
     }
     .alarmTab {
       margin-top: 50px;

     }
   }

 }
