<div class="communityDiv">
	<div class="leftCommunity">
		<div id="doorData"></div>
		<div id="importantZone"></div>
		<div id="alarmData"></div>
	</div>
	<div class="mapAndBottom">
		<div id="mapDiv">
			<div class="twoMap"></div>
			<div class="threeMap"></div>
		</div>
		<div id="bottomDiv">
			<div id="carData"></div>
			<div id="monitorData">
				<ul>
					<li>hiewrier</li>
					<!-- <li ng-repeat="item in cameraList">
						<span><span>{{item.deviceName}}</span>
						<span ng-show="item.isOnline">在线</span><span ng-show="!item.isOnline"></span></span>
						<span></span>
					</li> -->
				</ul>
			</div>
			<div id="macData">
				
			</div>
		</div>
	</div>
	<div class="rightComunity" id="faceData">
		
	</div>
</div>