<div id="homeCon" class="homeCon" ng-class="{appModel2: !isOrdinaryModel}">
    <!-- 切换按钮-->

    <div class="shouye">

        <!--app模式-->
        <div class="appModel">
                <div class="itel_nav">
                    <ul>
                        <li ng-click="gotoDetailPage('')" >
                        <a href="/#/index/communityAllNew/" target="_blank">
                            <span class="appIcon" ><img ng-src="template/img/home/icon/ybls.png" alt=""/></span>
                            <span>一标六实</span>
                        </a>
                        </li>
                        <li ng-click="gotoDetailPage(search)">
                        <a href="http://15.128.21.140:28080/#/index/communityNew/2/ " target="_blank">
                            <span class="appIcon"><img ng-src="template/img/home/icon/zhxq.png" alt=""/></span>
                            <span>智慧小区</span>
                        </a>
                        </li>
                        <li ng-click="gotoDetailPage(search)">
                        <a href="/#/index/face/">
                            <span class="appIcon"><img ng-src="template/img/home/icon/rnsp.png" alt=""/></span>
                            <span>人脸识别</span>
                        </a>
                        </li>
                        <li ng-click="gotoDetailPage(search)">
                        <a href="/#/index/map/faceMac/">
                            <span class="appIcon"><img ng-src="template/img/home/icon/pzfx.png" alt=""/></span>
                            <span>碰撞分析</span>
                        </a>
                        </li>
                        <li ng-click="gotoDetailPage(search)">
                        <a href="/#/index/trackShow/faceTrack/">
                            <span class="appIcon"><img ng-src="template/img/home/icon/gjkh.png" alt=""/></span>
                            <span>轨迹刻画</span>
                        </a>
                        </li>
                        <li ng-click="gotoDetailPage(search)">
                        <a href="/#/index/point/facePoint/">
                            <span class="appIcon"><img ng-src="template/img/home/icon/ljdfx.png" alt=""/></span>
                            <span>落脚点分析</span>
                        </a>
                        </li>
                        <li ng-click="gotoDetailPage(search)">
                        <a href="/#/index/personAnalysis/owners">
                            <span class="appIcon"><img ng-src="template/img/home/icon/ryfx.png" alt=""/></span>
                            <span>人员分析</span>
                        </a>
                        </li>
                        <li ng-click="gotoDetailPage(search)">
                        <a href="/#/index/unusual/unusualDistrict/">
                            <span class="appIcon"><img ng-src="template/img/home/icon/ycfx.png" alt=""/></span>
                            <span>异常发现</span>
                        </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>

