<link rel="stylesheet" href="template/css/login.css?v=00.00s">
<div class="Login">
    <div class="LoginBox">
        <div class="LoginR">
            <div class="LoginLogo">奉贤智慧社区平台</div>
            <form class="LoginForm" action="">
                <input class="user ipt-text" type="text" placeholder="请输入用户名" autocomplete="off" ng-model="username" ng-keydown="keyEnter($event)" ng-focus="loginFocus('user')" ng-blur="loginBlur('user')">
                <input class="password ipt-text" type="text" placeholder="请输入密码" autocomplete="off" ng-model="password" ng-keydown="keyEnter($event)" ng-focus="loginFocus('pwd')" ng-blur="loginBlur('pwd')">
                <button class="ipt-submit" type="button" ng-click="goWebLogin()">登录</button>
            </form>
        </div>
        
    </div>
</div>
