/* line 1, ../scss_default/analyze.scss */
.analyze {
  padding: 20px;
}
/* line 3, ../scss_default/analyze.scss */
.analyze .section-content {
  border-radius: 4px;
}
/* line 5, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap {
  border-radius: 4px;
  box-shadow: 0 3px 1px rgba(233, 233, 233, 0.75);
}
/* line 12, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap ul {
  height: 40px;
  position: relative;
  border-radius: 4px;
  background: #eeeeee;
}
/* line 19, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap ul .active {
  background: white;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}
/* line 25, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap ul .charts-navitem {
  cursor: pointer;
  display: inline-block;
  padding: 12px;
  width: 100px;
  height: 100%;
  text-align: center;
  position: relative;
}
/* line 36, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap .condition {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
/* line 43, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap .condition .filter-content .time-control {
  background: url(../img/canlendar.png) 150px no-repeat;
}
/* line 46, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap .condition .filter-content .time-label {
  margin-left: 10px;
}
/* line 49, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap .condition .filter-content .cancel {
  cursor: pointer;
}
/* line 53, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap .condition .filter-content .time {
  display: inline-block;
}
/* line 56, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap .condition .filter-content .time-second {
  display: inline-block;
}
/* line 58, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap .condition .filter-content .time-second .form-control {
  color: inherit;
}
/* line 63, ../scss_default/analyze.scss */
.analyze .section-content .form-group-wrap .condition .filter-content .camera-container {
  margin-left: 10px;
  margin-top: 10px;
  color: #b3b3b3;
}
/* line 72, ../scss_default/analyze.scss */
.analyze .section-content .result-filter {
  height: 56px;
  overflow: hidden;
}
/* line 75, ../scss_default/analyze.scss */
.analyze .section-content .result-filter span {
  float: left;
  line-height: 56px;
  font-weight: 700;
  font-size: 12px;
  padding: 0 20px;
}
/* line 82, ../scss_default/analyze.scss */
.analyze .section-content .result-filter ul {
  float: right;
  background-color: #fff;
  border: 1px solid #B8C4CE;
  border-radius: 3px;
  margin-top: 12px;
}
/* line 89, ../scss_default/analyze.scss */
.analyze .section-content .result-filter ul .item-active {
  color: #00a0e9;
  border-bottom: 1px solid #00a0e9;
}
/* line 93, ../scss_default/analyze.scss */
.analyze .section-content .result-filter ul li {
  float: left;
  width: 112px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #444;
  cursor: pointer;
  border-left: 1px solid #B8C4CE;
}
/* line 102, ../scss_default/analyze.scss */
.analyze .section-content .result-filter ul li:first-child {
  border-left: none;
}
/* line 108, ../scss_default/analyze.scss */
.analyze .section-content .form-bottom {
  border: 1px solid #dedede;
  border-radius: 4px;
  background-color: #f4f4f4;
}
/* line 112, ../scss_default/analyze.scss */
.analyze .section-content .form-bottom .legend {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  padding: 0 15px;
  border-radius: 4px;
}
/* line 118, ../scss_default/analyze.scss */
.analyze .section-content .form-bottom .legend i {
  display: inline-block;
  width: 15px;
  height: 10px;
  background-color: #00a0e9;
  border-radius: 3px;
  margin-right: 10px;
}
/* line 126, ../scss_default/analyze.scss */
.analyze .section-content .form-bottom .legend button {
  margin-top: 5px;
}
/* line 130, ../scss_default/analyze.scss */
.analyze .section-content .form-bottom .legend .data-img {
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  background: url(../img/analyze/shape.png) no-repeat;
  background-position: -16px -48px;
}
/* line 140, ../scss_default/analyze.scss */
.analyze .section-content .form-bottom #chart {
  height: 355px;
  width: 100%;
}
/* line 146, ../scss_default/analyze.scss */
.analyze .section-content .form-bottom table th {
  color: #414141;
  font-style: normal;
  font-weight: 500;
}

/* line 157, ../scss_default/analyze.scss */
.analyze-page .left {
  margin-left: 5px;
  display: inline-block;
}
/* line 160, ../scss_default/analyze.scss */
.analyze-page .left .search {
  height: 40px;
  line-height: 40px;
  width: 500px;
}
/* line 166, ../scss_default/analyze.scss */
.analyze-page .left .search input {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-indent: 20px;
  background: url(../img/analyze/search.png) 96% no-repeat;
}
/* line 175, ../scss_default/analyze.scss */
.analyze-page .left .content {
  height: 335px;
  width: 500px;
  min-width: 500px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  margin-top: 5px;
}
/* line 185, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree {
  height: auto;
}
/* line 188, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree li .button-comm, .analyze-page .left .content #cameraTree li span.button.pIcon02_ico_open, .analyze-page .left .content #cameraTree li span.button.pIcon02_ico_close, .analyze-page .left .content #cameraTree li span.button.icon02_ico_docu, .analyze-page .left .content #cameraTree li span.button.chk.checkbox_false_full, .analyze-page .left .content #cameraTree li span.button.chk.checkbox_false_full_focus, .analyze-page .left .content #cameraTree li span.button.chk.checkbox_true_full, .analyze-page .left .content #cameraTree li span.button.chk.checkbox_true_full_focus {
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(../img/analyze/zTreeStandard.png);
}
/* line 203, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree li span.button.pIcon02_ico_open, .analyze-page .left .content #cameraTree li span.button.pIcon02_ico_close {
  margin: 0 3px;
  background-position: -14px -73px;
}
/* line 209, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree li span.button.icon02_ico_docu {
  background-position: -46px -72px;
}
/* line 214, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree li span.button.chk.checkbox_false_full {
  background-position: 0 -92px;
}
/* line 219, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree li span.button.chk.checkbox_false_full_focus {
  background-position: 0 -92px;
}
/* line 224, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree li span.button.chk {
  width: 16px;
  height: 16px;
  background-size: inherit;
}
/* line 230, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree li span.button.chk.checkbox_true_full {
  background-position: -16px -92px;
}
/* line 235, ../scss_default/analyze.scss */
.analyze-page .left .content #cameraTree li span.button.chk.checkbox_true_full_focus {
  background-position: -16px -92px;
}
/* line 244, ../scss_default/analyze.scss */
.analyze-page .right {
  width: 240px;
  height: 378px;
  display: inline-block;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
}
/* line 252, ../scss_default/analyze.scss */
.analyze-page .right .top {
  line-height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}
/* line 259, ../scss_default/analyze.scss */
.analyze-page .right .middle {
  height: 100%;
  padding: 5px 0;
  overflow-y: auto;
}
/* line 263, ../scss_default/analyze.scss */
.analyze-page .right .middle ul {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 267, ../scss_default/analyze.scss */
.analyze-page .right .middle ul li {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 2px;
}
/* line 273, ../scss_default/analyze.scss */
.analyze-page .right .middle ul li .fn-icon {
  position: relative;
  top: 6px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/home/homemap/pic.png) no-repeat;
}
/* line 281, ../scss_default/analyze.scss */
.analyze-page .right .middle ul li .camera-icon {
  background-position: -135px -64px;
  top: 8px;
  float: left;
}
/* line 286, ../scss_default/analyze.scss */
.analyze-page .right .middle ul li .fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 292, ../scss_default/analyze.scss */
.analyze-page .right .middle ul li .c-name {
  text-indent: 3px;
  display: inline-block;
  width: 180px;
}
/* line 298, ../scss_default/analyze.scss */
.analyze-page .right .middle ul li .del-icon {
  display: none;
  float: right;
  cursor: pointer;
  background-position: -40px -106px;
}
/* line 304, ../scss_default/analyze.scss */
.analyze-page .right .middle ul li:hover {
  background-color: #edf2f8;
}
/* line 306, ../scss_default/analyze.scss */
.analyze-page .right .middle ul li:hover .del-icon {
  display: inline-block;
}
