@charset "utf-8";
input,button{
    border: 0 none;
    outline: 0 none;
}
.MapPanel{
    /* position: absolute; */
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    background: #03090e url(../img/panel/mapPanel.jpg) center no-repeat;
    background-size: cover;
}
.MapPanel .olMap{
    position: absolute;
}
.communityPanel{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* z-index: 2; */
    /* background: #040a12 url(../img/panel/panleBg.jpg) center top repeat; */
    /* background: #040a12; */
    /* background-size: cover; */
}
.communityPanel .Top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: .86rem;
    background: url(../img/panel/topBg.png) center top no-repeat;
    background-size: auto .86rem;
}
.communityPanel .Title{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2.84rem;
    width: 5.68rem;
    height: .68rem;
    display: block;
    background: url(../img/panel/title.png) center no-repeat;
    background-size: 5.68rem auto;
    overflow: hidden;
    text-indent: -9999rem;
    font-size: 0;
}

.communityPanel .topLeft{
    height: 0.48rem;
    color: #5dbef6;
    font-size: .16rem;
    line-height: 0.48rem;
    float: left;
    margin-left: 0.38rem;
}
.communityPanel .topRight{
    float: right;
    padding-top: .08rem;
    padding-right: .3rem;
}

/* SearchBox 搜索村庄 */
.SearchBox{
    position: relative;
    float: left;
    margin-right: 0.3rem;
    height: 0.3rem;
    width: 1.7rem;
    line-height: 0.3rem;
    font-size: 12px;
    background-image: linear-gradient(0deg, 
		#11396f 0%, 
		#0a517e 100%);
}
.SearchBox .SearchShow{
    color: #fff;
    height: 0.3rem;
    border-radius: 3px;
    padding-left: .36rem;
    background: url(../img/panel/searchIcon.png) .08rem center no-repeat;
    background-size: .2rem .2rem;
}
.SearchBox .SearchTree{
    position: absolute;
    top: 0.36rem;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0.12rem .06rem;
    font-size: .14rem;
    color: #5dbef6;
    background: #061336;
    border: .01rem solid #11396f;
    border-radius: .03rem;
}

.SearchBox .searchInput{
    background-color: transparent;
    color: #fff;
}
.searchInput::-moz-placeholder {
    color:#60b8f9;
    opacity: 1;
}
.searchInput:-ms-input-placeholder {
    color:#60b8f9;
}
.searchInput::-webkit-input-placeholder {
    color:#60b8f9;
}

.userPanel{
    position: relative;
    float: right;
    height: .4rem;
}
.userPanel .defaultInfo{
    height: .3rem;
    vertical-align: middle;
}
.userPanel .defaultInfo .head{
    width: 0.3rem;
    height: 0.3rem;
    background: url(../img/panel/userHead.png) center no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.userPanel .defaultInfo .head img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-radius: 50%;
}
.userPanel .nicename{
    font-size: .12rem;
    line-height: 0.24rem;
    color: #5dbef6;
    display: inline-block;
    vertical-align: middle;
    padding-right: .2rem;
    background: url(../img/login/logout.png) right center no-repeat;
    background-size: .14rem .14rem;
    cursor: pointer;
}
.userPanel .nicename .arrow{
    position: relative;
}

.userPanel .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    border: 1px solid #040a10;
    border-radius: 3px;
    background: #040d16;
    color: #fff;
    display: none;
}

/* PanelMain 面板 */
.PanelMain{
    position: absolute;
    top: 1.2rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.PanelMain .PanelLeft,
.PanelMain .PanelRight,
.PanelMain .PanelBottom
{
    position: absolute;
    bottom: 0.08rem;
    z-index: 1;
    border: .01rem solid #0971c4;
    border-radius: .05rem;
    background: rgba(10, 29, 59, .9);
}
.PanelMain .PanelLeft,
.PanelMain .PanelRight{
    top: 0;
    width: 4.2rem;
    padding: 0 0.12rem .14rem;
}
.PanelMain .PanelLeft::before,
.PanelMain .PanelRight::before,
.PanelMain .PanelLeft::after,
.PanelMain .PanelRight::after
{
    position: absolute;
    left: -0.02rem;
    z-index: 1;
    content: '';
    width: 4.23rem;
    height: 0.17rem;
    background: url(../img/panel/line.png) no-repeat;
    display: block;
    background-size: auto .17rem;
}
.PanelMain .PanelLeft::before,
.PanelMain .PanelRight::before{
    top: -0.02rem;
    background-position: left top;
}
.PanelMain .PanelLeft::after,
.PanelMain .PanelRight::after
{
    bottom: -0.02rem;
    background-position: right bottom;
}

.PanelMain .PanelLeft{
    left: .08rem;
}
.PanelMain .PanelRight{
    right: .08rem;
}
.PanelMain .PanelBottom{
    padding: 0.22rem 0.2rem;
    width: 10.2rem;
    height: 3.5rem;
    left: 50%;
    margin-left: -5.1rem;

}
/* triggerToggle 打开/关闭面板 */
.PanelMain .triggerToggle{
    position: absolute;
    top: 50%;
    margin-top: -0.4rem;
    width: 0.17rem;
    height: 0.8rem;
    background: url(../img/panel/triggerButton.png) no-repeat;
    background-size: .34rem auto;
    cursor: pointer;
}
.PanelMain .triggerToggle::before{
    position: absolute;
    top: 50%;
    content: '';
    display: block;
    margin-top: -0.07rem;
    width: 0.06rem;
    height: 0.14rem;
    background: url(../img/panel/triggerButton.png) no-repeat;
    background-size: .34rem auto;
}
.PanelLeft .triggerToggle{
    right: -0.17rem;
    background-position: left top;
}
.PanelRight .triggerToggle{
    left: -0.17rem;
    background-position: right top;
}
.PanelBottom .triggerToggle
{
    transform: rotate(-90deg);
    top: 0;
    left: 50%;
    margin-top: -0.48rem;
    margin-left: -0.08rem;
}
.PanelBottom .triggerToggle::before{
    background-position: left bottom;
}
.PanelLeft .triggerToggle::before{
    left: 0.01rem;
}
.PanelLeft .triggerToggle::before,
.PanelRight.closed .triggerToggle::before{
    background-position: left bottom;
}
.PanelRight .triggerToggle::before{
    right: 0.01rem;
}
.PanelRight .triggerToggle::before,
.PanelLeft.closed .triggerToggle::before{
    background-position: right bottom;
}
/* 底部面板 */
.PanelBottom .headerTab{
    padding-left: 0.1rem;
    width: 100%;
    height: 0.32rem;
    border-bottom: 1px solid rgba(14, 104, 178, 0.6);
}
.PanelBottom .headerTab li {
    cursor: pointer;
    width: 0.7rem;
    height: 0.32rem;
    background-image: linear-gradient(0deg, rgba(14, 104, 178, 0.6) 0%, rgba(14, 104, 178, 0.7) 100%);
    border-radius: 3px 3px 0px 0px;
    color:#fff;
    font-size: 0.14rem;
    color: #bcf3ff;
    line-height: 0.32rem;
    text-align: center;
    float: left;
    margin-right: 0.03rem;
    position: relative;
}
.PanelBottom .headerTab li.active{
    border: solid 1px rgba(14, 104, 178, 0.6);
    background: #1f364e;
    color: #5dbef6;
    line-height: 0.3rem;
    border-bottom: 0 none;
}
.PanelBottom .contentView{
    width: 100%;
    height: 2.74rem;
    overflow: hidden;
}
.PanelBottom .contentView>div{
    width: 100%;
    height: 100%;
    padding-left: 0.1rem;
}
/* 底部栏 人脸 人脸 人脸 */
.btnBox  {
    margin-top: 0.12rem;
}
.btnBox>span{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    min-width: 0.7rem;
    height: 0.24rem;
    border-radius: 0.03rem;
    border: solid 1px rgba(14, 104, 178, 0.6);
    background: none;
    color: #5dbef6;
    line-height: 0.24rem;
    font-size: 0.12rem;
}
.btnBox .headerInfo{
    display: inline-block;
    margin-left: 0.5rem;
}
.btnBox .headerInfo .title{
    font-weight: 900;
    margin-right: 0.3rem;
}
.btnBox .headerInfo>span {
    display: inline-block;
    color: #9ff4fb;
    font-size: 0.14rem;
    margin-right: 0.2rem;
}


.btnBox .searchBox{
    float: right;
    width: 2rem;
    height: 0.28rem;
    position: relative;
}
.btnBox .searchBtn{
    position: absolute;
    right: 0.12rem;
    top: 0.08rem;
    width: 0.14rem;
    height: 0.14rem;
    cursor: pointer;
    background: url(../img/panel/searchicon.png) no-repeat center/cover;
}


.btnBox .search{
    width: 2rem;
    height: 0.28rem;
    background-color: #102648;
    border-radius: 13px;
    border: solid 1px #0e68b2;
    padding-left: 0.14rem;
    font-size: 0.12rem;
    color: #5dbef6;
    outline: none;
}
.btnBox .search::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #5dbef6;
}

.btnBox span.active{
    background-image: linear-gradient(0deg, #1590e7 0%, #17bcec 100%);
    color: #0c396e;
}
.contentBox{
    margin-top: 0.1rem;
    overflow-x: scroll;
    height: 2.25rem;
    overflow-y: hidden;
    width: 100%;
}


.contentView .content{
    display: inline-block;
    white-space: nowrap;
}
.contentView .content li{
    display: inline-block;
    margin-right: 0.1rem;
    padding: 0.1rem;
}
.contentView .content.all li{
    height: 1.9rem;
}
.contentView .content.have li{
    height: 2.1rem;
}
.contentView .content.follow li {
    height: 1.4rem;
    width: 3.4rem;
    margin-top: 0.3rem;
    overflow: hidden;
}
.contentView .content.iscar li {
    width: 1.7rem;
}
.contentView .content.iscar li .img-box,
.contentView .content.iscar li .img-box .img,
.contentView .content.iscar li .info{
    width: 1.5rem;
}

.contentView .content.follow li>div{
    float: left;
}
.contentView .content.follow li .info{
    margin-left: 0.12rem;
    margin-top: 0.08rem;
}

.contentView .content li:hover {
    background-color: #0e3357;
}
.contentView .content li:hover .info,
.contentView .content li:hover .title,
.contentView .content li:hover .con {
    color:#fff;
}

.contentView .content li:hover .img-box .faceicon{
    display: block;
}
.contentView .content .img-box{
    height: 1.2rem;
    width: 1.2rem;
    margin-bottom: 0.1rem;
    position: relative;
    overflow: hidden;
}
.contentView .content .img-box .faceicon{
    display: none;
    position: absolute;
    width: 0.24rem;
    height: 0.24rem;
    background-image: linear-gradient(0deg, #1590e7 0%, #17bcec 100%);
    border-radius: 0.03rem;
    bottom: 0.05rem;
    cursor: pointer;
}
.contentView .content .img-box .faceicon .icon{
    width: 100%;
    height: 100%;
    background : url(../img/right-base-icon.png) no-repeat center/cover;
    background-position: 0 0
    
}
.contentView .content .img-box .biduiIcon{
    left: 0.2rem;
}
.contentView .content .img-box .biduiIcon .icon{
    background-position: 0 0
}

.contentView .content .img-box .fangdaIcon {
    left: 0.48rem;
    background-image: linear-gradient(0deg, #e81e6d 0%, #f24052 100%);
}
.contentView .content .img-box .fangdaIcon .icon{
    background-position: -0.24rem 0
}

.contentView .content .img-box .guijiIcon {
    left: 0.77rem;
}
.contentView .content .img-box .guijiIcon .icon {
    background-position: -0.48rem 0
}
.contentView .content .img{
    float: left;
    width: 1.2rem;
    height: 1.2rem;
    border: solid 1px #225f92;
}

.contentView .content .info{
    width: 1.2rem;
    overflow: hidden;
    line-height: 0.18rem;
    font-size: 0.12rem;
    color: #9ff4fb;
}
.contentView .content .info h2{
    color:#fff;
    font-weight: 700;
    font-size: 0.14rem;
}
/* 底部栏 开门 开门 开门 */

.opendoorContent .content li{
    width: 1.8rem;
    height: 2.1rem;
    border: solid 1px #0e3357;
    padding: 0.2rem;
}
.content li h2{
    font-size: 0.14rem;
    color:#fff;
    line-height: 0.18rem;
}
.content li>p{
    font-size: 0.12rem;
    line-height: 0.24rem;
    height: 0.24rem;
}
.content li .title {
    margin-top: 0.05rem;
    color:#5dbef6;
}

.content li .con {
    overflow: hidden;
    color: #9ff4fb;
}
.content li .con span {
    cursor: pointer;
	width: 0.7rem;
    height: 0.24rem;
    display: inline-block;
    border-radius: 3px;
    color: #5dbef6;
    border: solid 1px rgba(14, 104, 178, 0.6);
    font-size: 0.12rem;
    margin-right: 0.05rem;
}
.content li .con span.active{
    color: #0c396e;
    border: 0 none;
    background-image: linear-gradient(0deg, #1590e7 0%, #17bcec 100%);

}
/* 底部栏 消防 消防 消防 */
.fireContent .content {
    margin-top: 0.1rem;
}
.content li .icon-tag {
    width: 0.2rem;
    display: block;
    color: #fff;
    text-align: center;
    margin-bottom: 0.12rem;
    background: url(../img/tag-icon.png) no-repeat center/cover;
}
.content li .normal,
.content li .abnormal {
    color:#34ff34;
    padding-left: 0.12rem;
    position: relative;
}
.content li .normal span,
.content li .abnormal span {
    width: 0.06rem;
    height: 0.06rem;
    position: absolute;
    background: #34ff34;
    top: 0.09rem;
    border-radius:50%; 
    left: 0;
    display: block;
}
.content li .abnormal{
    color:#e81e6d
}
.content li .abnormal span{
    background: #e81e6d;
}

.fireContent .content.smoke li,
.fireContent .content.electronic li,
.fireContent .content.water li {
    width:1.2rem;
    height: 2rem;
    border: solid 1px #0e3357;
    padding: 0.2rem;
}
.fireContent .content.polling li {
    padding: 0.1rem 0.2rem;
    width:1.6rem;
    height: 2rem;
    border: solid 1px #0e3357;
}
.onGuardItem{
    color: #bcf3ff;
    font-size: 0.14rem;
    line-height: 0.24rem;
}
.onGuardItem .icon-tag {
    display: inline-block;
    background: url(../img/tag-icon.png) no-repeat center/cover;
    height: 0.24rem;
    width: 0.18rem;
}

/* 左右面板 */
.PanelMain .yblsPanel{
    height: 1.22rem;
    background: url(../img/panel/yblsBg.png) center top no-repeat;
    background-size: cover;
    margin-top: 0.3rem;
}
.yblsCountList{
    overflow: hidden;
}
.yblsCountList li{
    width: 50%;
    height: 0.36rem;
    line-height: 0.36rem;
    float: left;
    color: #5dbef6;
    font-size: .12rem;
    white-space: nowrap;
    overflow: hidden;
}
.yblsCountList .num{
    font-size: .2rem;
    color: #ffcb54;
    display: inline-block;
}
.yblsCountList li:nth-child(odd){
    text-align: right;
    padding-right: 0.56rem;
}
.yblsCountList li:nth-child(even){
    text-align: left;
    padding-left: 0.56rem;
    text-overflow: ellipsis;
}
.yblsCountList li:nth-child(odd) .num{
    margin-left: 0.06rem;
}
.yblsCountList li:nth-child(even) .num{
    margin-right: 0.06rem;
}
.yblsCountList li:nth-child(3),
.yblsCountList li:nth-child(4){
    height: 0.5rem;
    line-height: 0.5rem;
}
.yblsCountList li:nth-child(3){
    padding-right: 0.7rem;
}
.yblsCountList li:nth-child(4){
    padding-left: 0.7rem;
}

/* commonPanel */
.commonPanel{
    position: relative;
}
.commonPanel .title{
    width: 3.8rem;
    height: 0.3rem;
    font-size: .16rem;
    line-height: 0.3rem;
    text-align: center;
    color: #bcf3ff;
    background: url(../img/panel/panelTitle.png) no-repeat;
    background-size: 3.8rem 0.3rem;
    margin: .26rem auto 0.1rem;
}

/* roundPanel */
.roundPanel{
    position: relative;
    border: .01rem solid #0a6fc3;
    border-radius: .05rem;
}
.roundPanel::before,
.roundPanel::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.15rem;
    background:url(../img/panel/roundLine.png) no-repeat;
    background-size: auto .15rem;
}
.roundPanel::before{
    top: 0;
    background-position: left top;
}
.roundPanel::after{
    bottom: 0;
    background-position: -4.52rem bottom;
}



/* commonTabHd */
.commonTabHd{
    text-align: right;
    font-size: 0;
    padding: 0 0.2rem;
    margin-bottom: 0.2rem;
}
.commonTabHd li{
    color: #5dbef6;
    font-size: .12rem;
    height: 0.24rem;
    line-height: 0.23rem;
    padding: 0 .12rem;
    border-radius: 3px;
    text-align: center;
    margin-left: 0.1rem;
    border: .01rem solid #0a4678;
    display: inline-block;
    cursor: pointer;
}
.commonTabHd li.active{
    color: #0c396e;
    border: .01rem solid #159de8;
    background-image: linear-gradient(0deg, 
		#1590e7 0%, 
		#17bcec 100%);
}

/* peopleAnalysis 实有人员分析 */
.commonPanel .PeopleAnalysis{
    height: 1.72rem;
}
.commonPanel .PeopleAnalysis .ageAnalysisView{
    height: 1.48rem;
}

.commonPanel .PeopleAnalysis .ageAnalysisView .ageAnalysis{
    float:left
}
.commonPanel .PeopleAnalysis .ageAnalysisView .ageAnalysisList{
    float:left;
    width: 2.1rem;
}
.commonPanel .PeopleAnalysis .ageAnalysisView .ageAnalysisList li{
    width: 2.1rem;
    height: 0.24rem;
    line-height: 0.24rem;
    background: url(../img/panel/ageAnalysisLine.png) no-repeat 100%/100%;
    padding: 1px 0;
}
.commonPanel .PeopleAnalysis .ageAnalysisView .ageAnalysisList li .item{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 0.22rem;
    color: #5dbef6;
}
.ageAnalysisList li .item>div {
    float: left;
}
.ageAnalysisList li .item .index{
    font-family: DINEngschriftStd;
    font-size: 0.16rem;
    width: 0.18rem;
}
.ageAnalysisList li .item .ageAnalysisTitle {
    font-family: '微软雅黑';
    font-size: 0.12rem;
    width: 0.8rem;
}

.commonPanel .PeopleAnalysis .ageAnalysisView .ageAnalysisList li.active{
    background: url(../img/panel/ageAnalysisRedLine.png) no-repeat 100%/100%;
}
.commonPanel .PeopleAnalysis .ageAnalysisView .ageAnalysisList li.active .item{
    color: #FFF;
    background: url(../img/panel/ageAnalysisListRedBg.png) no-repeat 100%/100%;
}

.commonPanel .PeopleAnalysis .sexAnalysisView,
.commonPanel .PeopleAnalysis .personnelAnalysisView {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.commonPanel .PeopleAnalysis .sexAnalysisView>div,
.commonPanel .PeopleAnalysis .personnelAnalysisView>div {
    float: left;
}
.commonPanel .PeopleAnalysis .sexAnalysisView .hujiAnalysis {
   float: right;
}



.commonPanel .PowerAnalysis{
    height: 1.26rem;
}
.commonPanel .TodayAnalysis{
    height: 1.86rem;
}
.commonPanel .WeekAnalysis{
    height: 1.6rem;
}
.commonPanel .realtimeAnalysis,
.commonPanel .SafeAnalysis{
    height: 1.45rem;
}
.commonPanel .content .canvasView{
    width:1.8rem;
    height:1.6rem;
    margin-top: -0.1rem;
}
.commonPanel .content .canvasView1 {
    width: 4rem;
    height: 1.4rem;
}

/* 感知总数 - 面板 */
.PanelPerception{
    position: absolute;
    top: 0.6rem;
    right: 0.1rem;
    z-index: 1;
    height: 0.5rem;
    background: #120912 linear-gradient(0deg, 
		#120938 0%, 
        #061336 100%);
    border-radius: .03rem;
    text-align: center;
}
.PanelPerception .text{
    font-size: .12rem;
    line-height: 0.18rem;
    color: #5dbef6;
}
.PanelPerception .num{
    line-height: 0.2rem;
    font-size: .16rem;
    color: #71f0ff;
}
.PanelPerception li{
    margin-top: 0.06rem;
}
.PanelPerception .total{
    position: relative;
    height: 100%;
    float: left;
    overflow: hidden;
}
.PanelPerception .total::after{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    display: block;
	background-image: linear-gradient(0deg, 
		#091638 0%, 
		#25274b 51%, 
		#091638 100%);
}
.PanelPerception .total li{
    padding: 0 .15rem;
    float: left;
}
.PanelPerception .total li .num{
    color: #ffcb54;
}

.PanelPerception .list{
    float: left;
}
.PanelPerception .list li{
    width: 0.56rem;
    float: left;
    
}

/* MapPanel 地图 */
.MapPanelController{
    position: absolute;
    top: 0.6rem;
    left: 0.1rem;
    z-index: 2;
    height: 0.5rem;
    background: #120912 linear-gradient(0deg, 
 #120938 0%, 
 #061336 100%);
    border-radius: .03rem;
    text-align: center;
}
.MapPanelController .item{
    position: relative;
    float: left;
    color: #fff;
    font-size: .12rem;
    padding: 0 .1rem;
    height: 100%;
    cursor: pointer;
}
.MapPanelController .item::after{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    display: block;
    background-image: linear-gradient(0deg, 
    #091638 0%, 
    #25274b 51%, 
    #091638 100%);
}
.MapPanelController .item .sub{
    height: .5rem;
    line-height: 0.5rem;
}
.MapPanelController .item .sub>i{
    width: 0.14rem;
    height: 0.14rem;
    display: inline-block;
    background: url(../img/panel/MapPanelCtrl.png) no-repeat;
    background-size: auto .28rem;
    vertical-align: middle;
    margin-right: 0.04rem;
}
.MapPanelController .item .sub>i.icon-house{
    background-position: 0 0;
}
.MapPanelController .item .sub>i.icon-company{
    background-position: -.14rem 0;
}
.MapPanelController .item .sub>i.icon-power{
    background-position: -.28rem 0;
}
.MapPanelController .item .sub>i.icon-facility{
    background-position: -.42rem 0;
}
.MapPanelController .item .sub>i.icon-io{
    background-position: -.56rem 0;
}
.MapPanelController .item .sub>i.icon-manhole{
    background-position: -.7rem 0;
}
.MapPanelController .item:hover .sub{
    color: #5dbef6;
}
.MapPanelController .item:hover .sub>i{
    background-position-y: -.14rem;
}

.PVGContent{
    height: 1.6rem;
}

/* zTree search */
.SearchTree{
    display: none;
}
.Search-ztree-ul a{
	color:#5dbef6;
}
.Search-ztree-ul .search-ztree-li .button-arrow{
	display:inline-block;
	vertical-align:middle;
	width:0.11rem;
	height:0.06rem;
	background:url(/template/img/communityNew/arrow-icon.png) no-repeat;
	background-size:0.11rem 0.06rem;
	cursor:pointer;
}
.Search-ztree-ul .search-ztree-li>a>.saerchZtree-icon{
	display:inline-block;
	vertical-align:middle;
	width:0.2rem;
	height:0.2rem;
	background:url(/template/img/communityNew/ztree-icon.png) no-repeat;
	background-position:0 0;
	background-size:0.2rem 1.2rem;
}
.Search-ztree-ul .search-ztree-li-ul .button-arrow{
	margin-left: 0.18rem;
}
.Search-ztree-ul .search-ztree-li-ul-li>a>.saerchZtree-icon{
	display:inline-block;
	vertical-align:middle;
	width:0.2rem;
	height:0.2rem;
	background:url(/template/img/communityNew/ztree-icon.png) no-repeat;
	background-position:0 -0.2rem;
	background-size:0.2rem 1.2rem;
}
.Search-ztree-ul .search-ztree-li-last{
	position:relative;
}
.Search-ztree-ul .search-ztree-li-last>a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.Search-ztree-ul .search-ztree-li-last>a>.saerchZtree-icon{
	display:inline-block;
	vertical-align:middle;
	width:0.2rem;
	height:0.2rem;
	background:url(/template/img/communityNew/ztree-icon.png) no-repeat;
	background-position:0 -0.4rem;
	background-size:0.2rem 1.2rem;
	margin-left: 0.32rem;
}
.Search-ztree-ul .search-ztree-li-last>a>searchZtree-text{
    overflow: hidden;
    text-overflow: ellipsis;
}
.Search-ztree-ul .search-ztree-li-last:hover{
	background:-webkit-linear-gradient(left,#11b3ff,#0076ef);
    background:-moz-linear-gradient(left,#11b3ff,#0076ef);
    background:-ms-linear-gradient(left,#11b3ff,#0076ef);
    background:linear-gradient(left,#11b3ff,#0076ef);
}
.Search-ztree-ul .search-ztree-li-last:hover a{
    color: #fff;
}
.Search-ztree-ul .oper-btn{
	position:absolute;
	top:0.02rem;
	right:0.25rem;
	display:none;
}
.Search-ztree-ul .search-ztree-li-last:hover .oper-btn{
	display:block;
}
.Search-ztree-ul .oper-btn i{
	display:inline-block;
	vertical-align:middle;
	width:0.2rem;
	height:0.2rem;
	margin-right:0.1rem;
	background:url(/template/img/communityNew/ztree-icon.png) no-repeat;
	background-position:0 -0.6rem;
	background-size:0.2rem 1.2rem;
	cursor:pointer;
}
.Search-ztree-ul .oper-btn i.tag-icon{
	background-position:0 -0.8rem;
}
.Search-ztree-ul .oper-btn i.threeMap-icon{
	background-position:0 -1rem;
}