/* line 1, ../scss_default/faceTrace2.scss */
.face-trace {
  padding: 20px;
  overflow: hidden;
}
/* line 4, ../scss_default/faceTrace2.scss */
.face-trace .fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 9, ../scss_default/faceTrace2.scss */
.face-trace .form-top {
  padding: 10px 20px;
}
/* line 11, ../scss_default/faceTrace2.scss */
.face-trace .form-top .form-list {
  padding: 10px 0;
}
/* line 13, ../scss_default/faceTrace2.scss */
.face-trace .form-top .form-list .control-label {
  display: inline-block;
  min-width: 70px;
  margin: 0 10px 0 24px;
  color: #999;
}
/* line 19, ../scss_default/faceTrace2.scss */
.face-trace .form-top .form-list .date-scope {
  display: inline-block;
  vertical-align: middle;
}
/* line 22, ../scss_default/faceTrace2.scss */
.face-trace .form-top .form-list .date-scope .selected {
  background: #0baafc;
  color: #fff;
}
/* line 26, ../scss_default/faceTrace2.scss */
.face-trace .form-top .form-list .date-scope .date-item {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  margin-right: 6px;
  border-radius: 4px;
  cursor: pointer;
}
/* line 33, ../scss_default/faceTrace2.scss */
.face-trace .form-top .form-list .date-scope .date-item:hover {
  background-color: #ccc;
}
/* line 39, ../scss_default/faceTrace2.scss */
.face-trace .form-top .form-list .inline-block-middle {
  display: inline-block;
  vertical-align: middle;
}
/* line 42, ../scss_default/faceTrace2.scss */
.face-trace .form-top .form-list .inline-block-middle .conditionInput {
  background: url(../img/canlendar.png) 151px no-repeat;
}
/* line 48, ../scss_default/faceTrace2.scss */
.face-trace .content-left {
  width: 200px;
  position: absolute;
  float: left;
  top: 110px;
  bottom: 20px;
  background-color: #fff;
  min-height: 300px;
}
/* line 56, ../scss_default/faceTrace2.scss */
.face-trace .content-left .list-title {
  height: 0.36rem;
  line-height: 0.36rem;
  background-color: #f7f7f7;
  font-size: 0.14rem;
  font-weight: bold;
  color: #007ee9;
  border-top: #e1e1e1 solid 0.01rem;
  border-bottom: #e1e1e1 solid 0.01rem;
}
/* line 66, ../scss_default/faceTrace2.scss */
.face-trace .content-left .ztree-list {
  width: 100%;
  overflow-y: auto;
}
/* line 72, ../scss_default/faceTrace2.scss */
.face-trace .content-left .ztree-list #cameraTree {
  height: auto;
}
/* line 75, ../scss_default/faceTrace2.scss */
.face-trace .content-left .ztree-list #cameraTree li span.button.pIcon02_ico_open, .face-trace .content-left .ztree-list #cameraTree li span.button.pIcon02_ico_close {
  margin-right: 0.02rem;
  width: 0.12rem;
  height: 0.14rem;
  background: url(../img/home/homemap/base.png) -0.07rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 84, ../scss_default/faceTrace2.scss */
.face-trace .content-left .ztree-list #cameraTree li span.button.icon02_ico_docu {
  margin-right: 0.02rem;
  width: 0.12rem;
  height: 0.14rem;
  background: url(../img/home/homemap/base.png) -0.07rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 94, ../scss_default/faceTrace2.scss */
.face-trace .content-left .ztree-list .ztree * {
  font-size: 0.12rem;
}
/* line 100, ../scss_default/faceTrace2.scss */
.face-trace .content-right {
  width: 86%;
  margin-left: 10px;
  float: right;
  right: 20px;
  top: 110px;
  bottom: 20px;
  position: absolute;
  min-height: 300px;
  background-color: #fff;
}
/* line 110, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list {
  padding: 20px 23px;
  position: relative;
}
/* line 113, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item {
  float: left;
  width: 130px;
  height: 210px;
  padding: 3px;
  border: solid 1px #f4f4f4;
  margin: 0 13.8px 15px 0;
  background-color: #f9f9f9;
  position: relative;
  -webkit-transition: border-color,box-shadow .3s ease 0s;
  -os-transition: border-color,box-shadow .3s ease 0s;
  -moz-transition: border-color,box-shadow .3s ease 0s;
  -mstransition: border-color,box-shadow .3s ease 0s;
  transition: border-color,box-shadow .3s ease 0s;
}
/* line 127, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .img-container {
  display: block;
  width: 100%;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  background: url("../img/home/homemap/person-default.png") no-repeat center #f1f0f0;
}
/* line 134, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .img-container img {
  width: auto;
  height: 100%;
  margin: 0px 0px 0px -13.366px;
  display: inline;
}
/* line 142, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .info {
  display: block;
  text-indent: 2px;
  height: 25px;
}
/* line 147, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .time {
  line-height: 28px;
}
/* line 150, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .addr {
  line-height: 23px;
}
/* line 154, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .toolbar {
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: 55px;
  width: 95%;
  height: 30px;
  margin: 0 3px;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 5px;
  line-height: 30px;
  color: #fff;
  box-sizing: border-box;
  display: none;
}
/* line 168, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .toolbar i, .face-trace .content-right .log-pic-list .log-pic-item .toolbar span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* line 173, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .toolbar .fr {
  float: right;
}
/* line 175, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item .toolbar .fr .list-full {
  width: 14px;
  height: 12px;
  background: url(../img/home/homemap/full.png) no-repeat;
  margin-right: 10px;
}
/* line 184, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item:hover {
  border: solid 1px #e7e7e7;
  box-shadow: 0 0 8px #dfdfdf;
}
/* line 188, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item:hover .img-container img {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 198, ../scss_default/faceTrace2.scss */
.face-trace .content-right .log-pic-list .log-pic-item:hover .toolbar {
  display: block;
}

/* line 207, ../scss_default/faceTrace2.scss */
.fullscreen-layer {
  padding: 0.05rem;
  overflow: hidden;
}
/* line 210, ../scss_default/faceTrace2.scss */
.fullscreen-layer img {
  width: 100%;
}
