/* line 2, ../scss_default/faceMac2.scss */
.faceMacContainer.slider .left {
  margin-left: -280px;
  box-shadow: none;
}
/* line 5, ../scss_default/faceMac2.scss */
.faceMacContainer.slider .left .change {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
/* line 12, ../scss_default/faceMac2.scss */
.faceMacContainer.slider .maphold {
  width: 100% !important;
  margin-left: 0 !important;
}

/* line 18, ../scss_default/faceMac2.scss */
.faceMacContainer {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* line 22, ../scss_default/faceMac2.scss */
.faceMacContainer .common, .faceMacContainer .left .leftContent .head .guijikehua .touxiang, .faceMacContainer .left .leftContent .leftMiddle .case .first .add, .faceMacContainer .left .leftContent .leftMiddle .case .second .delete, .faceMacContainer .left .leftContent .rectResult .select_all a:last-child, .faceMacContainer .maphold .header .cityParter i {
  background: url(../img/map/collide.png) no-repeat;
}
/* line 25, ../scss_default/faceMac2.scss */
.faceMacContainer .spirit, .faceMacContainer .maphold .header .right .toolItem a .maptools-icon-select, .faceMacContainer .maphold .header .right .toolItem a .maptools-icon-package, .faceMacContainer .maphold .header .right .toolItem a .maptools-icon-fullscreen, .faceMacContainer .maphold .header .right .toolItem .downMenu ul li .maptools-icon-region, .faceMacContainer .maphold .header .right .toolItem .downMenu ul li .maptools-icon-lasso, .faceMacContainer .maphold .header .right .toolItem .downMenu ul li .maptools-icon-rang {
  background: url(../img/map/sprite.png) no-repeat;
}
/* line 28, ../scss_default/faceMac2.scss */
.faceMacContainer .guodu, .faceMacContainer .left, .faceMacContainer .maphold {
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
/* line 34, ../scss_default/faceMac2.scss */
.faceMacContainer .left {
  width: 280px;
  height: 100%;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  float: left;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
/* line 43, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #959595;
}
/* line 48, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .head {
  font-size: 12px;
}
/* line 50, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .head .guijikehua {
  height: 40px;
  line-height: 40px;
}
/* line 53, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .head .guijikehua .headText {
  vertical-align: middle;
}
/* line 56, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .head .guijikehua .touxiang {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  display: inline-block;
  background-position: -88px -104px;
  margin-left: 10px;
}
/* line 66, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .head .tiaojian {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
/* line 71, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .head .tiaojian .tiaojianText {
  margin-left: 10px;
}
/* line 74, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .head .tiaojian .menuUp {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
/* line 80, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .head .tiaojian .menuDown {
  width: 22px;
  height: 22px;
  cursor: pointer;
  float: right;
  margin-top: 9px;
  margin-right: 5%;
  background: url(../img/map/menu_down.png) no-repeat;
}
/* line 92, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
}
/* line 96, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .tool {
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px dashed #dedede;
}
/* line 103, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .tool p {
  padding: 0 10px;
  text-align: left;
  color: #888;
}
/* line 108, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .tool .collide-choosetool {
  padding: 10px;
  overflow: hidden;
}
/* line 111, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .tool .collide-choosetool label {
  float: left;
  margin-top: 5px;
}
/* line 115, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .tool .collide-choosetool .collide-choosetool-square {
  float: left;
  width: 30px;
  height: 30px;
  background: url(../img/map/square.png) center center no-repeat;
  margin-right: 10px;
}
/* line 122, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .tool .collide-choosetool .collide-choosetool-circle {
  float: left;
  width: 30px;
  height: 30px;
  background: url(../img/map/circle.png) center center no-repeat;
}
/* line 131, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case input {
  margin: 0 5px;
  border-radius: 4px;
  width: 164px;
  min-width: 164px;
}
/* line 137, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case .first {
  padding: 10px 10px 0 10px;
}
/* line 139, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case .first .add {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  vertical-align: middle;
  background-position: -88px 0;
}
/* line 148, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case .first ul {
  width: 240px;
  margin-left: 36px;
}
/* line 152, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case .first ul li a {
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 159, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case .second {
  margin-left: 74px;
  margin-top: 10px;
}
/* line 162, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case .second .delete {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  vertical-align: middle;
  background-position: -88px -78px;
}
/* line 171, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case .second ul {
  width: 240px;
  margin-left: -36px;
}
/* line 175, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .case .second ul li a {
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 183, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .query {
  width: 260px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  height: 36px;
  margin-top: 10px;
  line-height: 36px;
  background-color: #00a0e9;
  border-radius: 3px;
  color: #fff;
}
/* line 194, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .leftMiddle .query:hover {
  background-color: #0D89C9;
}
/* line 200, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult {
  margin-top: 10px;
  overflow-y: auto;
}
/* line 203, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .select_all {
  height: 16px;
  margin: 10px 15px;
}
/* line 206, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .select_all label {
  float: left;
  height: 14px;
  padding-top: 1px;
}
/* line 210, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .select_all label input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}
/* line 216, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .select_all a:first-child {
  float: left;
  margin-left: -5px;
}
/* line 220, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .select_all a:last-child {
  float: right;
  width: 14px;
  height: 14px;
  background-position: -88px -52px;
}
/* line 229, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList {
  overflow-y: hidden;
}
/* line 231, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem {
  font-size: 12px;
  margin: 5px;
  border: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  border-radius: 3px;
  overflow: hidden;
}
/* line 238, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem div {
  line-height: 30px;
  overflow: hidden;
  height: 30px;
  padding-left: 5px;
  background-color: #F3F3F3;
  border-bottom: 1px solid #e9e9e9;
}
/* line 245, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem div input {
  margin-left: 5px;
}
/* line 248, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem div h1 {
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
}
/* line 254, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem div a:first-child {
  float: left;
  margin-top: 5px;
}
/* line 258, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem div a:last-child {
  width: 10px;
  height: 10px;
  margin-left: 174px;
  display: inline-block;
  background: url(../img/map/remove.png) no-repeat;
}
/* line 267, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem ul {
  padding: 5px;
  background: #fff;
}
/* line 270, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem ul li {
  margin: 5px 0;
  padding-left: 5px;
}
/* line 274, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem ul li span:last-child {
  display: inline-block;
  width: 130px;
}
/* line 278, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem ul li span:first-child {
  display: inline-block;
  width: 60px;
  text-align: right;
  vertical-align: top;
}
/* line 285, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .searchList .collideItem ul li em {
  display: inline-block;
  width: 130px;
}
/* line 293, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .query {
  width: 260px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  height: 36px;
  margin-top: 10px;
  line-height: 36px;
  background-color: #00a0e9;
  border-radius: 3px;
  color: #fff;
}
/* line 304, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .rectResult .query:hover {
  background-color: #0D89C9;
}
/* line 310, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .header {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}
/* line 314, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .header i {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-right: 20px;
  cursor: pointer;
  background: url(../img/map/left.png) no-repeat;
}
/* line 323, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList {
  overflow-y: auto;
}
/* line 325, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList .collideItem {
  font-size: 12px;
  margin: 5px;
  border: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  border-radius: 3px;
  overflow: hidden;
}
/* line 332, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList .collideItem div {
  line-height: 30px;
  overflow: hidden;
  height: 30px;
  padding-left: 5px;
  background-color: #F3F3F3;
  border-bottom: 1px solid #e9e9e9;
}
/* line 339, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList .collideItem div h1 {
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
}
/* line 344, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList .collideItem div a {
  width: 10px;
  height: 10px;
  margin-left: 148px;
  display: inline-block;
  background: url(../img/map/remove.png) no-repeat;
}
/* line 352, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList .collideItem ul {
  padding: 5px;
  background: #fff;
}
/* line 355, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList .collideItem ul li {
  margin: 5px 0;
  padding-left: 5px;
}
/* line 358, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList .collideItem ul li span {
  text-align: right;
  vertical-align: top;
}
/* line 362, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .queryList .collideItem ul li span:first-child {
  width: 110px;
}
/* line 370, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .noResult {
  text-align: center;
}
/* line 375, ../scss_default/faceMac2.scss */
.faceMacContainer .left .leftContent .queryResult .pagination li a {
  padding: 6px 6px;
}
/* line 382, ../scss_default/faceMac2.scss */
.faceMacContainer .left .change {
  width: 10px;
  height: 40px;
  z-index: 1000;
  top: 45%;
  left: 280px;
  background: url(../img/map/slider.png) no-repeat;
  position: absolute;
  cursor: pointer;
  box-shadow: 2px 0 6px #cbc8c8;
}
/* line 394, ../scss_default/faceMac2.scss */
.faceMacContainer .areaTemplate {
  background-color: #fff;
  color: #000;
  opacity: 1;
}
/* line 398, ../scss_default/faceMac2.scss */
.faceMacContainer .areaTemplate .npmap-dialog-titlebar {
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
}
/* line 404, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold {
  height: 100%;
  margin-left: 280px;
  position: relative;
}
/* line 409, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header {
  z-index: 2;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #e1e1e1;
  padding: 5px;
}
/* line 416, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .cityParter {
  margin-left: 8px;
  padding: 5px;
  position: absolute;
}
/* line 420, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .cityParter i {
  display: inline-block;
  vertical-align: -3px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-position: -88px -26px;
}
/* line 430, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .searchTool {
  width: 500px;
  margin: auto;
}
/* line 433, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .searchTool input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 438, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .searchTool .searchButton {
  background-color: #00a0e9;
  position: relative;
}
/* line 441, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .searchTool .searchButton:hover {
  background-color: #00afff;
}
/* line 446, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right {
  position: absolute;
  right: 0;
  top: 7px;
}
/* line 450, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolLeft {
  float: left;
}
/* line 456, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .selectTool:hover .downMenu,
.faceMacContainer .maphold .header .right .commonTool:hover .downMenu {
  display: block;
}
/* line 462, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem a {
  display: inline-block;
  padding: 0 15px;
  color: #000;
  cursor: pointer;
  border: 1px solid transparent;
  border-top: 0;
  margin-top: 3px;
  padding-bottom: 3px;
}
/* line 471, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem a .maptools-icon-select {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  display: inline-block;
  background-position: 0 -88px;
}
/* line 479, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem a .maptools-icon-package {
  display: inline-block;
  background-position: 0 -43px;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
/* line 488, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem a span:last-child {
  margin-left: 3px;
  vertical-align: middle;
}
/* line 493, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem a .maptools-icon-fullscreen {
  height: 13px;
  width: 13px;
  vertical-align: middle;
  display: inline-block;
  background-position: 0 -28px;
}
/* line 501, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem a .exit-Fullscreen {
  background-position: 0 -13px;
}
/* line 505, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem .downMenu {
  display: none;
  position: absolute;
  margin-left: 15px;
  z-index: 100;
  cursor: pointer;
}
/* line 512, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem .downMenu ul {
  border: 1px solid #CCCCCC;
  background: rgba(255, 255, 255, 0.9);
}
/* line 515, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem .downMenu ul li {
  text-align: center;
  padding: 3px 5px;
}
/* line 518, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem .downMenu ul li:hover {
  background: #f1f1f1;
}
/* line 521, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem .downMenu ul li .maptools-icon-region {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  display: inline-block;
  background-position: 0 -73px;
}
/* line 530, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem .downMenu ul li span:last-child {
  margin-left: 3px;
}
/* line 534, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem .downMenu ul li .maptools-icon-lasso {
  display: inline-block;
  background-position: 0 0;
  width: 13px;
  height: 11px;
  vertical-align: middle;
}
/* line 542, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold .header .right .toolItem .downMenu ul li .maptools-icon-rang {
  display: inline-block;
  background-position: 0 -58px;
  width: 8px;
  height: 13px;
  vertical-align: middle;
}
/* line 556, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId {
  width: 100%;
  height: 100%;
}
/* line 559, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .olMapViewport {
  z-index: 0;
}
/* line 563, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect {
  background-color: #fff;
  position: absolute;
  font-size: 12px;
  right: 5px;
  z-index: 1;
  margin-top: 50px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 579, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect .title {
  line-height: 30px;
  color: #fff;
  background-color: #00a0e9;
}
/* line 583, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect .title span {
  margin-left: 18px;
}
/* line 587, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul {
  vertical-align: middle;
}
/* line 589, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul .isCurrentLi {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 593, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  cursor: pointer;
}
/* line 599, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li .text {
  vertical-align: top;
}
/* line 603, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li .comm {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../img/map/tool.png) no-repeat;
}
/* line 609, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.kakouHover, .faceMacContainer .maphold #faceMacId .layerSelect ul li.kakou:hover {
  color: #00a0e9;
}
/* line 611, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.kakouHover .comm, .faceMacContainer .maphold #faceMacId .layerSelect ul li.kakou:hover .comm {
  background-position: -20px 0 !important;
}
/* line 616, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.kakou .comm {
  background-position: 0 0;
}
/* line 623, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.jizhanHover, .faceMacContainer .maphold #faceMacId .layerSelect ul li.jizhan:hover {
  color: #ff7123;
}
/* line 625, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.jizhanHover .comm, .faceMacContainer .maphold #faceMacId .layerSelect ul li.jizhan:hover .comm {
  background-position: -20px -20px !important;
}
/* line 630, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.jizhan .comm {
  background-position: 0 -20px;
}
/* line 637, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.gpsHover, .faceMacContainer .maphold #faceMacId .layerSelect ul li.gps:hover {
  color: #179b09;
}
/* line 639, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.gpsHover .comm, .faceMacContainer .maphold #faceMacId .layerSelect ul li.gps:hover .comm {
  background-position: -20px -60px !important;
}
/* line 644, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.gps .comm {
  background-position: 0 -60px;
}
/* line 652, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.internetBarHover, .faceMacContainer .maphold #faceMacId .layerSelect ul li.internetBar:hover {
  color: #7c62f6;
}
/* line 654, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.internetBarHover .comm, .faceMacContainer .maphold #faceMacId .layerSelect ul li.internetBar:hover .comm {
  background-position: -60px 0 !important;
}
/* line 659, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.internetBar .comm {
  background-position: -40px 0;
}
/* line 666, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.wifiHover, .faceMacContainer .maphold #faceMacId .layerSelect ul li.wifi:hover {
  color: #c02ddb;
}
/* line 668, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.wifiHover .comm, .faceMacContainer .maphold #faceMacId .layerSelect ul li.wifi:hover .comm {
  background-position: -20px -40px !important;
}
/* line 673, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.wifi .comm {
  background-position: 0 -40px;
}
/* line 680, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.hotelHover, .faceMacContainer .maphold #faceMacId .layerSelect ul li.hotel:hover {
  color: #e5004f;
}
/* line 682, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.hotelHover .comm, .faceMacContainer .maphold #faceMacId .layerSelect ul li.hotel:hover .comm {
  background-position: -60px -20px !important;
}
/* line 687, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect ul li.hotel .comm {
  background-position: -40px -20px;
}
/* line 696, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect .line {
  width: 100%;
  border-top: 1px solid #ececec;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 702, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect .button-group {
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 705, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .layerSelect .button-group .btn-cancel {
  margin-left: 10px;
}
/* line 712, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .changeTheme {
  height: 40px;
  background-color: #fff;
  position: absolute;
  right: 5px;
  z-index: 500;
  margin-top: 95px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 726, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .changeTheme div {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}
/* line 730, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .changeTheme div:first-child {
  margin-left: 10px;
}
/* line 733, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .changeTheme div span {
  float: left;
  cursor: pointer;
}
/* line 737, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .changeTheme div .active {
  background-image: url(../img/login/resurfacing-ico.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: default;
}
/* line 743, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .changeTheme div .color {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 3px;
}
/* line 751, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .changeTheme .original .color {
  background-color: #ffb35b;
}
/* line 756, ../scss_default/faceMac2.scss */
.faceMacContainer .maphold #faceMacId .changeTheme .classic .color {
  background-color: #03060d;
}

/* line 765, ../scss_default/faceMac2.scss */
.collide-layer {
  display: block;
  overflow: hidden;
}
/* line 769, ../scss_default/faceMac2.scss */
.collide-layer .profile .avatar {
  height: 100%;
  text-align: center;
}
/* line 774, ../scss_default/faceMac2.scss */
.collide-layer .profile .avatar img {
  width: 104px;
  height: 104px;
  overflow: hidden;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  border-radius: 52px;
  background: url("../img/people-info-avatar.png") 0 0 no-repeat;
}
/* line 783, ../scss_default/faceMac2.scss */
.collide-layer .profile .avatar img.male {
  background-position: 0 0;
}
/* line 786, ../scss_default/faceMac2.scss */
.collide-layer .profile .avatar img.female {
  background-position: -104px 0;
}
/* line 791, ../scss_default/faceMac2.scss */
.collide-layer .profile .detail {
  height: 100%;
  padding: 5px 10px;
}
/* line 795, ../scss_default/faceMac2.scss */
.collide-layer .profile .detail dl {
  font-size: 12px;
  border-bottom: 1px dashed #ddd;
  overflow: hidden;
  margin-bottom: 0;
}
/* line 800, ../scss_default/faceMac2.scss */
.collide-layer .profile .detail dl:last-of-type {
  border: 0;
}
/* line 804, ../scss_default/faceMac2.scss */
.collide-layer .profile .detail dl dt,
.collide-layer .profile .detail dl dd {
  float: left;
  line-height: 35px;
}
/* line 808, ../scss_default/faceMac2.scss */
.collide-layer .profile .detail dl dt {
  width: 90px;
  color: #999;
  font-weight: normal;
  text-align: center;
}
/* line 814, ../scss_default/faceMac2.scss */
.collide-layer .profile .detail dl dd {
  min-width: 200px;
  color: #343434;
}
/* line 817, ../scss_default/faceMac2.scss */
.collide-layer .profile .detail dl dd:after {
  content: '.';
  visibility: hidden;
}
