/* line 2, ../scss_default/homeMain.scss */
.homeMain.slider .contain-left {
  margin-left: -2.8rem;
  box-shadow: none;
}
/* line 5, ../scss_default/homeMain.scss */
.homeMain.slider .contain-left .change {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/* line 14, ../scss_default/homeMain.scss */
.homeMain {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* line 18, ../scss_default/homeMain.scss */
.homeMain .fn-ic {
  display: inline-block;
  overflow: hidden;
  background: url("../img/home/homemap/person-default.png") no-repeat center;
}
/* line 22, ../scss_default/homeMain.scss */
.homeMain .fn-ic img {
  width: auto;
  height: 100%;
  display: inline;
  cursor: pointer;
}
/* line 30, ../scss_default/homeMain.scss */
.homeMain .fn-ic:hover img {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 41, ../scss_default/homeMain.scss */
.homeMain .fn-icon {
  background: url("../img/home/homemap/pic.png") no-repeat;
}
/* line 44, ../scss_default/homeMain.scss */
.homeMain .more {
  display: inline-block;
  width: 0.46rem;
  height: 0.34rem;
  line-height: 0.34rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  float: right;
  text-align: right;
  color: #999999;
  cursor: pointer;
}
/* line 56, ../scss_default/homeMain.scss */
.homeMain .more .more-arrow-icon {
  display: inline-block;
  width: 0.05rem;
  height: 0.08rem;
  margin-left: 0.06rem;
  background-position: -1.37rem -1.34rem;
}
/* line 64, ../scss_default/homeMain.scss */
.homeMain .fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 69, ../scss_default/homeMain.scss */
.homeMain h1, .homeMain h2, .homeMain h3, .homeMain h4, .homeMain h5, .homeMain h6, .homeMain p {
  margin: 0;
}
/* line 72, ../scss_default/homeMain.scss */
.homeMain .cameraTemplate {
  color: #fff;
  background-color: rgba(10, 112, 200, 0.8);
  border-radius: 0.02rem;
}
/* line 77, ../scss_default/homeMain.scss */
.homeMain .cameraTemplate .npmap-dialog-titlebar .close {
  right: 0.05rem;
  top: 60%;
  background: url(../img/map/close2.png) no-repeat scroll 0 0;
}
/* line 84, ../scss_default/homeMain.scss */
.homeMain .cameraTemplate .npmap-dialog-content {
  padding: 0 0.02rem;
}
/* line 86, ../scss_default/homeMain.scss */
.homeMain .cameraTemplate .npmap-dialog-content img {
  width: 0.76rem;
}
/* line 91, ../scss_default/homeMain.scss */
.homeMain .wifiTemplate {
  line-height: 0.30rem;
  text-align: center;
}
/* line 97, ../scss_default/homeMain.scss */
.homeMain .kakouTemplate .npmap-dialog-content {
  padding: 0 0.02rem;
}
/* line 99, ../scss_default/homeMain.scss */
.homeMain .kakouTemplate .npmap-dialog-content img {
  width: 1.54rem;
  height: 0.86rem;
}
/* line 105, ../scss_default/homeMain.scss */
.homeMain #mapId {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 110, ../scss_default/homeMain.scss */
.homeMain i {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: url(../img/home/homemap/base.png) no-repeat;
}
/* line 116, ../scss_default/homeMain.scss */
.homeMain .jiankong-icon {
  width: 0.12rem;
  height: 0.14rem;
  background-position: -0.31rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 122, ../scss_default/homeMain.scss */
.homeMain .wifi-icon {
  width: 0.18rem;
  height: 0.14rem;
  background-position: -1.98rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 128, ../scss_default/homeMain.scss */
.homeMain .kakou-icon {
  width: 0.21rem;
  height: 0.12rem;
  background-position: -2.56rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 134, ../scss_default/homeMain.scss */
.homeMain .datetime {
  background: url(../img/canlendar.png) 1.35rem no-repeat;
  background-size: 0.15rem 0.16rem;
  background-color: #fff;
}

/* line 142, ../scss_default/homeMain.scss */
.homeMain-contain-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.8rem;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.1rem #888888;
}
/* line 151, ../scss_default/homeMain.scss */
.homeMain-contain-left .change {
  width: 0.1rem;
  height: 0.4rem;
  top: 45%;
  left: 2.8rem;
  background: url(../img/map/slider.png) no-repeat;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  box-shadow: 0.02rem 0 0.06rem #cbc8c8;
}
/* line 163, ../scss_default/homeMain.scss */
.homeMain-contain-left .head-tab {
  height: 0.46rem;
  line-height: 0.46rem;
  border-bottom: #ebebeb solid 0.01rem;
}
/* line 167, ../scss_default/homeMain.scss */
.homeMain-contain-left .head-tab li {
  width: 33%;
  text-align: center;
  cursor: pointer;
}
/* line 171, ../scss_default/homeMain.scss */
.homeMain-contain-left .head-tab li i {
  margin-right: 0.05rem;
  vertical-align: text-bottom;
}
/* line 176, ../scss_default/homeMain.scss */
.homeMain-contain-left .head-tab li.active {
  color: #007ee9;
  border-bottom: #007ee9 solid 0.03rem;
}
/* line 179, ../scss_default/homeMain.scss */
.homeMain-contain-left .head-tab li.active .jiankong-icon {
  background-position: -0.07rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 183, ../scss_default/homeMain.scss */
.homeMain-contain-left .head-tab li.active .wifi-icon {
  background-position: -1.62rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 187, ../scss_default/homeMain.scss */
.homeMain-contain-left .head-tab li.active .kakou-icon {
  background-position: -2.35rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 193, ../scss_default/homeMain.scss */
.homeMain-contain-left .search-group {
  padding: 0.1rem 0.1rem 0.1rem 0;
  margin: 0;
}
/* line 196, ../scss_default/homeMain.scss */
.homeMain-contain-left .search-group .control-label {
  text-align: right;
  min-width: 0.84rem;
}
/* line 200, ../scss_default/homeMain.scss */
.homeMain-contain-left .search-group .form-control {
  width: 1.74rem;
  min-width: 0rem;
}
/* line 206, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .list-title {
  height: 0.36rem;
  line-height: 0.36rem;
  background-color: #f7f7f7;
  font-size: 0.14rem;
  font-weight: bold;
  color: #007ee9;
  border-top: #e1e1e1 solid 0.01rem;
  border-bottom: #e1e1e1 solid 0.01rem;
}
/* line 216, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list, .homeMain-contain-left .resource-list .ztree-list-tree {
  position: absolute;
  width: 100%;
  top: 0.80rem;
  bottom: 0;
  overflow-y: auto;
}
/* line 222, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #cameraTree, .homeMain-contain-left .resource-list .ztree-list-tree #cameraTree {
  height: auto;
}
/* line 225, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #cameraTree li span.button.pIcon02_ico_open, .homeMain-contain-left .resource-list .ztree-list #cameraTree li span.button.pIcon02_ico_close, .homeMain-contain-left .resource-list .ztree-list-tree #cameraTree li span.button.pIcon02_ico_open, .homeMain-contain-left .resource-list .ztree-list-tree #cameraTree li span.button.pIcon02_ico_close {
  margin-right: 0.02rem;
  width: 0.12rem;
  height: 0.14rem;
  background: url(../img/home/homemap/base.png) -0.07rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 234, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #cameraTree li span.button.icon02_ico_docu, .homeMain-contain-left .resource-list .ztree-list-tree #cameraTree li span.button.icon02_ico_docu {
  margin-right: 0.02rem;
  width: 0.12rem;
  height: 0.14rem;
  background: url(../img/home/homemap/base.png) -0.07rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 244, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #wifiTree, .homeMain-contain-left .resource-list .ztree-list-tree #wifiTree {
  height: auto;
}
/* line 247, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #wifiTree li span.button.pIcon03_ico_open, .homeMain-contain-left .resource-list .ztree-list #wifiTree li span.button.pIcon03_ico_close, .homeMain-contain-left .resource-list .ztree-list-tree #wifiTree li span.button.pIcon03_ico_open, .homeMain-contain-left .resource-list .ztree-list-tree #wifiTree li span.button.pIcon03_ico_close {
  width: 0.18rem;
  height: 0.14rem;
  margin-right: 0.02rem;
  background: url(../img/home/homemap/base.png) -1.8rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 256, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #wifiTree li span.button.icon03_ico_docu, .homeMain-contain-left .resource-list .ztree-list-tree #wifiTree li span.button.icon03_ico_docu {
  margin-right: 0.02rem;
  background: url(../img/home/homemap/base.png) -1.8rem 0 no-repeat transparent;
  background-size: 3.64rem 0.25rem;
  vertical-align: middle;
}
/* line 264, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list .ztree *, .homeMain-contain-left .resource-list .ztree-list-tree .ztree * {
  font-size: 0.12rem;
}
/* line 267, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #tree, .homeMain-contain-left .resource-list .ztree-list-tree #tree {
  height: auto;
}
/* line 270, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #tree li span.button.pIcon01_ico_open, .homeMain-contain-left .resource-list .ztree-list #tree li span.button.pIcon01_ico_close, .homeMain-contain-left .resource-list .ztree-list-tree #tree li span.button.pIcon01_ico_open, .homeMain-contain-left .resource-list .ztree-list-tree #tree li span.button.pIcon01_ico_close {
  margin-right: 0.02rem;
  width: 0.14rem;
  height: 0.16rem;
  background: url(../img/home/homemap/base.png) -0.7rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 279, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #tree li span.button.pIcon01_1_ico_open, .homeMain-contain-left .resource-list .ztree-list #tree li span.button.pIcon01_1_ico_close, .homeMain-contain-left .resource-list .ztree-list-tree #tree li span.button.pIcon01_1_ico_open, .homeMain-contain-left .resource-list .ztree-list-tree #tree li span.button.pIcon01_1_ico_close {
  margin-right: 0.02rem;
  width: 0.14rem;
  height: 0.12rem;
  background: url(../img/home/homemap/base.png) -0.56rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 288, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .ztree-list #tree li span.button.icon01_ico_docu, .homeMain-contain-left .resource-list .ztree-list-tree #tree li span.button.icon01_ico_docu {
  margin-right: 0.02rem;
  width: 0.21rem;
  height: 0.12rem;
  background: url(../img/home/homemap/base.png) -2.35rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 301, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .list-li-group .arrow {
  width: 0.07rem;
  height: 0.04rem;
  margin-left: 0.1rem;
  background-position: 0 0;
  background-size: 3.64rem 0.25rem;
}
/* line 308, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .list-li-group .jiankong-icon {
  background-position: -0.07rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 312, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .list-li-group .wifi-icon {
  background-position: -1.8rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 316, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .list-li-group .number {
  color: #007ee9;
}
/* line 320, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten {
  margin-top: 0.06rem;
  font-size: 0.12rem;
}
/* line 323, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten:first-child {
  margin-top: 0.10rem;
}
/* line 326, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime {
  height: 0.34rem;
  width: 2.60rem;
  margin-left: 0.10rem;
  line-height: 0.32rem;
  background-color: #fff;
}
/* line 332, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime .input-group {
  width: 100%;
}
/* line 334, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime .input-group div#condition {
  padding-left: 0;
  border: 0;
}
/* line 337, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime .input-group div#condition .dropdown-select {
  border-radius: 0;
  border-right: 0;
  height: 0.34rem;
}
/* line 344, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime .conditionText {
  display: inline-block;
  float: left;
  width: 30%;
  padding-left: 5%;
  border: 0.01rem solid #dbdbdb;
  border-right: none;
  border-radius: 0.03rem 0 0 0.03rem;
}
/* line 352, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime .conditionText .down {
  width: 0.22rem;
  height: 0.22rem;
  cursor: pointer;
  position: absolute;
  top: 0.07rem;
  background: url(../img/map/menu_down.png) no-repeat;
}
/* line 361, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime .idCard {
  background: none;
}
/* line 364, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime .conditionInput {
  display: inline-block;
  width: 70%;
  height: 0.34rem;
  border-radius: 0 0.03rem 0.03rem 0;
}
/* line 370, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .conten .startTime i {
  display: inline-block;
  position: absolute;
  width: 0.15rem;
  height: 0.16rem;
  right: 0.10rem;
  margin-top: 0.09rem;
  z-index: 2;
  background: url("../img/canlendar.png") no-repeat;
}
/* line 382, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .query {
  width: 2.60rem;
  margin-left: 0.10rem;
  cursor: pointer;
  text-align: center;
  height: 0.36rem;
  margin-top: 0.10rem;
  line-height: 0.36rem;
  background-color: #00a0e9;
  border-radius: 0.03rem;
  color: #fff;
}
/* line 393, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .query:hover {
  background-color: #0D89C9;
}
/* line 397, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .searchResult {
  line-height: 0.40rem;
  margin-left: 0.10rem;
}
/* line 400, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .searchResult span {
  color: #00a0e9;
}
/* line 404, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory {
  bottom: 0;
  top: 2.96rem;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}
/* line 410, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory li {
  border: 0.01rem solid transparent;
  border-top: 0.01rem solid #e1e1e1;
  border-right: 0.01rem solid #e1e1e1;
}
/* line 414, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory li:last-child {
  border-bottom: 0.01rem solid #e1e1e1;
}
/* line 417, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory li div {
  line-height: 0.25rem;
  margin-left: 0.20rem;
}
/* line 421, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory li .lookDetail {
  position: absolute;
  margin-left: 1.88rem;
  margin-top: 0.10rem;
  display: none;
}
/* line 427, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory li .cross {
  color: blue;
}
/* line 431, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory li .isRed {
  color: red;
}
/* line 434, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory li:hover {
  border: 0.01rem solid #198beb;
  background-color: #cce5fb;
}
/* line 437, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .carHistory li:hover .lookDetail {
  display: inline-block;
}
/* line 443, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .pagination-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 448, ../scss_default/homeMain.scss */
.homeMain-contain-left .resource-list .pagination-wrap li a {
  padding: 0.06rem 0.06rem;
}

/* line 455, ../scss_default/homeMain.scss */
.homeMain-container-top {
  position: absolute;
  bottom: 2.40rem;
  top: 0.10rem;
  left: 2.90rem;
  right: 3.63rem;
  background-color: #FFF;
  border: solid 0.01rem #e1e1e1;
}
/* line 464, ../scss_default/homeMain.scss */
.homeMain-container-top #FacePlayer1, .homeMain-container-top #FacePlayer2, .homeMain-container-top #FacePlayer3, .homeMain-container-top #FacePlayer4 {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 471, ../scss_default/homeMain.scss */
.homeMain-container-top .xcStopbugDiv {
  background: #eeeff0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 479, ../scss_default/homeMain.scss */
.homeMain-container-bottom {
  border: solid 0.01rem #e1e1e1;
  height: 2.30rem;
  position: absolute;
  left: 2.90rem;
  bottom: 0;
  right: 3.63rem;
  overflow: hidden;
  background-color: #FFF;
}
/* line 489, ../scss_default/homeMain.scss */
.homeMain-container-bottom .title {
  height: 0.34rem;
  line-height: 0.34rem;
  padding: 0 0.10rem;
  font-size: 0.14rem;
  color: #444444;
  border-bottom: solid 0.01rem #e1e1e1;
  background-color: #EFEFEF;
}
/* line 497, ../scss_default/homeMain.scss */
.homeMain-container-bottom .title .shot-title-icon {
  position: relative;
  top: 0.02rem;
  display: inline-block;
  margin-right: 0.05rem;
  width: 0.20rem;
  height: 0.14rem;
  background: url("../img/home/homemap/pic.png") no-repeat;
  background-position: -1.29rem -1.08rem;
}
/* line 507, ../scss_default/homeMain.scss */
.homeMain-container-bottom .title .time-choose {
  display: inline;
  float: right;
}
/* line 512, ../scss_default/homeMain.scss */
.homeMain-container-bottom .noResult {
  height: 1.96rem;
  background: url(../img/home/homemap/shot-bg.png) no-repeat center white;
}
/* line 516, ../scss_default/homeMain.scss */
.homeMain-container-bottom .m-shotface-list {
  overflow: hidden;
  padding: 0.02rem 0.05rem;
  width: 100%;
  background-color: #fff;
}
/* line 521, ../scss_default/homeMain.scss */
.homeMain-container-bottom .m-shotface-list .m-shot-item {
  float: left;
  width: 0.73rem;
  height: 0.73rem;
  margin: 0.10rem 0.05rem 0 0;
  list-style: none;
}
/* line 527, ../scss_default/homeMain.scss */
.homeMain-container-bottom .m-shotface-list .m-shot-item span {
  width: 0.73rem;
  height: 0.73rem;
}

/* line 537, ../scss_default/homeMain.scss */
.camera-contain-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3.54rem;
  background-color: #f9f9f9;
  overflow: hidden;
}
/* line 547, ../scss_default/homeMain.scss */
.camera-contain-right .contain-right-head {
  height: 0.34rem;
  line-height: 0.34rem;
  color: #007ee9;
  font-size: 0.14rem;
  position: relative;
  overflow: hidden;
}
/* line 556, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list {
  position: absolute;
  top: 0.34rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #F4F4F4;
}
/* line 565, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item {
  height: 1.75rem;
  padding: 0 0.10rem;
  list-style: none;
}
/* line 569, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-top {
  height: 0.30rem;
  line-height: 0.30rem;
}
/* line 572, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-top .alarm-addr {
  display: inline-block;
  width: 1.60rem;
  margin-left: 0.03rem;
  font-size: 0.14rem;
  font-weight: bold;
}
/* line 579, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-top .alarm-time {
  float: right;
  color: #999;
}
/* line 585, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content {
  height: 1.44rem;
  border-bottom: dashed 0.01rem #CCC;
  font-size: 0;
}
/* line 589, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .s-i {
  float: left;
  height: 1.45rem;
  font-size: 0.12rem;
}
/* line 593, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .s-i span {
  display: block;
}
/* line 597, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-aim, .camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-src {
  height: 1.18rem;
  width: 1.05rem;
  text-align: center;
  color: #636363;
}
/* line 603, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-aim .fn-73-90, .camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-src .fn-73-90 {
  width: 0.73rem;
  height: 0.90rem;
}
/* line 607, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-aim .fn-ic, .camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-src .fn-ic {
  display: inline-block;
  overflow: hidden;
  background: url("../img/home/homemap/person-default.png") no-repeat center;
}
/* line 611, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-aim .fn-ic img, .camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-src .fn-ic img {
  width: auto;
  height: 100%;
  display: inline;
  cursor: pointer;
}
/* line 619, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-aim .fn-ic:hover img, .camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-img-src .fn-ic:hover img {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 632, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-res-info {
  width: 1.12rem;
  height: 1.45rem;
  padding: 0 0.05rem 0 0.05rem;
}
/* line 636, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-res-info .alarm-rate-icon {
  display: block;
  width: 0.40rem;
  height: 0.40rem;
  line-height: 0.40rem;
  margin: auto auto 0.08rem auto;
  color: #fff;
  text-align: center;
  background-position: -3.65rem -1.78rem;
}
/* line 645, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-res-info .alarm-rate-icon em {
  font-size: 0.13rem;
}
/* line 649, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item .item-content .m-res-info span {
  display: block;
  height: 0.18rem;
  line-height: 0.18rem;
}
/* line 656, ../scss_default/homeMain.scss */
.camera-contain-right ul.m-alarm-list .m-alarm-item:hover {
  background-color: #fff;
}

/* line 664, ../scss_default/homeMain.scss */
.contain-right {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  bottom: 0.1rem;
  width: 2.6rem;
  background-color: #f9f9f9;
  box-shadow: 0 0.05rem 0.1rem #888888;
  overflow: hidden;
}
/* line 674, ../scss_default/homeMain.scss */
.contain-right .contain-right-head {
  height: 0.34rem;
  line-height: 0.34rem;
  color: #007ee9;
  font-size: 0.14rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
/* line 683, ../scss_default/homeMain.scss */
.contain-right .contain-right-head .arrows-icon {
  position: absolute;
  width: 0.13rem;
  height: 0.12rem;
  background: url(../img/home/homemap/base.png) -0.43rem 0 no-repeat;
  right: 0.1rem;
  top: 0.1rem;
  cursor: pointer;
  background-size: 3.64rem 0.25rem;
}
/* line 694, ../scss_default/homeMain.scss */
.contain-right .face-show-head {
  padding: 0.1rem;
  border-top: #dbdbdb dashed 0.01rem;
  border-bottom: #dbdbdb solid 0.01rem;
}
/* line 698, ../scss_default/homeMain.scss */
.contain-right .face-show-head .face-show-img {
  height: 1.46rem;
  border: #3297ec solid 0.02rem;
  text-align: center;
  background: url(../img/home/homemap/face-bg.png) center center no-repeat;
  background-size: cover;
}
/* line 704, ../scss_default/homeMain.scss */
.contain-right .face-show-head .face-show-img img {
  width: 1.43rem;
  height: 1.43rem;
}
/* line 708, ../scss_default/homeMain.scss */
.contain-right .face-show-head .face-show-img .car-img {
  width: 2.33rem;
  height: 1.43rem;
}
/* line 713, ../scss_default/homeMain.scss */
.contain-right .face-show-head .carInfor {
  height: 1.46rem;
}
/* line 715, ../scss_default/homeMain.scss */
.contain-right .face-show-head .carInfor p {
  line-height: 30px;
}
/* line 719, ../scss_default/homeMain.scss */
.contain-right .face-show-head .show-tab span {
  width: 1.14rem;
  height: 0.36rem;
  line-height: 0.36rem;
  border: #DBDBDB solid 0.01rem;
  background-color: #e5e5e5;
  margin: 0.06rem 0.12rem 0 0;
  text-align: center;
  cursor: pointer;
}
/* line 728, ../scss_default/homeMain.scss */
.contain-right .face-show-head .show-tab span .graph-icon {
  display: inline-block;
  vertical-align: middle;
  width: 0.19rem;
  height: 0.14rem;
  margin-right: 0.05rem;
  background: url(../img/home/homemap/base.png) -2.16rem 0 no-repeat;
  background-size: 3.64rem 0.25rem;
}
/* line 737, ../scss_default/homeMain.scss */
.contain-right .face-show-head .show-tab span .tray-icon {
  display: inline-block;
  vertical-align: middle;
  width: 0.16rem;
  height: 0.16rem;
  margin-right: 0.05rem;
  background: url(../img/home/homemap/base.png) -1.14rem 0 no-repeat;
  background-size: 3.64rem 0.25rem;
}
/* line 746, ../scss_default/homeMain.scss */
.contain-right .face-show-head .show-tab span .record-icon {
  display: inline-block;
  vertical-align: middle;
  width: 0.14rem;
  height: 0.14rem;
  margin-right: 0.05rem;
  background: url(../img/home/homemap/base.png) -3.5rem 0 no-repeat;
  background-size: 3.64rem 0.25rem;
}
/* line 756, ../scss_default/homeMain.scss */
.contain-right .face-show-head .show-tab span.act {
  background-color: #FFFFFF;
}
/* line 759, ../scss_default/homeMain.scss */
.contain-right .face-show-head .show-tab .tray {
  margin-right: 0;
}
/* line 763, ../scss_default/homeMain.scss */
.contain-right .event {
  line-height: 0.20rem;
  padding: 0.10rem 0 0 0.26rem;
  position: relative;
}
/* line 767, ../scss_default/homeMain.scss */
.contain-right .event .jiankong-icon {
  background-position: -0.07rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 771, ../scss_default/homeMain.scss */
.contain-right .event .wifi-icon {
  background-position: -1.8rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 775, ../scss_default/homeMain.scss */
.contain-right .event .kakou-icon {
  background-position: -2.35rem 0;
  background-size: 3.64rem 0.25rem;
  top: 0.15rem !important;
}
/* line 780, ../scss_default/homeMain.scss */
.contain-right .event .event-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 786, ../scss_default/homeMain.scss */
.contain-right .event .event-name i {
  position: absolute;
  top: 0.13rem;
  left: 0;
}
/* line 792, ../scss_default/homeMain.scss */
.contain-right .auto-new {
  height: 0.46rem;
  line-height: 0.46rem;
  background-color: #f1f1f1;
  padding: 0 0.10rem;
}
/* line 797, ../scss_default/homeMain.scss */
.contain-right .auto-new .auto-new-icon {
  cursor: pointer;
  width: 0.39rem;
  height: 0.23rem;
  margin-top: 0.11rem;
  background: url(../img/home/homemap/on-off.png) 0 -0.25rem no-repeat;
  background-size: 0.39rem 0.48rem;
}
/* line 805, ../scss_default/homeMain.scss */
.contain-right .auto-new .auto-new-icon.on {
  background: url(../img/home/homemap/on-off.png) 0 0 no-repeat;
  background-size: 0.39rem 0.48rem;
}
/* line 810, ../scss_default/homeMain.scss */
.contain-right .time-choose {
  background-color: #f1f1f1;
  padding: 0.1rem 0.1rem 0.2rem 0.1rem;
  border-top: #DBDBDB solid 0.01rem;
  border-bottom: #DBDBDB solid 0.01rem;
}
/* line 815, ../scss_default/homeMain.scss */
.contain-right .time-choose .input-group-addon {
  padding: 0.06rem 0.12rem;
  font-size: 0.14rem;
  border: #DEDEDE solid 0.01rem;
  border-right: none;
}
/* line 821, ../scss_default/homeMain.scss */
.contain-right .time-choose input.form-control {
  min-width: 1.4rem;
}
/* line 824, ../scss_default/homeMain.scss */
.contain-right .time-choose .btn-block {
  background-color: #007ee9;
  border: none;
  margin-top: 0.1rem;
}
/* line 830, ../scss_default/homeMain.scss */
.contain-right .show-list {
  position: absolute;
  top: 4.00rem;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
}
/* line 836, ../scss_default/homeMain.scss */
.contain-right .show-list .faceListHover, .contain-right .show-list .face-list-li:hover {
  border: #188aeb solid 0.01rem;
  background-color: #c7e0f6;
}
/* line 840, ../scss_default/homeMain.scss */
.contain-right .show-list .face-list-li {
  padding: 0 0.1rem;
  height: 0.58rem;
  margin-bottom: 0.1rem;
  border: #f9f9f9 solid 0.01rem;
}
/* line 845, ../scss_default/homeMain.scss */
.contain-right .show-list .face-list-li img {
  width: 0.56rem;
  height: 0.56rem;
  margin-right: 0.1rem;
}
/* line 850, ../scss_default/homeMain.scss */
.contain-right .show-list .face-list-li .face-img {
  width: 0.56rem;
  height: 0.56rem;
  margin-right: 0.1rem;
  background: url(../img/home/homemap/face-img.png) center center no-repeat;
  background-size: cover;
}
/* line 857, ../scss_default/homeMain.scss */
.contain-right .show-list .face-list-li .text {
  margin-top: 0.06rem;
  height: 0.2rem;
}
/* line 860, ../scss_default/homeMain.scss */
.contain-right .show-list .face-list-li .text .bold {
  font-size: 0.14rem;
  font-weight: bold;
}
/* line 865, ../scss_default/homeMain.scss */
.contain-right .show-list .face-list-li .text.time {
  color: #999999;
}
/* line 868, ../scss_default/homeMain.scss */
.contain-right .show-list .face-list-li .text span:first-child {
  float: left;
  width: 0.72rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 875, ../scss_default/homeMain.scss */
.contain-right .show-list .face-list-li .text span:last-child {
  float: left;
  width: 0.82rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 890, ../scss_default/homeMain.scss */
.fullscreen-layer {
  padding: 0.05rem;
  overflow: hidden;
}
/* line 893, ../scss_default/homeMain.scss */
.fullscreen-layer img {
  width: 100%;
}

/* line 899, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content {
  height: 4.50rem;
  padding: 0.10rem;
}
/* line 902, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .fn-ic {
  display: block;
  overflow: hidden;
}
/* line 905, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .fn-ic img {
  width: 100%;
  height: 100%;
}
/* line 909, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .fn-ic img:hover {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 921, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .detail-rate-icon {
  position: absolute;
  margin-top: -0.32rem;
  margin-left: 1.05rem;
  display: inline-block;
  width: 0.56rem;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  color: #fff;
  font-size: 0.20rem;
  background: url("../img/home/homemap/pic.png") no-repeat;
  background-position: -4.36rem -2.44rem;
}
/* line 935, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top {
  height: 2.40rem;
  border-bottom: dashed 0.01rem #CCC;
}
/* line 938, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .fn-163-200 {
  width: 1.63rem;
  height: 2.00rem;
}
/* line 942, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .label {
  display: block;
  height: 0.30rem;
  line-height: 0.30rem;
  width: 1.63rem;
  text-indent: 0.05rem;
  background-color: #f4f4f4;
  font-size: 0.12rem;
  text-align: left;
  color: #333;
}
/* line 953, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .fn-panorama-ic {
  background: url("../img/home/homemap/panorama-gray.png") no-repeat center;
  position: relative;
  right: -0.6rem;
  top: -0.25rem;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
/* line 962, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .fn-20-20 {
  width: 0.20rem;
  height: 0.20rem;
}
/* line 966, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .fn-163-200 {
  width: 1.63rem;
  height: 2.00rem;
}
/* line 970, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .label {
  display: block;
  height: 0.30rem;
  line-height: 0.30rem;
  width: 1.63rem;
  text-indent: 0.05rem;
  background-color: #f4f4f4;
  font-size: 0.12rem;
}
/* line 979, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top div {
  float: left;
}
/* line 982, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .left, .people-layer .alarm-d-content .top .right {
  width: 1.66rem;
}
/* line 985, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .middle {
  margin-left: 0.06rem;
  width: 3.20rem;
}
/* line 988, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .middle span {
  display: block;
  width: 100%;
  height: 0.30rem;
  line-height: 0.30rem;
  font-size: 0.12rem;
  color: #444444;
  font-weight: bold;
}
/* line 996, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .middle span i {
  float: left;
  font-style: normal;
}
/* line 1003, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .middle .info-details label {
  font-weight: bold;
}
/* line 1006, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .top .middle .info-details span {
  display: inline;
}
/* line 1012, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .candidates-list {
  height: 2.00rem;
  padding-top: 0.10rem;
}
/* line 1015, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .candidates-list .fn-122-150 {
  width: 1.22rem;
  height: 1.50rem;
}
/* line 1019, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item {
  float: left;
  height: 1.96rem;
  width: 1.26rem;
  background-color: #f4f4f4;
  margin-left: 0.11rem;
  padding: 0.01rem;
  border: solid 0.01rem #f4f4f4;
}
/* line 1027, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item .info-name {
  display: block;
  height: 0.23rem;
  line-height: 0.23rem;
  font-size: 0.12rem;
  text-indent: 0.05rem;
  color: #444444;
  font-size: 0.14rem;
  font-weight: bold;
}
/* line 1037, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item .info-lib {
  display: block;
  height: 0.23rem;
  line-height: 0.23rem;
  font-size: 0.12rem;
  text-indent: 0.05rem;
  color: #444444;
}
/* line 1045, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item .detail-rate-icon {
  margin-left: 0.67rem;
}
/* line 1048, ../scss_default/homeMain.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item:first-child {
  margin-left: 0;
  padding: 0;
  border: solid 0.02rem #ff8d33;
}
