/* line 2, ../scss_default/homePage.scss */
.homePage.slider .contain-left {
  margin-left: -2.8rem;
  box-shadow: none;
}
/* line 5, ../scss_default/homePage.scss */
.homePage.slider .contain-left .change {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/* line 14, ../scss_default/homePage.scss */
.homePage {
  width: 100%;
  height: 100%;
}
/* line 17, ../scss_default/homePage.scss */
.homePage .fn-ic {
  display: inline-block;
  overflow: hidden;
  background: url("../img/home/homemap/person-default.png") no-repeat center;
}
/* line 21, ../scss_default/homePage.scss */
.homePage .fn-ic img {
  width: auto;
  height: 100%;
  display: inline;
  cursor: pointer;
}
/* line 29, ../scss_default/homePage.scss */
.homePage .fn-ic:hover img {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 40, ../scss_default/homePage.scss */
.homePage .fn-icon {
  background: url("../img/home/homemap/pic.png") no-repeat;
}
/* line 43, ../scss_default/homePage.scss */
.homePage .more {
  display: inline-block;
  width: 0.46rem;
  height: 0.34rem;
  line-height: 0.34rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  float: right;
  text-align: right;
  color: #999999;
  cursor: pointer;
}
/* line 55, ../scss_default/homePage.scss */
.homePage .more .more-arrow-icon {
  display: inline-block;
  width: 0.05rem;
  height: 0.08rem;
  margin-left: 0.06rem;
  background-position: -1.37rem -1.34rem;
}
/* line 63, ../scss_default/homePage.scss */
.homePage .fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 68, ../scss_default/homePage.scss */
.homePage h1, .homePage h2, .homePage h3, .homePage h4, .homePage h5, .homePage h6, .homePage p {
  margin: 0;
}
/* line 71, ../scss_default/homePage.scss */
.homePage .cameraTemplate, .homePage .wifiTemplate, .homePage .kakouTemplate {
  color: #fff;
  background-color: rgba(10, 112, 200, 0.8);
  border-radius: 0.02rem;
}
/* line 76, ../scss_default/homePage.scss */
.homePage .cameraTemplate .npmap-dialog-titlebar .close, .homePage .wifiTemplate .npmap-dialog-titlebar .close, .homePage .kakouTemplate .npmap-dialog-titlebar .close {
  right: 0.05rem;
  top: 60%;
  background: url(../img/map/close2.png) no-repeat scroll 0 0;
}
/* line 83, ../scss_default/homePage.scss */
.homePage .cameraTemplate .npmap-dialog-content, .homePage .wifiTemplate .npmap-dialog-content, .homePage .kakouTemplate .npmap-dialog-content {
  padding: 0 0.02rem;
}
/* line 85, ../scss_default/homePage.scss */
.homePage .cameraTemplate .npmap-dialog-content img, .homePage .wifiTemplate .npmap-dialog-content img, .homePage .kakouTemplate .npmap-dialog-content img {
  width: 0.76rem;
}
/* line 90, ../scss_default/homePage.scss */
.homePage .wifiTemplate {
  line-height: 0.30rem;
  text-align: center;
}
/* line 96, ../scss_default/homePage.scss */
.homePage .kakouTemplate .npmap-dialog-content {
  padding: 0 0.02rem;
}
/* line 98, ../scss_default/homePage.scss */
.homePage .kakouTemplate .npmap-dialog-content img {
  width: 1.54rem;
  height: 0.86rem;
}
/* line 104, ../scss_default/homePage.scss */
.homePage #mapId {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 109, ../scss_default/homePage.scss */
.homePage i {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: url(../img/home/homemap/base.png) no-repeat;
}
/* line 115, ../scss_default/homePage.scss */
.homePage .jiankong-icon {
  width: 0.12rem;
  height: 0.14rem;
  background-position: -0.31rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 121, ../scss_default/homePage.scss */
.homePage .wifi-icon {
  width: 0.18rem;
  height: 0.14rem;
  background-position: -1.98rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 127, ../scss_default/homePage.scss */
.homePage .kakou-icon {
  width: 0.21rem;
  height: 0.12rem;
  background-position: -2.56rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 133, ../scss_default/homePage.scss */
.homePage .datetime {
  background: url(../img/canlendar.png) 1.35rem no-repeat;
  background-size: 0.15rem 0.16rem;
  background-color: #fff;
}

/* line 141, ../scss_default/homePage.scss */
.contain-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.8rem;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.1rem #888888;
}
/* line 150, ../scss_default/homePage.scss */
.contain-left .change {
  width: 0.1rem;
  height: 0.4rem;
  z-index: 1000;
  top: 45%;
  left: 2.8rem;
  background: url(../img/map/slider.png) no-repeat;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  box-shadow: 0.02rem 0 0.06rem #cbc8c8;
}
/* line 162, ../scss_default/homePage.scss */
.contain-left .head-tab {
  height: 0.46rem;
  line-height: 0.46rem;
  border-bottom: #ebebeb solid 0.01rem;
}
/* line 166, ../scss_default/homePage.scss */
.contain-left .head-tab li {
  width: 33%;
  text-align: center;
  cursor: pointer;
}
/* line 170, ../scss_default/homePage.scss */
.contain-left .head-tab li i {
  margin-right: 0.05rem;
  vertical-align: text-bottom;
}
/* line 175, ../scss_default/homePage.scss */
.contain-left .head-tab li.active {
  color: #007ee9;
  border-bottom: #007ee9 solid 0.03rem;
}
/* line 178, ../scss_default/homePage.scss */
.contain-left .head-tab li.active .jiankong-icon {
  background-position: -0.07rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 182, ../scss_default/homePage.scss */
.contain-left .head-tab li.active .wifi-icon {
  background-position: -1.62rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 186, ../scss_default/homePage.scss */
.contain-left .head-tab li.active .kakou-icon {
  background-position: -2.35rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 192, ../scss_default/homePage.scss */
.contain-left .search-group {
  padding: 0.1rem 0.1rem 0.1rem 0;
  margin: 0;
}
/* line 195, ../scss_default/homePage.scss */
.contain-left .search-group .control-label {
  text-align: right;
  min-width: 0.84rem;
}
/* line 199, ../scss_default/homePage.scss */
.contain-left .search-group .form-control {
  width: 1.74rem;
  min-width: 0rem;
}
/* line 205, ../scss_default/homePage.scss */
.contain-left .resource-list .list-title {
  height: 0.36rem;
  line-height: 0.36rem;
  background-color: #f7f7f7;
  font-size: 0.14rem;
  font-weight: bold;
  color: #007ee9;
  border-top: #e1e1e1 solid 0.01rem;
  border-bottom: #e1e1e1 solid 0.01rem;
}
/* line 215, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list, .contain-left .resource-list .ztree-list-tree {
  position: absolute;
  width: 100%;
  top: 1.35rem;
  bottom: 0;
  overflow-y: auto;
}
/* line 221, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #cameraTree, .contain-left .resource-list .ztree-list-tree #cameraTree {
  height: auto;
}
/* line 224, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #cameraTree li span.button.pIcon02_ico_open, .contain-left .resource-list .ztree-list #cameraTree li span.button.pIcon02_ico_close, .contain-left .resource-list .ztree-list-tree #cameraTree li span.button.pIcon02_ico_open, .contain-left .resource-list .ztree-list-tree #cameraTree li span.button.pIcon02_ico_close {
  margin-right: 0.02rem;
  width: 0.12rem;
  height: 0.14rem;
  background: url(../img/home/homemap/base.png) -0.07rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 233, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #cameraTree li span.button.icon02_ico_docu, .contain-left .resource-list .ztree-list-tree #cameraTree li span.button.icon02_ico_docu {
  margin-right: 0.02rem;
  width: 0.12rem;
  height: 0.14rem;
  background: url(../img/home/homemap/base.png) -0.07rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 243, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #wifiTree, .contain-left .resource-list .ztree-list-tree #wifiTree {
  height: auto;
}
/* line 246, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #wifiTree li span.button.pIcon03_ico_open, .contain-left .resource-list .ztree-list #wifiTree li span.button.pIcon03_ico_close, .contain-left .resource-list .ztree-list-tree #wifiTree li span.button.pIcon03_ico_open, .contain-left .resource-list .ztree-list-tree #wifiTree li span.button.pIcon03_ico_close {
  width: 0.18rem;
  height: 0.14rem;
  margin-right: 0.02rem;
  background: url(../img/home/homemap/base.png) -1.8rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 255, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #wifiTree li span.button.icon03_ico_docu, .contain-left .resource-list .ztree-list-tree #wifiTree li span.button.icon03_ico_docu {
  margin-right: 0.02rem;
  background: url(../img/home/homemap/base.png) -1.8rem 0 no-repeat transparent;
  background-size: 3.64rem 0.25rem;
  vertical-align: middle;
}
/* line 263, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list .ztree *, .contain-left .resource-list .ztree-list-tree .ztree * {
  font-size: 0.12rem;
}
/* line 266, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #tree, .contain-left .resource-list .ztree-list-tree #tree {
  height: auto;
}
/* line 269, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #tree li span.button.pIcon01_ico_open, .contain-left .resource-list .ztree-list #tree li span.button.pIcon01_ico_close, .contain-left .resource-list .ztree-list-tree #tree li span.button.pIcon01_ico_open, .contain-left .resource-list .ztree-list-tree #tree li span.button.pIcon01_ico_close {
  margin-right: 0.02rem;
  width: 0.14rem;
  height: 0.16rem;
  background: url(../img/home/homemap/base.png) -0.7rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 278, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #tree li span.button.pIcon01_1_ico_open, .contain-left .resource-list .ztree-list #tree li span.button.pIcon01_1_ico_close, .contain-left .resource-list .ztree-list-tree #tree li span.button.pIcon01_1_ico_open, .contain-left .resource-list .ztree-list-tree #tree li span.button.pIcon01_1_ico_close {
  margin-right: 0.02rem;
  width: 0.14rem;
  height: 0.12rem;
  background: url(../img/home/homemap/base.png) -0.56rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 287, ../scss_default/homePage.scss */
.contain-left .resource-list .ztree-list #tree li span.button.icon01_ico_docu, .contain-left .resource-list .ztree-list-tree #tree li span.button.icon01_ico_docu {
  margin-right: 0.02rem;
  width: 0.21rem;
  height: 0.12rem;
  background: url(../img/home/homemap/base.png) -2.35rem 0 no-repeat transparent;
  vertical-align: middle;
  background-size: 3.64rem 0.25rem;
}
/* line 300, ../scss_default/homePage.scss */
.contain-left .resource-list .list-li-group .arrow {
  width: 0.07rem;
  height: 0.04rem;
  margin-left: 0.1rem;
  background-position: 0 0;
  background-size: 3.64rem 0.25rem;
}
/* line 307, ../scss_default/homePage.scss */
.contain-left .resource-list .list-li-group .jiankong-icon {
  background-position: -0.07rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 311, ../scss_default/homePage.scss */
.contain-left .resource-list .list-li-group .wifi-icon {
  background-position: -1.8rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 315, ../scss_default/homePage.scss */
.contain-left .resource-list .list-li-group .number {
  color: #007ee9;
}
/* line 319, ../scss_default/homePage.scss */
.contain-left .resource-list .conten {
  margin-top: 0.06rem;
  font-size: 0.12rem;
}
/* line 322, ../scss_default/homePage.scss */
.contain-left .resource-list .conten:first-child {
  margin-top: 0.10rem;
}
/* line 325, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime {
  height: 0.34rem;
  width: 2.60rem;
  margin-left: 0.10rem;
  line-height: 0.32rem;
  background-color: #fff;
}
/* line 331, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime .input-group {
  width: 100%;
}
/* line 333, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime .input-group div#condition {
  padding-left: 0;
  border: 0;
}
/* line 336, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime .input-group div#condition .dropdown-select {
  border-radius: 0;
  border-right: 0;
  height: 0.34rem;
}
/* line 343, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime .conditionText {
  display: inline-block;
  float: left;
  width: 30%;
  padding-left: 5%;
  border: 0.01rem solid #dbdbdb;
  border-right: none;
  border-radius: 0.03rem 0 0 0.03rem;
}
/* line 351, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime .conditionText .down {
  width: 0.22rem;
  height: 0.22rem;
  cursor: pointer;
  position: absolute;
  top: 0.07rem;
  background: url(../img/map/menu_down.png) no-repeat;
}
/* line 360, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime .idCard {
  background: none;
}
/* line 363, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime .conditionInput {
  display: inline-block;
  width: 70%;
  height: 0.34rem;
  border-radius: 0 0.03rem 0.03rem 0;
}
/* line 369, ../scss_default/homePage.scss */
.contain-left .resource-list .conten .startTime i {
  display: inline-block;
  position: absolute;
  width: 0.15rem;
  height: 0.16rem;
  right: 0.10rem;
  margin-top: 0.09rem;
  z-index: 2;
  background: url("../img/canlendar.png") no-repeat;
}
/* line 381, ../scss_default/homePage.scss */
.contain-left .resource-list .query {
  width: 2.60rem;
  margin-left: 0.10rem;
  cursor: pointer;
  text-align: center;
  height: 0.36rem;
  margin-top: 0.10rem;
  line-height: 0.36rem;
  background-color: #00a0e9;
  border-radius: 0.03rem;
  color: #fff;
}
/* line 392, ../scss_default/homePage.scss */
.contain-left .resource-list .query:hover {
  background-color: #0D89C9;
}
/* line 396, ../scss_default/homePage.scss */
.contain-left .resource-list .searchResult {
  line-height: 0.40rem;
  margin-left: 0.10rem;
}
/* line 399, ../scss_default/homePage.scss */
.contain-left .resource-list .searchResult span {
  color: #00a0e9;
}
/* line 403, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory {
  bottom: 0;
  top: 2.96rem;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}
/* line 409, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory li {
  border: 0.01rem solid transparent;
  border-top: 0.01rem solid #e1e1e1;
  border-right: 0.01rem solid #e1e1e1;
}
/* line 413, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory li:last-child {
  border-bottom: 0.01rem solid #e1e1e1;
}
/* line 416, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory li div {
  line-height: 0.25rem;
  margin-left: 0.20rem;
}
/* line 420, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory li .lookDetail {
  position: absolute;
  margin-left: 1.88rem;
  margin-top: 0.10rem;
  display: none;
}
/* line 426, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory li .cross {
  color: blue;
}
/* line 430, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory li .isRed {
  color: red;
}
/* line 433, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory li:hover {
  border: 0.01rem solid #198beb;
  background-color: #cce5fb;
}
/* line 436, ../scss_default/homePage.scss */
.contain-left .resource-list .carHistory li:hover .lookDetail {
  display: inline-block;
}
/* line 442, ../scss_default/homePage.scss */
.contain-left .resource-list .pagination-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 447, ../scss_default/homePage.scss */
.contain-left .resource-list .pagination-wrap li a {
  padding: 0.06rem 0.06rem;
}

/* line 456, ../scss_default/homePage.scss */
.layerSelect {
  width: 3.20rem;
  background-color: #fff;
  position: absolute;
  font-size: 0.12rem;
  left: 3.00rem;
  z-index: 999;
  margin-top: 0.10rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 468, ../scss_default/homePage.scss */
.layerSelect ul {
  vertical-align: middle;
}
/* line 470, ../scss_default/homePage.scss */
.layerSelect ul .isCurrentLi {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 474, ../scss_default/homePage.scss */
.layerSelect ul li {
  display: inline-block;
  height: 0.32rem;
  line-height: 0.32rem;
  width: 1.00rem;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 482, ../scss_default/homePage.scss */
.layerSelect ul li:first-child {
  margin-left: 0.12rem;
}
/* line 486, ../scss_default/homePage.scss */
.layerSelect ul li .text {
  vertical-align: top;
}
/* line 490, ../scss_default/homePage.scss */
.layerSelect ul li .checkbox {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
/* line 495, ../scss_default/homePage.scss */
.layerSelect ul li .checked {
  background-position: 0 -0.2rem;
  background-size: 0.2rem 0.8rem;
}
/* line 499, ../scss_default/homePage.scss */
.layerSelect ul li .comm {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/home/homemap/base.png) no-repeat;
  background-size: 3.64rem 0.25rem;
}
/* line 506, ../scss_default/homePage.scss */
.layerSelect ul li .cameraHover {
  width: 0.12rem;
  height: 0.14rem;
  background-position: -0.07rem 0 !important;
  background-size: 3.64rem 0.25rem;
}
/* line 513, ../scss_default/homePage.scss */
.layerSelect ul li .camera {
  width: 0.12rem;
  height: 0.14rem;
  background-position: -0.31rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 521, ../scss_default/homePage.scss */
.layerSelect ul li .wifiHover {
  width: 0.18rem;
  height: 0.13rem;
  background-position: -1.8rem 0 !important;
  background-size: 3.64rem 0.25rem;
}
/* line 527, ../scss_default/homePage.scss */
.layerSelect ul li .wifi {
  width: 0.18rem;
  height: 0.13rem;
  background-position: -1.98rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 534, ../scss_default/homePage.scss */
.layerSelect ul li .kakouHover {
  width: 0.21rem;
  height: 0.12rem;
  background-position: -2.77rem 0 !important;
  background-size: 3.64rem 0.25rem;
}
/* line 540, ../scss_default/homePage.scss */
.layerSelect ul li .kakou {
  width: 0.21rem;
  height: 0.12rem;
  background-position: -2.56rem 0;
  background-size: 3.64rem 0.25rem;
}

/* line 551, ../scss_default/homePage.scss */
.container-top {
  z-index: 99999;
  position: absolute;
  bottom: 2.30rem;
  top: 0;
  left: 2.80rem;
  right: 3.53rem;
  background-color: #FFF;
  border: solid 0.01rem #e1e1e1;
}
/* line 560, ../scss_default/homePage.scss */
.container-top #FacePlayer1, .container-top #FacePlayer2, .container-top #FacePlayer3, .container-top #FacePlayer4 {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 567, ../scss_default/homePage.scss */
.container-top .xcStopbugDiv {
  background: #eeeff0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 575, ../scss_default/homePage.scss */
.container-bottom {
  border: solid 0.01rem #e1e1e1;
  height: 2.30rem;
  z-index: 99999;
  position: absolute;
  left: 2.80rem;
  bottom: 0;
  right: 3.53rem;
  background-color: #FFF;
}
/* line 584, ../scss_default/homePage.scss */
.container-bottom .title {
  height: 0.34rem;
  line-height: 0.34rem;
  padding: 0 0.10rem;
  font-size: 0.14rem;
  color: #444444;
  border-bottom: solid 0.01rem #e1e1e1;
  background-color: #EFEFEF;
}
/* line 592, ../scss_default/homePage.scss */
.container-bottom .title .shot-title-icon {
  position: relative;
  top: 0.02rem;
  display: inline-block;
  margin-right: 0.05rem;
  width: 0.20rem;
  height: 0.14rem;
  background: url("../img/home/homemap/pic.png") no-repeat;
  background-position: -1.29rem -1.08rem;
}
/* line 602, ../scss_default/homePage.scss */
.container-bottom .title .time-choose {
  display: inline;
  float: right;
}
/* line 607, ../scss_default/homePage.scss */
.container-bottom .noResult {
  height: 1.96rem;
  background: url(../img/home/homemap/shot-bg.png) no-repeat center white;
}
/* line 611, ../scss_default/homePage.scss */
.container-bottom .m-shotface-list {
  overflow: hidden;
  padding: 0.02rem 0.05rem;
  width: 100%;
  background-color: #fff;
}
/* line 616, ../scss_default/homePage.scss */
.container-bottom .m-shotface-list .m-shot-item {
  float: left;
  width: 0.73rem;
  height: 0.73rem;
  margin: 0.10rem 0.05rem 0 0;
  list-style: none;
}
/* line 622, ../scss_default/homePage.scss */
.container-bottom .m-shotface-list .m-shot-item span {
  width: 0.73rem;
  height: 0.73rem;
}

/*.camera-contain-right{
  position:absolute;
  right: 0;
  top:0;
  bottom: 0;
  width:3.54rem;
  z-index:999;
  background-color:#f9f9f9;
  /*box-shadow:0 0.05rem 0.1rem #888888; */
  overflow: hidden;
  .contain-right-head{
    height:0.34rem;
    line-height:0.34rem;
    color:#007ee9;
    font-size:0.14rem;
    /*font-weight:bold; */
    position:relative;
    overflow:hidden;
  }
  ul.m-alarm-list{
    position: absolute;
    top: 0.34rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #F4F4F4;
    .m-alarm-item{
      height: 1.75rem;
      padding: 0 0.10rem;
      list-style: none;
      .item-top{
        height: 0.30rem;
        line-height: 0.30rem;
        .alarm-addr{
          display: inline-block;
          width: 1.60rem;
          margin-left: 0.03rem;
          font-size: 0.14rem;
          font-weight: bold;
        }
        .alarm-time{
          float: right;
          color: #999;
        }
      }

      .item-content{
        height: 1.44rem;
        border-bottom: dashed 0.01rem #CCC;
        font-size: 0;
        .s-i{
          float: left;
          height: 1.45rem;
          font-size: 0.12rem;
        }
        .m-img-aim,.m-img-src{
          height: 1.18rem;
          width: 1.10rem;
          padding: 0.15rem 0.16rem 0 0.17rem;
          text-align: center;
          color: #636363;
          .fn-73-90 {
            width: 0.73rem;
            height: 0.90rem;
          }
          .fn-ic {
            display: inline-block;
            overflow: hidden;
            background: url("../img/home/homemap/person-default.png") no-repeat center;
            img{
              width: auto;
              height: 100%;
              /*margin: 0px 0px 0px -8.5px; */
              display: inline;
              cursor: pointer;
            }
            &:hover{
              img {
                -ms-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -ms-webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
              }
            }
          }
        }

        .m-res-info{
          width: 1.12rem;
          height: 1.45rem;
          padding: 0 0.05rem 0 0.05rem;
          .alarm-rate-icon {
            display: block;
            width: 0.40rem;
            height: 0.40rem;
            line-height: 0.40rem;
            margin: auto auto 0.08rem auto;
            color: #fff;
            text-align: center;
            background-position: -3.65rem -1.78rem;
            em{
              font-size: 0.13rem;
            }
          }
          span{
            display: block;
            height: 0.18rem;
            line-height: 0.18rem;
          }
        }
      }
      &:hover{
        background-color: #fff;
      }
    }
  }
}*/
/* line 755, ../scss_default/homePage.scss */
.contain-right {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  bottom: 0.1rem;
  width: 2.6rem;
  z-index: 999;
  background-color: #f9f9f9;
  box-shadow: 0 0.05rem 0.1rem #888888;
  overflow: hidden;
}
/* line 765, ../scss_default/homePage.scss */
.contain-right .contain-right-head {
  height: 0.34rem;
  line-height: 0.34rem;
  color: #007ee9;
  font-size: 0.14rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
/* line 774, ../scss_default/homePage.scss */
.contain-right .contain-right-head .arrows-icon {
  position: absolute;
  width: 0.13rem;
  height: 0.12rem;
  background: url(../img/home/homemap/base.png) -0.43rem 0 no-repeat;
  right: 0.1rem;
  top: 0.1rem;
  cursor: pointer;
  background-size: 3.64rem 0.25rem;
}
/* line 785, ../scss_default/homePage.scss */
.contain-right .face-show-head {
  padding: 0.1rem;
  border-top: #dbdbdb dashed 0.01rem;
  border-bottom: #dbdbdb solid 0.01rem;
}
/* line 789, ../scss_default/homePage.scss */
.contain-right .face-show-head .face-show-img {
  height: 1.46rem;
  border: #3297ec solid 0.02rem;
  text-align: center;
  background: url(../img/home/homemap/face-bg.png) center center no-repeat;
  background-size: cover;
}
/* line 795, ../scss_default/homePage.scss */
.contain-right .face-show-head .face-show-img img {
  width: 1.43rem;
  height: 1.43rem;
}
/* line 799, ../scss_default/homePage.scss */
.contain-right .face-show-head .face-show-img .car-img {
  width: 2.33rem;
  height: 1.43rem;
}
/* line 804, ../scss_default/homePage.scss */
.contain-right .face-show-head .carInfor {
  height: 1.46rem;
}
/* line 806, ../scss_default/homePage.scss */
.contain-right .face-show-head .carInfor p {
  line-height: 30px;
}
/* line 810, ../scss_default/homePage.scss */
.contain-right .face-show-head .show-tab span {
  width: 1.14rem;
  height: 0.36rem;
  line-height: 0.36rem;
  border: #DBDBDB solid 0.01rem;
  background-color: #e5e5e5;
  margin: 0.06rem 0.12rem 0 0;
  text-align: center;
  cursor: pointer;
}
/* line 819, ../scss_default/homePage.scss */
.contain-right .face-show-head .show-tab span .graph-icon {
  display: inline-block;
  vertical-align: middle;
  width: 0.19rem;
  height: 0.14rem;
  margin-right: 0.05rem;
  background: url(../img/home/homemap/base.png) -2.16rem 0 no-repeat;
  background-size: 3.64rem 0.25rem;
}
/* line 828, ../scss_default/homePage.scss */
.contain-right .face-show-head .show-tab span .tray-icon {
  display: inline-block;
  vertical-align: middle;
  width: 0.16rem;
  height: 0.16rem;
  margin-right: 0.05rem;
  background: url(../img/home/homemap/base.png) -1.14rem 0 no-repeat;
  background-size: 3.64rem 0.25rem;
}
/* line 837, ../scss_default/homePage.scss */
.contain-right .face-show-head .show-tab span .record-icon {
  display: inline-block;
  vertical-align: middle;
  width: 0.14rem;
  height: 0.14rem;
  margin-right: 0.05rem;
  background: url(../img/home/homemap/base.png) -3.5rem 0 no-repeat;
  background-size: 3.64rem 0.25rem;
}
/* line 847, ../scss_default/homePage.scss */
.contain-right .face-show-head .show-tab span.act {
  background-color: #FFFFFF;
}
/* line 850, ../scss_default/homePage.scss */
.contain-right .face-show-head .show-tab .tray {
  margin-right: 0;
}
/* line 854, ../scss_default/homePage.scss */
.contain-right .event {
  line-height: 0.20rem;
  padding: 0.10rem 0 0 0.26rem;
  position: relative;
}
/* line 858, ../scss_default/homePage.scss */
.contain-right .event .jiankong-icon {
  background-position: -0.07rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 862, ../scss_default/homePage.scss */
.contain-right .event .wifi-icon {
  background-position: -1.8rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 866, ../scss_default/homePage.scss */
.contain-right .event .kakou-icon {
  background-position: -2.35rem 0;
  background-size: 3.64rem 0.25rem;
  top: 0.15rem !important;
}
/* line 871, ../scss_default/homePage.scss */
.contain-right .event .event-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 877, ../scss_default/homePage.scss */
.contain-right .event .event-name i {
  position: absolute;
  top: 0.13rem;
  left: 0;
}
/* line 883, ../scss_default/homePage.scss */
.contain-right .auto-new {
  height: 0.46rem;
  line-height: 0.46rem;
  background-color: #f1f1f1;
  padding: 0 0.10rem;
}
/* line 888, ../scss_default/homePage.scss */
.contain-right .auto-new .auto-new-icon {
  cursor: pointer;
  width: 0.39rem;
  height: 0.23rem;
  margin-top: 0.11rem;
  background: url(../img/home/homemap/on-off.png) 0 -0.25rem no-repeat;
  background-size: 0.39rem 0.48rem;
}
/* line 896, ../scss_default/homePage.scss */
.contain-right .auto-new .auto-new-icon.on {
  background: url(../img/home/homemap/on-off.png) 0 0 no-repeat;
  background-size: 0.39rem 0.48rem;
}
/* line 901, ../scss_default/homePage.scss */
.contain-right .time-choose {
  background-color: #f1f1f1;
  padding: 0.1rem 0.1rem 0.2rem 0.1rem;
  border-top: #DBDBDB solid 0.01rem;
  border-bottom: #DBDBDB solid 0.01rem;
}
/* line 906, ../scss_default/homePage.scss */
.contain-right .time-choose .input-group-addon {
  padding: 0.06rem 0.12rem;
  font-size: 0.14rem;
  border: #DEDEDE solid 0.01rem;
  border-right: none;
}
/* line 912, ../scss_default/homePage.scss */
.contain-right .time-choose input.form-control {
  min-width: 1.4rem;
}
/* line 915, ../scss_default/homePage.scss */
.contain-right .time-choose .btn-block {
  background-color: #007ee9;
  border: none;
  margin-top: 0.1rem;
}
/* line 921, ../scss_default/homePage.scss */
.contain-right .show-list {
  position: absolute;
  top: 4.00rem;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
}
/* line 927, ../scss_default/homePage.scss */
.contain-right .show-list .faceListHover, .contain-right .show-list .face-list-li:hover {
  border: #188aeb solid 0.01rem;
  background-color: #c7e0f6;
}
/* line 931, ../scss_default/homePage.scss */
.contain-right .show-list .face-list-li {
  padding: 0 0.1rem;
  height: 0.58rem;
  margin-bottom: 0.1rem;
  border: #f9f9f9 solid 0.01rem;
}
/* line 936, ../scss_default/homePage.scss */
.contain-right .show-list .face-list-li img {
  width: 0.56rem;
  height: 0.56rem;
  margin-right: 0.1rem;
}
/* line 941, ../scss_default/homePage.scss */
.contain-right .show-list .face-list-li .face-img {
  width: 0.56rem;
  height: 0.56rem;
  margin-right: 0.1rem;
  background: url(../img/home/homemap/face-img.png) center center no-repeat;
  background-size: cover;
}
/* line 948, ../scss_default/homePage.scss */
.contain-right .show-list .face-list-li .text {
  margin-top: 0.06rem;
  height: 0.2rem;
}
/* line 951, ../scss_default/homePage.scss */
.contain-right .show-list .face-list-li .text .bold {
  font-size: 0.14rem;
  font-weight: bold;
}
/* line 956, ../scss_default/homePage.scss */
.contain-right .show-list .face-list-li .text.time {
  color: #999999;
}
/* line 959, ../scss_default/homePage.scss */
.contain-right .show-list .face-list-li .text span:first-child {
  float: left;
  width: 0.72rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 966, ../scss_default/homePage.scss */
.contain-right .show-list .face-list-li .text span:last-child {
  float: left;
  width: 0.82rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 984, ../scss_default/homePage.scss */
.wifi-contain-right .wifi-show-head {
  padding: 0 0.25rem 0.15rem 0.25rem;
  border-top: #dbdbdb dashed 0.01rem;
  border-bottom: #dbdbdb solid 0.01rem;
}
/* line 988, ../scss_default/homePage.scss */
.wifi-contain-right .wifi-show-head li {
  line-height: 0.3rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 996, ../scss_default/homePage.scss */
.wifi-contain-right .wifi-show-list {
  top: 3.50rem;
}
/* line 998, ../scss_default/homePage.scss */
.wifi-contain-right .wifi-show-list .wifi-list-li {
  padding: 0 0.1rem 0 0.4rem;
  position: relative;
  border: #f9f9f9 solid 0.01rem;
  color: #999999;
}
/* line 1003, ../scss_default/homePage.scss */
.wifi-contain-right .wifi-show-list .wifi-list-li p {
  line-height: 0.2rem;
  word-break: break-word;
}
/* line 1007, ../scss_default/homePage.scss */
.wifi-contain-right .wifi-show-list .wifi-list-li .wifi-icon {
  position: absolute;
  top: 50%;
  left: 0.1rem;
  margin-top: -0.07rem;
  background-position: -1.8rem 0;
  background-size: 3.64rem 0.25rem;
}
/* line 1015, ../scss_default/homePage.scss */
.wifi-contain-right .wifi-show-list .wifi-list-li .wifi-list-head {
  color: #333333;
}
/* line 1019, ../scss_default/homePage.scss */
.wifi-contain-right .wifi-show-list .wifi-list-li:hover {
  border: #188aeb solid 0.01rem;
  background-color: #c7e0f6;
}

/* line 1028, ../scss_default/homePage.scss */
.car-contain-right .car-list-li {
  padding: 0.05rem;
  border: #f9f9f9 solid 0.01rem;
  border-bottom-color: #DEDEDE;
  position: relative;
}
/* line 1033, ../scss_default/homePage.scss */
.car-contain-right .car-list-li .num {
  position: absolute;
  width: 0.26rem;
  height: 0.25rem;
  background: url(../img/home/homemap/base.png) no-repeat;
  background-position: -2.98rem 0;
  background-size: 3.64rem 0.25rem;
  top: 0.1rem;
  left: 0.1rem;
  text-align: center;
  line-height: 0.18rem;
  color: #FFFFFF;
}
/* line 1046, ../scss_default/homePage.scss */
.car-contain-right .car-list-li .recode-list {
  padding-left: 0.5rem;
  position: relative;
}
/* line 1049, ../scss_default/homePage.scss */
.car-contain-right .car-list-li .recode-list li {
  line-height: 0.22rem;
}
/* line 1052, ../scss_default/homePage.scss */
.car-contain-right .car-list-li .recode-list .recode-list-head {
  color: #00a0e9;
}
/* line 1055, ../scss_default/homePage.scss */
.car-contain-right .car-list-li .recode-list .time {
  color: #999999;
}
/* line 1060, ../scss_default/homePage.scss */
.car-contain-right .car-list-li:hover {
  border: #188aeb solid 0.01rem;
  background-color: #c7e0f6;
}
/* line 1063, ../scss_default/homePage.scss */
.car-contain-right .car-list-li:hover .num {
  background-position: -3.24rem 0;
  background-size: 3.64rem 0.25rem;
}

/* line 1070, ../scss_default/homePage.scss */
.fullscreen-layer {
  padding: 0.05rem;
  overflow: hidden;
}
/* line 1073, ../scss_default/homePage.scss */
.fullscreen-layer img {
  width: 100%;
}

/* line 1079, ../scss_default/homePage.scss */
.people-layer .alarm-d-content {
  height: 4.50rem;
  padding: 0.10rem;
}
/* line 1082, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .fn-ic {
  display: block;
  overflow: hidden;
}
/* line 1085, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .fn-ic img {
  width: 100%;
  height: 100%;
}
/* line 1089, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .fn-ic img:hover {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 1101, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .detail-rate-icon {
  position: absolute;
  margin-top: -0.32rem;
  margin-left: 1.05rem;
  display: inline-block;
  width: 0.56rem;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  color: #fff;
  font-size: 0.20rem;
  background: url("../img/home/homemap/pic.png") no-repeat;
  background-position: -4.36rem -2.44rem;
}
/* line 1115, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top {
  height: 2.40rem;
  border-bottom: dashed 0.01rem #CCC;
}
/* line 1118, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .fn-163-200 {
  width: 1.63rem;
  height: 2.00rem;
}
/* line 1122, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .label {
  display: block;
  height: 0.30rem;
  line-height: 0.30rem;
  width: 1.63rem;
  text-indent: 0.05rem;
  background-color: #f4f4f4;
  font-size: 0.12rem;
  text-align: left;
  color: #333;
}
/* line 1133, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .fn-panorama-ic {
  background: url("../img/home/homemap/panorama-gray.png") no-repeat center;
  position: relative;
  right: -0.6rem;
  top: -0.25rem;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
/* line 1142, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .fn-20-20 {
  width: 0.20rem;
  height: 0.20rem;
}
/* line 1146, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .fn-163-200 {
  width: 1.63rem;
  height: 2.00rem;
}
/* line 1150, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .label {
  display: block;
  height: 0.30rem;
  line-height: 0.30rem;
  width: 163px;
  text-indent: 5px;
  background-color: #f4f4f4;
  font-size: 12px;
}
/* line 1159, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top div {
  float: left;
}
/* line 1162, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .left, .people-layer .alarm-d-content .top .right {
  width: 166px;
}
/* line 1165, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .middle {
  margin-left: 6px;
  width: 320px;
}
/* line 1168, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .middle span {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #444444;
  font-weight: bold;
}
/* line 1176, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .middle span i {
  float: left;
  font-style: normal;
}
/* line 1183, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .middle .info-details label {
  font-weight: bold;
}
/* line 1186, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .top .middle .info-details span {
  display: inline;
}
/* line 1192, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .candidates-list {
  height: 200px;
  padding-top: 10px;
}
/* line 1195, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .candidates-list .fn-122-150 {
  width: 122px;
  height: 150px;
}
/* line 1199, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item {
  float: left;
  height: 196px;
  width: 126px;
  background-color: #f4f4f4;
  margin-left: 11px;
  padding: 1px;
  border: solid 1px #f4f4f4;
}
/* line 1207, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item .info-name {
  display: block;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  text-indent: 5px;
  color: #444444;
  font-size: 14px;
  font-weight: bold;
}
/* line 1217, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item .info-lib {
  display: block;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  text-indent: 5px;
  color: #444444;
}
/* line 1225, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item .detail-rate-icon {
  margin-left: 67px;
}
/* line 1228, ../scss_default/homePage.scss */
.people-layer .alarm-d-content .candidates-list .candidate-item:first-child {
  margin-left: 0;
  padding: 0;
  border: solid 2px #ff8d33;
}

/* line 1239, ../scss_default/homePage.scss */
.wifi-layer .form-group {
  display: block;
  color: #a0a0a0;
}

/* line 1246, ../scss_default/homePage.scss */
.carDetail-layer .left, .carDetail-layer .right {
  width: 400px;
  height: 100%;
  float: left;
}
/* line 1250, ../scss_default/homePage.scss */
.carDetail-layer .left img, .carDetail-layer .right img {
  width: 100%;
  height: 310px;
  border: 1px solid #eee;
}
/* line 1255, ../scss_default/homePage.scss */
.carDetail-layer .left .detail, .carDetail-layer .right .detail {
  padding-left: 20px;
  margin-top: 10px;
}
/* line 1258, ../scss_default/homePage.scss */
.carDetail-layer .left .detail .control-label, .carDetail-layer .right .detail .control-label {
  color: #333;
  min-width: 0.60rem;
}
/* line 1262, ../scss_default/homePage.scss */
.carDetail-layer .left .detail .cross, .carDetail-layer .right .detail .cross {
  color: blue;
}
/* line 1266, ../scss_default/homePage.scss */
.carDetail-layer .left .detail .isRed, .carDetail-layer .right .detail .isRed {
  color: red;
}
/* line 1272, ../scss_default/homePage.scss */
.carDetail-layer .line {
  border-left: 1px dashed #bfbfbf;
  height: 175px;
  position: absolute;
  bottom: 0;
}
