.appModel2 {
    background-image: url(../img/home/appBack.png);
    background-size: cover;
    overflow-y: auto !important
}
.itel_nav{
	margin: 50px auto;
    width: 75%;
    display: inline-block;
    text-align: center;
}
.itel_nav li{
  float:left;
  width: 25%;
  margin: 30px 0;
  text-align:center;
}
.itel_nav li a,
.itel_nav li a:link,
.itel_nav li a:hover,
.itel_nav li a:visited{
	color: #333;
	display: block;
    width: 160px;
    margin: 0 auto;
}
.appIcon{
	width: 160px;
    height: 160px;
    display: block;
    background: #f78a31;
    margin: 10px auto;
    border-radius: 100%;
}
.appIcon > img{
    vertical-align: top;
    width: 160px;
    height: 160px;
}
.itel_nav span{
	font-size: 16px;
}
.homeCon {
    background-color: #f3f3f3;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Microsoft Yahei'
}

.homeCon .transfor,
.homeCon .shouye .homeContent .menu ul.ordinaryMenu li:hover .common,
.homeCon .appModel .intelSearch .itel_nav ul li:hover i,
.homeCon .appModel .intelMap .itel_nav ul li:hover i,
.homeCon .appModel .intelEye .itel_nav ul li:hover i,
.homeCon .appModel .intelAnalyse .itel_nav ul li:hover i,
.homeCon .appModel .intelYanpan .itel_nav ul li:hover i,
.homeCon .appModel .intelPlate .itel_nav ul li:hover i {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.homeCon .transiti,
.homeCon .changeModel .app .appImg,
.homeCon .changeModel .customer .custImg,
.homeCon .shouye .homeContent .today ul li,
.homeCon .shouye .homeContent .today ul li .mask,
.homeCon .shouye .homeContent .today ul li .comm,
.homeCon .shouye .homeContent .menu ul.ordinaryMenu li .delete,
.homeCon .appModel .intelSearch .itel_nav ul li:hover i,
.homeCon .appModel .intelMap .itel_nav ul li:hover i,
.homeCon .appModel .intelEye .itel_nav ul li:hover i,
.homeCon .appModel .intelAnalyse .itel_nav ul li:hover i,
.homeCon .appModel .intelYanpan .itel_nav ul li:hover i,
.homeCon .appModel .intelPlate .itel_nav ul li:hover i {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease
}

.homeCon .quanjing {
    background-color: #ff6541
}

.homeCon .fankong {
    background-color: #27ae61
}

.homeCon .shuju {
    background-color: #2aacff
}

.homeCon .tuceng {
    background-color: #ed7e24
}

.homeCon .guiji {
    background-color: #ff6541
}

.homeCon .cityguiji {
    background-color: #ff6541
}

.homeCon .heatmap {
    background-color: #df576f
}

.homeCon .jizhan {
    background-color: #2aacff
}

.homeCon .cludecollide {
    background-color: #27ae61
}

.homeCon .cludeduibi {
    background-color: #ff6541
}

.homeCon .quyubukong {
    background-color: #df576f
}

.homeCon .renyuanxinxi {
    background-color: #2aacff
}

.homeCon .renyuanhuaxiang {
    background-color: #2aacff
}

.homeCon .celiangxinxi {
    background-color: #27ae61
}

.homeCon .celianghuaxiang {
    background-color: #27ae61
}

.homeCon .caseInfo {
    background-color: #27ae61
}

.homeCon .guanxitupu {
    background-color: #ed7e24
}

.homeCon .guanxifaxian {
    background-color: #947eca
}

.homeCon .sixdegree {
    background-color: #ff6541
}

.homeCon .chelianghuaxiang {
    background-color: #2aacff
}

.homeCon .cepaisouce {
    background-color: #ed7e24
}

.homeCon .cexingsouce {
    background-color: #ed7e24
}

.homeCon .leibiesouce {
    background-color: #df576f
}

.homeCon .duowei {
    background-color: #ed7e24
}

.homeCon .zhanfaku {
    background-color: #2aacff
}

.homeCon .kakou {
    background-color: #2aacff
}

.homeCon .gengcefenxi {
    background-color: #27ae61
}

.homeCon .pengzhuangfenxi {
    background-color: #ed7e24
}

.homeCon .pingcifenxi {
    background-color: #ff6541
}

.homeCon .taipaifenxi {
    background-color: #27ae61
}

.homeCon .luojiaodian {
    background-color: #27ae61
}

.homeCon .zhoufu {
    background-color: #df576f
}

.homeCon .yinnice {
    background-color: #ff6541
}

.homeCon .pinghuan {
    background-color: #ed7e24
}

.homeCon .xingceguiji {
    background-color: #27ae61
}

.homeCon .renyuan {
    background-color: #ed7e24
}

.homeCon .cheliang {
    background-color: #df576f
}

.homeCon .anjian {
    background-color: #947eca
}

.homeCon .redianyuqing {
    background-color: #2aacff
}

.homeCon .zhiantaishi {
    background-color: #ff6541
}

.homeCon .weiwen {
    background-color: #ed7e24
}

.homeCon .wailaiqianke {
    background-color: #27ae61
}

.homeCon .jinxiaqu {
    background-color: #27ae61
}

.homeCon .systemparam {
    background-color: #ed7e24
}

.homeCon .alarmonfig {
    background-color: #ff6541
}

.homeCon .yujing {
    background-color: #9f8bcf
}

.homeCon .jifenmoxing {
    background-color: #ed7e24
}

.homeCon .leian {
    background-color: #2aacff
}

.homeCon .chuanbingan {
    background-color: #ff6541
}

.homeCon .liuchuan {
    background-color: #df576f
}

.homeCon .jigou {
    background-color: #9f8bcf
}

.homeCon .juese {
    background-color: #2aacff
}

.homeCon .quanxian {
    background-color: #ed7e24
}

.homeCon .dialyLog {
    background-color: #ed7e24
}

.homeCon .access {
    background-color: #2aacff
}

.homeCon .rizhi {
    background-color: #27ae61
}

.homeCon .heibaimingdan {
    background-color: #df576f
}

.homeCon .baimingdan {
    background-color: #df576f
}

.homeCon .monitorconfig {
    background-color: #ff6541
}

.homeCon .cpu {
    background-color: #ff6541
}

.homeCon .memery {
    background-color: #9f8bcf
}

.homeCon .cipan {
    background-color: #ed7e24
}

.homeCon .net {
    background-color: #27ae61
}

.homeCon .duankou {
    background-color: #ff6541
}

.homeCon .pengzhuangweihu {
    background-color: #ed7e24
}

.homeCon .shujuweihu {
    background-color: #9f8bcf
}

.homeCon .changeModel {
    width: 40px;
    height: 119px;
    position: fixed;
    right: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    z-index: 10
}

.homeCon .changeModel .img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 5px;
    background: url(../img/setting3.png) no-repeat
}

.homeCon .changeModel .isCurrentApp {
    background-color: #00a0e9 !important;
    color: #fff
}

.homeCon .changeModel .isCurrentApp .appImg {
    background-position: -1px -1px !important
}

.homeCon .changeModel .app {
    background-color: #e0e0e0;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px
}

.homeCon .changeModel .app .appImg {
    width: 17px;
    height: 22px;
    background-position: -19px -1px
}

.homeCon .changeModel .isCurrentCust {
    color: #fff;
    background-color: #00a0e9 !important
}

.homeCon .changeModel .isCurrentCust .custImg {
    background-position: -38px -1px !important
}

.homeCon .changeModel .customer {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: #e0e0e0
}

.homeCon .changeModel .customer .custImg {
    width: 20px;
    height: 21px;
    background-position: -59px -1px;
    margin-bottom: 5px
}

.homeCon .shouye {
/*    margin: 0 auto;
    width: 1300px;
    top: 50%;*/
}

.homeCon .shouye .homeContent {
    transition: all 1s;
    width: 1300px
}

.homeCon .shouye .homeContent .renwu {
    background-color: #fff;
    width: 240px;
    height: 320px;
    color: #7d8da7;
    float: left;
    border-radius: 3px;
    display: inline-block
}

.homeCon .shouye .homeContent .renwu .woman {
    background: url(../img/user-woman.png) no-repeat
}

.homeCon .shouye .homeContent .renwu .role {
    font-size: 14px;
    text-align: center;
    display: block
}

.homeCon .shouye .homeContent .renwu ul {
    margin-top: 15px
}

.homeCon .shouye .homeContent .renwu ul li {
    line-height: 49px;
    cursor: pointer
}

.homeCon .shouye .homeContent .renwu ul li span {
    display: inline-block;
    vertical-align: middle;
    float: left\9
}

.homeCon .shouye .homeContent .renwu ul li .tuxiang {
    width: 32px;
    height: 32px;
    margin-left: 30px;
    margin-right: 20px
}

.homeCon .shouye .homeContent .renwu ul li .xiaoxi2 {
    background: url(../img/home/xiaoxi.png) no-repeat;
    margin-top: 8px\9
}

.homeCon .shouye .homeContent .renwu ul li .daiban2 {
    background: url(../img/home/daiban2.png) no-repeat;
    margin-top: 8px\9
}

.homeCon .shouye .homeContent .renwu ul li .gongxiang2 {
    background: url(../img/home/news.png) no-repeat;
    margin-top: 8px\9
}

.homeCon .shouye .homeContent .renwu ul li .num {
    margin-left: 10%
}

.homeCon .shouye .homeContent .renwu ul li .num .con {
    color: #f7914d
}

.homeCon .shouye .homeContent .renwu ul li:hover {
    font-size: 16px
}

.homeCon .shouye .homeContent .today {
    width: 1040px;
    height: 320px;
    font-size: 12px;
    color: #666;
    margin-left: 20px;
    vertical-align: top;
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    display: inline-block
}

.homeCon .shouye .homeContent .today .gaikongText {
    height: 45px;
    line-height: 45px;
    text-align: left;
    margin-left: 20px;
    font-size: 16px
}

.homeCon .shouye .homeContent .today ul .buxianshi .comm {
    background: none
}

.homeCon .shouye .homeContent .today ul li {
    position: relative;
    margin-top: -1px;
    float: left;
    display: inline-block;
    width: 170px;
    height: 165px;
    line-height: 165px;
    border-left: none
}

.homeCon .shouye .homeContent .today ul li .mask {
    width: 100%;
    height: 141px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.homeCon .shouye .homeContent .today ul li:first-child {
    width: 283px;
    margin-right: 10px
}

.homeCon .shouye .homeContent .today ul li:first-child .amout {
    vertical-align: top;
    width: 100%;
    margin-top: 15px
}

.homeCon .shouye .homeContent .today ul li:first-child .amout .information {
    border-left: 6px solid #8fc31f;
    margin-bottom: 24px;
    padding-left: 13px
}

.homeCon .shouye .homeContent .today ul li:first-child .amout .count {
    color: #8fc31f;
    font-size: 35px;
    font-weight: bold;
    width: 265px;
    margin-left: 18px
}

.homeCon .shouye .homeContent .today ul li:nth-child(6) {
    width: 283px;
    margin-right: 10px
}

.homeCon .shouye .homeContent .today ul li:nth-child(6) .amout {
    vertical-align: top;
    width: 100%;
    margin-top: 15px
}

.homeCon .shouye .homeContent .today ul li:nth-child(6) .amout .information {
    border-left: 6px solid #54c3f1;
    margin-bottom: 24px;
    padding-left: 13px
}

.homeCon .shouye .homeContent .today ul li:nth-child(6) .amout .count {
    color: #54c3f1;
    font-size: 35px;
    font-weight: bold;
    width: 265px;
    margin-left: 18px
}

.homeCon .shouye .homeContent .today ul li .comm {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
    position: relative;
    background: url(../img/home/newHome.png) no-repeat
}

.homeCon .shouye .homeContent .today ul li .ziyuan {
    background: none;
    display: none
}

.homeCon .shouye .homeContent .today ul li .renkou {
    background-position: 0 -160px
}

.homeCon .shouye .homeContent .today ul li .celiang {
    background-position: 0 -200px
}

.homeCon .shouye .homeContent .today ul li .anjian {
    background-position: 0 -240px
}

.homeCon .shouye .homeContent .today ul li .xiangyiren {
    background-position: 0 -280px
}

.homeCon .shouye .homeContent .today ul li .leijishuju {
    background: none;
    display: none
}

.homeCon .shouye .homeContent .today ul li .leijirenkou {
    background-position: 0 0
}

.homeCon .shouye .homeContent .today ul li .leijiceliang {
    background-position: 0 -40px
}

.homeCon .shouye .homeContent .today ul li .leijianjian {
    background-position: 0 -80px
}

.homeCon .shouye .homeContent .today ul li .leijixianyiren {
    background-position: 0 -120px
}

.homeCon .shouye .homeContent .today ul li .amout {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 30px;
    text-align: left;
    margin-left: 10px;
    z-index: 2
}

.homeCon .shouye .homeContent .today ul li .amout p {
    margin: 0
}

.homeCon .shouye .homeContent .today ul li .amout .count {
    font-size: 16px;
    color: #444
}

.homeCon .shouye .homeContent .waitMenuBox {
    width: 270px;
    height: 370px;
    position: absolute;
    left: 20%;
    z-index: 1;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity .15s linear
}

.homeCon .shouye .homeContent .waitMenuBox .anniu {
    width: 130px;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom: 18px;
    z-index: 100;
    text-align: center
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu {
    height: 290px;
    width: 260px;
    width: 270px\9\0;
    overflow-y: auto;
    position: absolute;
    margin-top: 20px;
    padding: 1px;
    padding-bottom: 10px;
    font-size: 14px;
    margin-left: 0;
    line-height: 1.42857143;
    white-space: normal
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu .anniu {
    text-align: center;
    top: 597px;
    left: 310px;
    opacity: 0.7;
    position: fixed
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu .anniu button {
    display: inline-block;
    line-height: 15px
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu .anniu .btn-success {
    margin-right: 20px
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul {
    padding-left: 10px;
    padding-right: 10px;
    width: 230px;
    display: inline-block
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul li {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    width: 70px;
    text-align: center;
    cursor: pointer
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul li .selectedMenu {
    display: block !important;
    background-position: 0 -20px !important
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul li .addImg {
    background: url(../img/checkbox.png) no-repeat;
    position: absolute;
    width: 20px;
    top: -8px;
    height: 20px;
    left: 2px;
    display: none;
    z-index: 1;
    background-position: 0 0
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul li .addImg:hover {
    background-position: 0 -20px
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul li i {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: relative;
    border-radius: 5px
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul li i span {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul li p {
    font-size: 12px;
    color: #999;
    display: inline-block;
    margin-top: 5px;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.homeCon .shouye .homeContent .waitMenuBox .waitMenu ul li:hover .addImg {
    display: block
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .homeCon .shouye .homeContent .waitMenuBox {
        width: 250px
    }
    .homeCon .shouye .homeContent .waitMenuBox .waitMenu {
        width: 240px
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .homeCon .shouye .homeContent .waitMenuBox {
        width: 260px
    }
    .homeCon .shouye .homeContent .waitMenuBox .waitMenu {
        width: 250px
    }
}

.homeCon .shouye .homeContent .menu {
    width: 240px;
    color: #999;
    margin-top: 20px;
    height: 286px;
    background-color: #fff;
    text-align: center;
    float: left;
    position: relative;
    border-radius: 3px;
    display: inline-block
}

.homeCon .shouye .homeContent .menu .menuHead {
    font-size: 14px;
    line-height: 45px;
    height: 45px;
    color: #000;
    text-align: left;
    margin-left: 30px
}

.homeCon .shouye .homeContent .menu .menuHead .caidanText {
    color: #666
}

.homeCon .shouye .homeContent .menu .menuHead .setting {
    width: 17px;
    height: 17px;
    margin-left: 110px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/setting3.png) no-repeat;
    background-position: -160px -1px
}

.homeCon .shouye .homeContent .menu ul.ordinaryMenu {
    text-align: left;
    margin-left: 20px
}

.homeCon .shouye .homeContent .menu ul.ordinaryMenu li {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    width: 70px;
    cursor: pointer
}

.homeCon .shouye .homeContent .menu ul.ordinaryMenu li .delete {
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    right: 5px;
    background: url(../img/setting3.png) no-repeat;
    background-position: -177px -1px;
    z-index: 1
}

.homeCon .shouye .homeContent .menu ul.ordinaryMenu li i {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: relative;
    border-radius: 5px
}

.homeCon .shouye .homeContent .menu ul.ordinaryMenu li i span {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px
}

.homeCon .shouye .homeContent .menu ul.ordinaryMenu li p {
    font-size: 12px;
    color: #999;
    display: inline-block;
    margin-top: 5px;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.homeCon .shouye .homeContent .menu ul.ordinaryMenu li:hover .delete {
    display: inline-block
}

.homeCon .shouye .homeContent .menu ul.ordinaryMenu li:nth-child(3n) {
    margin-right: 0
}

.homeCon .shouye .homeContent .menu .pagination {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}

.homeCon .shouye .homeContent .menu .pagination li {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: #c7c7c7;
    cursor: pointer;
    margin-right: 10px
}

.homeCon .shouye .homeContent .menu .pagination .isCurrentPage,
.homeCon .shouye .homeContent .menu .pagination li:hover {
    background-color: #79c5e9
}

.homeCon .shouye .homeContent .bianhua {
    margin-top: 20px;
    width: 1040px;
    height: 286px;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: #000
}

.homeCon .shouye .homeContent .bianhua .header {
    border-bottom: 1px solid #f4f4f4;
    line-height: 47px;
    height: 47px
}

.homeCon .shouye .homeContent .bianhua .header .bianhuaText {
    margin-left: 20px;
    float: left;
    font-size: 14px;
    color: #666
}

.homeCon .shouye .homeContent .bianhua .header .bianhuaButton {
    float: right;
    text-align: center;
    margin-right: 20px
}

.homeCon .shouye .homeContent .bianhua .header .bianhuaButton a {
    border: 1px solid #5E6A7A;
    color: #000000
}

.homeCon .shouye .homeContent .bianhua .header ul {
    display: inline-block;
    float: right;
    margin-right: 5%
}

.homeCon .shouye .homeContent .bianhua .header ul .isCurrent {
    color: #7d8da7;
    font-weight: bold
}

.homeCon .shouye .homeContent .bianhua .header ul .isCurrent a:after {
    transform: scaleX(1)
}

.homeCon .shouye .homeContent .bianhua .header ul li {
    display: inline-block;
    float: left;
    cursor: pointer;
    text-align: center
}

.homeCon .shouye .homeContent .bianhua .header ul li a {
    padding: 16px 20px;
    position: relative;
    color: #7d8da7;
    font-size: 12px;
    font-family: Simsun Regular
}

.homeCon .shouye .homeContent .bianhua .header ul li a:after {
    content: '.';
    width: 100%;
    height: 4px;
    display: block;
    overflow: hidden;
    border-bottom: 3px solid #79c5e9;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform .5s ease
}

.homeCon .shouye .homeContent .bianhua .header ul li a:hover:after {
    transform: scaleX(1)
}

.homeCon .shouye .homeContent .bianhua #qushi {
    overflow: hidden
}

.homeCon .shouye .homeContent .bianhua #qushi>div {
    top: -30px
}

.homeCon .app {
    top: 0;
    margin-top: 60px
}

.homeCon .appModel {
    *padding-left: 8%;
    text-align: center;
}

.homeCon .appModel .intelSearch,
.homeCon .appModel .intelMap,
.homeCon .appModel .intelEye,
.homeCon .appModel .intelAnalyse,
.homeCon .appModel .intelYanpan,
.homeCon .appModel .intelPlate {
    *margin-top: 28px;
    height: 148px
}

.homeCon .appModel .intelSearch .itel_nav,
.homeCon .appModel .intelMap .itel_nav,
.homeCon .appModel .intelEye .itel_nav,
.homeCon .appModel .intelAnalyse .itel_nav,
.homeCon .appModel .intelYanpan .itel_nav,
.homeCon .appModel .intelPlate .itel_nav {
    position: relative;
    overflow: hidden;
    height: 100%
}

.homeCon .appModel .intelSearch .itel_nav .moreText,
.homeCon .appModel .intelMap .itel_nav .moreText,
.homeCon .appModel .intelEye .itel_nav .moreText,
.homeCon .appModel .intelAnalyse .itel_nav .moreText,
.homeCon .appModel .intelYanpan .itel_nav .moreText,
.homeCon .appModel .intelPlate .itel_nav .moreText {
    height: 30px;
    width: 70px;
    color: #535353;
    position: relative;
    vertical-align: top;
    margin-top: 55px;
    display: inline-block;
    margin-right: 10px
}

.homeCon .appModel .intelSearch .itel_nav ul,
.homeCon .appModel .intelMap .itel_nav ul,
.homeCon .appModel .intelEye .itel_nav ul,
.homeCon .appModel .intelAnalyse .itel_nav ul,
.homeCon .appModel .intelYanpan .itel_nav ul,
.homeCon .appModel .intelPlate .itel_nav ul {
    width: 1015px;
    vertical-align: middle;
    display: inline-block
}

.homeCon .appModel .intelSearch .itel_nav ul li,
.homeCon .appModel .intelMap .itel_nav ul li,
.homeCon .appModel .intelEye .itel_nav ul li,
.homeCon .appModel .intelAnalyse .itel_nav ul li,
.homeCon .appModel .intelYanpan .itel_nav ul li,
.homeCon .appModel .intelPlate .itel_nav ul li {
    width: 100px;
    height: 148px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center
}

.homeCon .appModel .intelSearch .itel_nav ul li .mask,
.homeCon .appModel .intelMap .itel_nav ul li .mask,
.homeCon .appModel .intelEye .itel_nav ul li .mask,
.homeCon .appModel .intelAnalyse .itel_nav ul li .mask,
.homeCon .appModel .intelYanpan .itel_nav ul li .mask,
.homeCon .appModel .intelPlate .itel_nav ul li .mask {
    width: 105px;
    height: 148px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E0E0E0;
    transition: all 0.5s
}

.homeCon .appModel .intelSearch .itel_nav ul li .isChecked,
.homeCon .appModel .intelMap .itel_nav ul li .isChecked,
.homeCon .appModel .intelEye .itel_nav ul li .isChecked,
.homeCon .appModel .intelAnalyse .itel_nav ul li .isChecked,
.homeCon .appModel .intelYanpan .itel_nav ul li .isChecked,
.homeCon .appModel .intelPlate .itel_nav ul li .isChecked {
    background-position: -40px 0 !important
}

.homeCon .appModel .intelSearch .itel_nav ul li .checkHistory,
.homeCon .appModel .intelMap .itel_nav ul li .checkHistory,
.homeCon .appModel .intelEye .itel_nav ul li .checkHistory,
.homeCon .appModel .intelAnalyse .itel_nav ul li .checkHistory,
.homeCon .appModel .intelYanpan .itel_nav ul li .checkHistory,
.homeCon .appModel .intelPlate .itel_nav ul li .checkHistory {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    display: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: url(../img/green.png) no-repeat;
    background-position: 0 0
}

.homeCon .appModel .intelSearch .itel_nav ul li .checkHistory:hover,
.homeCon .appModel .intelMap .itel_nav ul li .checkHistory:hover,
.homeCon .appModel .intelEye .itel_nav ul li .checkHistory:hover,
.homeCon .appModel .intelAnalyse .itel_nav ul li .checkHistory:hover,
.homeCon .appModel .intelYanpan .itel_nav ul li .checkHistory:hover,
.homeCon .appModel .intelPlate .itel_nav ul li .checkHistory:hover {
    background-position: -20px 0
}

.homeCon .appModel .intelSearch .itel_nav ul li i,
.homeCon .appModel .intelMap .itel_nav ul li i,
.homeCon .appModel .intelEye .itel_nav ul li i,
.homeCon .appModel .intelAnalyse .itel_nav ul li i,
.homeCon .appModel .intelYanpan .itel_nav ul li i,
.homeCon .appModel .intelPlate .itel_nav ul li i {
    display: block;
    width: 66px;
    height: 66px;
    margin-top: 21px;
    margin-left: 17px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: 1;
    position: relative;
    border-radius: 50%
}

.homeCon .appModel .intelSearch .itel_nav ul li .appIcon,
.homeCon .appModel .intelMap .itel_nav ul li .appIcon,
.homeCon .appModel .intelEye .itel_nav ul li .appIcon,
.homeCon .appModel .intelAnalyse .itel_nav ul li .appIcon,
.homeCon .appModel .intelYanpan .itel_nav ul li .appIcon,
.homeCon .appModel .intelPlate .itel_nav ul li .appIcon {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    left: 17px;
    width: 66px;
    height: 66px
}

.homeCon .appModel .intelSearch .itel_nav ul li span,
.homeCon .appModel .intelMap .itel_nav ul li span,
.homeCon .appModel .intelEye .itel_nav ul li span,
.homeCon .appModel .intelAnalyse .itel_nav ul li span,
.homeCon .appModel .intelYanpan .itel_nav ul li span,
.homeCon .appModel .intelPlate .itel_nav ul li span {
    display: block;
    margin-top: 10px;
    z-index: 1;
    position: relative;
    font-size: 12px
}

.homeCon .appModel .intelSearch .itel_nav ul li:hover .checkHistory,
.homeCon .appModel .intelMap .itel_nav ul li:hover .checkHistory,
.homeCon .appModel .intelEye .itel_nav ul li:hover .checkHistory,
.homeCon .appModel .intelAnalyse .itel_nav ul li:hover .checkHistory,
.homeCon .appModel .intelYanpan .itel_nav ul li:hover .checkHistory,
.homeCon .appModel .intelPlate .itel_nav ul li:hover .checkHistory {
    display: inline-block
}

.homeCon .appModel .intelSearch .itel_nav ul li:hover i,
.homeCon .appModel .intelMap .itel_nav ul li:hover i,
.homeCon .appModel .intelEye .itel_nav ul li:hover i,
.homeCon .appModel .intelAnalyse .itel_nav ul li:hover i,
.homeCon .appModel .intelYanpan .itel_nav ul li:hover i,
.homeCon .appModel .intelPlate .itel_nav ul li:hover i {
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.homeCon .appModel .intelSearch .itel_nav .showAll,
.homeCon .appModel .intelMap .itel_nav .showAll,
.homeCon .appModel .intelEye .itel_nav .showAll,
.homeCon .appModel .intelAnalyse .itel_nav .showAll,
.homeCon .appModel .intelYanpan .itel_nav .showAll,
.homeCon .appModel .intelPlate .itel_nav .showAll {
    height: 30px;
    width: 70px;
    padding: 0 10px;
    cursor: pointer;
    line-height: 30px;
    bottom: 40px;
    color: #535353;
    position: absolute;
    border: 1px solid #b5b5b5;
    border-radius: 18px;
    display: inline-block
}

.homeCon .appModel .intelSearch .itel_nav .showAll .up,
.homeCon .appModel .intelMap .itel_nav .showAll .up,
.homeCon .appModel .intelEye .itel_nav .showAll .up,
.homeCon .appModel .intelAnalyse .itel_nav .showAll .up,
.homeCon .appModel .intelYanpan .itel_nav .showAll .up,
.homeCon .appModel .intelPlate .itel_nav .showAll .up {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.homeCon .appModel .intelSearch .itel_nav .showAll .text,
.homeCon .appModel .intelMap .itel_nav .showAll .text,
.homeCon .appModel .intelEye .itel_nav .showAll .text,
.homeCon .appModel .intelAnalyse .itel_nav .showAll .text,
.homeCon .appModel .intelYanpan .itel_nav .showAll .text,
.homeCon .appModel .intelPlate .itel_nav .showAll .text {
    margin-left: 5px
}

.homeCon #container {
    position: relative
}

.homeCon #container .homeContent {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0)
}

.homeCon #container .appModel {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition-property: transform, opacity;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-duration: .75s;
    -webkit-transition-duration: .75s;
    -moz-transition-duration: .75s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -webkit-transform: translateX(-500px)
}

.homeCon #container.app .homeContent {
    pointer-events: none;
    opacity: 0;
    transition-property: transform, opacity;
    -webkit-transition-property: -webkit-tranform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transform: translateX(500px);
    -moz-transform: translateX(500px);
    -ms-transform: translateX(500px);
    -webkit-transform: translateX(500px)
}

.homeCon #container.app .appModel {
    pointer-events: visible;
    opacity: 1;
    z-index: 0;
    margin-top: -25px;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0)
}

@keyframes icon-bounce {
    0%,
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    25% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    50% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }
    75% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    85% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@-webkit-keyframes icon-bounce {
    0%,
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    25% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    50% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }
    75% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    85% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@-moz-keyframes icon-bounce {
    0%,
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    25% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    50% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }
    75% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    85% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@-o-keyframes icon-bounce {
    0%,
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    25% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    50% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }
    75% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    85% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@keyframes fromTo {
    0%,
    100% {
        transform: translateY(0)
    }
    25% {
        transform: translateY(-50%)
    }
}

@-webkit-keyframes fromTo {
    0%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0)
    }
    25% {
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%)
    }
}

@-moz-keyframes fromTo {
    0%,
    100% {
        transform: translateY(0);
        -moz-transform: translateY(0)
    }
    25% {
        transform: translateY(-50%);
        -moz-transform: translateY(-50%)
    }
}

.commission .more {
    color: #00a0e9;
    cursor: pointer
}

.commission .shorten {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    padding: 2px 10px 2px 10px
}

.commission .commission-top {
    font-size: 12px;
    color: #000;
    padding: 10px 23px
}

.commission .commission-top .back {
    color: #999999;
    cursor: pointer
}

.commission .main-box {
    width: 98%;
    margin: 0px auto;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    position: relative
}

.commission .main-box .showType {
    margin-top: 25px
}

.commission .main-box .showType .defaultStyle {
    background-color: #ffffff;
    border: 1px solid #ff8533;
    color: #ff8533
}

.commission .main-box .showType .commonStyle {
    background-color: #ff8533;
    border: 1px solid #ff8533
}

.commission .main-box .showButton {
    border-top: 1px solid #e3e3e3;
    margin-top: 24px
}

.commission .main-box .showButton .daibanFont {
    float: left;
    margin-left: 10px;
    line-height: 50px;
    font-size: 12px;
    color: #707070
}

.commission .main-box .showButton .daibanFont span {
    color: #0baafc
}

.commission .main-box .showButton .daibanBtn {
    float: right;
    padding-top: 10px;
    margin-right: 10px
}

.commission .main-box .missionTab {
    margin-top: 50px
}

#looked {
    color: #8fc31f
}

.db-layer .layer-form-group {
    border-bottom: none
}

.mission-content {
    width: 600px;
    height: 200px;
    resize: none;
    border: 1px solid #dbdbdb;
    margin: -30px 0px 0px 99px;
    display: block
}

.mission-target {
    float: right;
    margin-left: 4px;
    width: 600px;
    border: 1px solid #dedede;
    max-height: 70px;
    overflow-y: auto;
    cursor: text
}

.mailAddressInputBtn {
    overflow-x: visible;
    overflow-y: visible;
    border: none;
    vertical-align: top;
    padding-top: 6px;
    margin-left: 3px
}

.homeCon .shouye .homeContent .renwu .touxiang {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto 5px auto;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #DFDFDF;
    overflow: hidden;
    text-align: center;
    cursor: pointer
}

.homeCon .shouye .homeContent .renwu .touxiang img {
    width: 88px;
    height: 88px
}

.btn-tx-reload {
    position: relative;
    overflow: hidden
}

.btn-tx-reload .tx-file {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.layer-drop {
    overflow: inherit !important
}

.layer-drop .dropdown-menu {
    max-height: 140px;
    overflow: hidden;
    overflow-y: auto;
    min-width: 600px
}

.layer-drop .list-box {
    width: 278px;
    overflow: hidden;
    max-height: 340px;
    overflow-y: auto;
    border: 1px solid #dedede;
    margin: 0 auto;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    color: #999999;
    text-align: center;
    line-height: 46px
}

.layer-drop .list-box>li {
    background: #fff;
    cursor: pointer
}

.layer-drop .list-box>li:nth-child(even) {
    background: #f4f4f4
}

.layer-drop .list-box>li:hover {
    background: #fcf8e3
}

.take-title {
    width: 278px;
    height: 46px;
    margin: 0 auto 0 auto;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    color: #999999;
    text-align: center;
    line-height: 46px;
    background: #f4f4f4
}

.list-wrap1 {
    padding: 5px 0
}

.list-wrap1 .list-item {
    position: relative;
    font-size: 12px;
    line-height: 28px;
    padding: 0 36px 0 20px;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    color: #fff;
    background: #00a0e9;
    border-radius: 3px
}

.list-wrap1 .list-item .icon-btn-cancel {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 5px
}

.layer_bianji_main {
    height: 100%
}

.layer_bianji_main .layer_bianji_show {
    float: left;
    width: 173px;
    height: 245px;
    border: 1px solid #eee;
    margin: auto 7px auto 7px;
    overflow-y: auto
}

.layer_bianji_main .layer_bianji_show ul li {
    height: 30px
}

.layer_bianji_main .layer_bianji_show ul li .mli {
    margin: 12px auto auto 50px;
    line-height: 30px
}

.layer_bianji_main .layer_bianji_show ul li .cli {
    margin: 20px auto auto 12px;
    line-height: 30px
}

.layer_bianji_main .layer_bianji_show ul li span i {
    height: 0;
    width: 0;
    overflow: hidden;
    border-color: #000 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 5px;
    display: block;
    float: left;
    margin: 8px 5px auto 5px
}

.layer_bianji_main .layer_bianji_show ul li:hover {
    background-color: #179BE6
}

.layer_bianji_main .layer_bianji_show ul li:hover a {
    color: #FFFFFF
}

.layer_bianji_main .layer_bianji_show ul li a {
    color: #000000
}

.layer_bianji_main .layer_bianji_show_text {
    margin: auto 7px auto 7px
}

.new {
    color: red;
    font-weight: bold
}

.otherStatus {
    font-weight: bold
}
