/* line 1, ../scss_default/point.scss */
.point {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 5, ../scss_default/point.scss */
.point .map-main {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 9, ../scss_default/point.scss */
.point .map-main .left-sider {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.8rem;
  height: 100%;
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.1rem #888888;
}
/* line 18, ../scss_default/point.scss */
.point .map-main .left-sider .left-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: #959595;
}
/* line 23, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .img-upload {
  width: 60%;
  margin: 10px auto;
  text-align: center;
}
/* line 27, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .img-upload img {
  max-width: 100%;
  max-height: 100%;
}
/* line 31, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .img-upload .upload-btn {
  width: 80%;
  height: 30px;
  margin-top: 10px;
  position: relative;
}
/* line 38, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .img-upload .upload-btn input.upload {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 49, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-head {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
/* line 53, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-head .head-txt {
  padding-left: 0;
  margin-left: 10px;
  background: transparent;
}
/* line 58, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-head .head-btn {
  width: 22px;
  height: 22px;
  cursor: pointer;
  float: right;
  margin-top: 9px;
  margin-right: 5%;
  background: url(../img/map/menu_down.png) no-repeat;
}
/* line 66, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-head .head-btn.arrow-up {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
/* line 74, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
}
/* line 79, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item {
  height: 34px;
  width: 260px;
  margin: 6px 10px 0 10px;
  font-size: 12px;
  line-height: 32px;
  background-color: #fff;
}
/* line 86, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item.analyze {
  width: 260px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  height: 36px;
  margin-top: 10px;
  line-height: 0px;
  background-color: #00a0e9;
  border-radius: 3px;
  color: #fff;
}
/* line 97, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item.analyze:hover {
  background-color: #0D89C9;
}
/* line 101, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item .filter-name {
  display: inline-block;
  color: #959595;
  float: left;
  width: 30%;
  padding-left: 5%;
  border: 1px solid #dbdbdb;
  border-right: 0;
}
/* line 110, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item .filter-val {
  display: inline-block;
  width: 70%;
  height: 34px;
  border: 1px solid #dbdbdb;
}
/* line 115, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item .filter-val.nob {
  border: 0;
}
/* line 118, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item .filter-val .dropdown-select {
  height: 34px;
  line-height: 34px;
  border-radius: 0;
  cursor: pointer;
}
/* line 125, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item .filter-val input {
  height: 32px;
  border-radius: 0;
  border: 0;
  padding: 0 10px;
  width: 100%;
}
/* line 131, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item .filter-val input.calendInput {
  background: url(../img/canlendar.png) 151px no-repeat;
}
/* line 136, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item .width6 {
  width: 60%;
}
/* line 139, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-filter .filter-item .width4 {
  width: 40%;
}
/* line 144, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result {
  padding: 0 10px;
}
/* line 146, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .pages {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}
/* line 150, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .pages .back-btn {
  width: 30px;
  height: 30px;
  background: url(../img/map/arrow-left-on.png) center no-repeat;
  cursor: pointer;
  display: inline-block;
}
/* line 157, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .pages .total-record {
  padding: 10px 0;
  float: right;
}
/* line 161, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .pages span {
  display: inline-block;
  font-size: 12px;
  color: #666;
}
/* line 165, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .pages span i {
  font-style: normal;
}
/* line 171, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item {
  width: 100%;
  height: 90px;
  padding: 5px 0;
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}
/* line 177, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item.car {
  display: flex;
  display: -ms-flex/9/0;
  align-items: center;
  height: auto;
  overflow: hidden;
}
/* line 184, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item:hover {
  border: 1px solid #00a0e9;
}
/* line 187, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item.h-100 {
  height: 100px;
}
/* line 190, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .index, .point .map-main .left-sider .left-content .left-result .result-lists .list-item .img, .point .map-main .left-sider .left-content .left-result .result-lists .list-item .txt {
  float: left;
  height: 100%;
}
/* line 195, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .index {
  width: 30px;
  text-align: center;
}
/* line 198, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .index:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 205, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .index span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #c52828;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 217, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .img {
  width: 70px;
  margin: 0 10px;
}
/* line 220, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .img img {
  width: 70px;
  height: 80px;
}
/* line 225, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .txt {
  width: 120px;
  padding: 0;
}
/* line 228, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .txt .txt-list {
  padding: 4px 0px;
}
/* line 230, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .txt .txt-list .time-label {
  display: inline-block;
  float: left;
}
/* line 234, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .txt .txt-list .time {
  padding-left: 10px;
  display: inline-block;
  width: 90px;
}
/* line 240, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .txt p {
  padding: 0;
}
/* line 243, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .txt p span.district {
  color: #333;
  font-weight: 600;
}
/* line 247, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .txt p span.frequency {
  color: #f00;
}
/* line 253, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .content {
  margin-left: 10px;
  width: 200px;
}
/* line 256, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .content h3 {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
/* line 261, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .content p {
  line-height: 20px;
  font-size: 12px;
  color: #666;
}
/* line 265, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .content p i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/map/vehicle-result.png);
  vertical-align: middle;
}
/* line 271, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .content p i.speed {
  background-position: -26px 0;
}
/* line 274, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .content p i.time {
  background-position: -78px 0;
}
/* line 277, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .list-item .content p i.address {
  background-position: -52px 0;
}
/* line 284, ../scss_default/point.scss */
.point .map-main .left-sider .left-content .left-result .result-lists .active {
  border: 1px solid #00a0e9;
}

/* line 295, ../scss_default/point.scss */
.npmap-dialog .npmap-dialog-titlebar .title {
  font-size: 14px;
}
/* line 303, ../scss_default/point.scss */
.npmap-dialog .npmap-dialog-content .info p span.num {
  color: #f00;
}
/* line 306, ../scss_default/point.scss */
.npmap-dialog .npmap-dialog-content .info p span.view {
  cursor: pointer;
}
/* line 308, ../scss_default/point.scss */
.npmap-dialog .npmap-dialog-content .info p span.view:hover {
  text-decoration: underline;
}

/* line 320, ../scss_default/point.scss */
.layui-layer-content .content .img-lists .img-item {
  width: 100px;
  padding: 5px;
  height: auto;
  float: left;
  border: 1px solid #ccc;
  position: relative;
  margin: 5px;
}
/* line 328, ../scss_default/point.scss */
.layui-layer-content .content .img-lists .img-item img {
  width: 90px;
}
/* line 331, ../scss_default/point.scss */
.layui-layer-content .content .img-lists .img-item p {
  line-height: 20px;
}
/* line 334, ../scss_default/point.scss */
.layui-layer-content .content .img-lists .img-item span {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 20px;
  background: rgba(239, 73, 11, 0.6);
  border-radius: 4px;
  text-align: center;
  color: #fff;
  line-height: 20px;
}

/*layer*/
/* line 352, ../scss_default/point.scss */
.fullscreen-layer .left-screen {
  display: block;
  width: 27px;
  height: 29px;
  position: absolute;
  background: url(../img/default/pic.png) -270px -413px no-repeat;
  top: 50%;
  left: 2%;
}
/* line 361, ../scss_default/point.scss */
.fullscreen-layer .right-screen {
  display: block;
  width: 27px;
  height: 29px;
  background: url(../img/default/pic.png) -161px -413px no-repeat;
  position: absolute;
  top: 50%;
  right: 2%;
}
