.nav{
  width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(-90deg, #18183C 0%, #143363 100%);
  line-height: 0.5rem;
  position: relative;
}
.nav.hid{
  margin-top: -0.47rem;
  transition: all 0.3s;
}
.nav.hid:hover{
  margin-top: 0;
}
.nav.hid .menuList{
  display: none
}
.nav.hid:hover .menuList{
  display: block
}


.nav .logo{
  float: left;
  width: 3.2rem;
  overflow: hidden;
  height: 0.5rem;
}

.nav .logo .logoImg{
  float: left;
  background: url(../../template/img/police.png) no-repeat;
  background-size: 100%;
  width: 0.34rem;
  height: 0.34rem;
  margin-top: 0.1rem;
  margin-left: 0.18rem;
  margin-right: 0.1rem;
}
.nav .logo .logoText{
  float: left;
  font-size:0.2rem;
  color: #FFFFFF;
}
.nav .navList{
  float: left;
  height: 0.5rem;
}
.nav .navList li{
  line-height: 0.5rem;
  width: 0.86rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.14rem;
  color:#CAD4EB;
  float: left;
  position: relative;
}
.nav .navList li.active{
  background: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
}
.nav .navList li:hover{
  background: rgba(255,255,255,0.1);
  color: #FFFFFF;
}
.nav .navList li:hover::before {
  display: block;
  position: absolute; 
  content: '';
  width: 0;
  height: 0;
  border: 0.08rem solid #fff;
  border-top: 0.06rem solid #143363;
  border-bottom: 0.06rem solid #fff;
  bottom: -0.12rem;
  left: 0.38rem;
  z-index: 2;
}

.nav .menuList{
  position: absolute;
  top: 0.5rem;
  width: 100%;
  z-index: 1;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.10);
  padding-left:2.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.48rem;
}
.nav .menuList ul{
  overflow: hidden;
}
.nav .menuList ul li{
  float: left;
  width: 2rem;
  margin:0 0.2rem ;
}
.nav .menuList ul li h2{
  width: 2rem;
  font-weight: 700;
  font-size: 0.14rem;
  line-height: 0.3rem;
  color: #333;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.1rem;
}
.nav .menuList ul li p{
  cursor: pointer;
  color: #333;
  font-size: 0.14rem;
  line-height: 0.3rem;
}
.nav .menuList ul li p.active{
  color:#4488EE;
}

.nav .searchBox{
  float: right;
  width: 2rem;
  height: 0.5rem;
  position: relative;
}
.nav .searchBox .search {
  background-image: linear-gradient(0deg, #11396F 0%, #0A517E 100%);
  border-radius: 3px;
  outline: none;
  height: 0.3rem;
  width: 2rem;
  margin: 0.1rem 0;
  border: 0 none;
  color:#fff;
  padding-left: 0.35rem;
}
.nav .searchBox .searchBtn{
      position: absolute;
      left: 0.12rem;
      top: 0.18rem;
      width: 0.14rem;
      height: 0.14rem;
      background: url(../img/panel/searchicon.png) no-repeat center/cover;

}
.nav .userInfoBox {
    float: right;
    width: 1.87rem;
    height: 0.5rem;
}
.userInfoBox .defaultInfo {
    height: .5rem;
    vertical-align: middle;
}

.userInfoBox .defaultInfo .head {
    width: 0.3rem;
    height: 0.3rem;
    background: url(../img/panel/userHead.png) center no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.userInfoBox .defaultInfo .head img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-radius: 50%;
}

.userInfoBox .nicename {
    font-size: 12px;
    color: #5dbef6;
    display: inline-block;
    vertical-align: middle;
}

.userInfoBox .nicename .arrow {
    position: relative;
}


.nav .loginOutBox{
  cursor: pointer;
  float: right;
  height: 0.5rem;
  width: 0.5rem;
  padding: 0.13rem;
}
.nav .loginOutBox .loginOut{
  width: 100%;
  height: 100%;
  background: url(../img/login/logout.png) no-repeat center/cover;
}





