/* line 1, ../scss_default/trackShow.scss */
.trackShow {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 5, ../scss_default/trackShow.scss */
.trackShow .map-main {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 9, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.4rem;
  height: 100%;
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.1rem #888888;
}
/* line 18, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: #959595;
}
/* line 23, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .img-upload {
  width: 60%;
  margin: 10px auto;
  text-align: center;
}
/* line 27, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .img-upload img {
  max-width: 100%;
  max-height: 100%;
}
/* line 31, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .img-upload .upload-btn {
  width: 80%;
  height: 30px;
  margin-top: 10px;
  position: relative;
}
/* line 38, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .img-upload .upload-btn input.upload {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 49, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-head {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
/* line 54, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-head .head-txt {
  padding-left: 25px;
  margin-left: 10px;
  background: url(../img/map/vim-module-icons-min.png) 0 -302px no-repeat;
}
/* line 59, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-head .head-btn {
  width: 22px;
  height: 22px;
  cursor: pointer;
  float: right;
  margin-top: 9px;
  margin-right: 5%;
  background: url(../img/map/menu_down.png) no-repeat;
}
/* line 67, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-head .head-btn.arrow-up {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
/* line 75, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
}
/* line 80, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item {
  height: 34px;
  width: 260px;
  margin: 6px auto;
  font-size: 12px;
  line-height: 32px;
  background-color: #fff;
}
/* line 87, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item.analyze {
  width: 260px;
  cursor: pointer;
  text-align: center;
  height: 36px;
  margin-top: 10px;
  line-height: 0px;
  background-color: #00a0e9;
  border-radius: 3px;
  color: #fff;
}
/* line 98, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item.analyze:hover {
  background-color: #0D89C9;
}
/* line 102, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item .filter-name {
  display: inline-block;
  color: #959595;
  float: left;
  width: 30%;
  padding-left: 5%;
  border: 1px solid #dbdbdb;
  border-right: 0;
}
/* line 111, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item .filter-val {
  display: inline-block;
  width: 70%;
  height: 34px;
  border: 1px solid #dbdbdb;
}
/* line 116, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item .filter-val.nob {
  border: 0;
}
/* line 119, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item .filter-val .dropdown-select {
  height: 34px;
  line-height: 34px;
  border-radius: 0;
  cursor: pointer;
}
/* line 126, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item .filter-val input {
  height: 32px;
  border-radius: 0;
  border: 0;
  padding: 0 10px;
  width: 100%;
}
/* line 132, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-filter .filter-item .filter-val input.calendInput {
  background: url(../img/canlendar.png) 151px no-repeat;
}
/* line 139, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result {
  padding: 0 10px;
}
/* line 141, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .pages {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}
/* line 145, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .pages .back-btn {
  width: 30px;
  height: 30px;
  background: url(../img/map/arrow-left-on.png) center no-repeat;
  cursor: pointer;
  display: inline-block;
}
/* line 152, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .pages .total-record {
  padding: 10px 0;
  float: right;
}
/* line 156, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .pages span {
  display: inline-block;
  font-size: 12px;
  color: #666;
}
/* line 160, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .pages span i {
  font-style: normal;
}
/* line 166, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item {
  width: 100%;
  height: 90px;
  padding: 5px 0;
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}
/* line 172, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item.active {
  border: 1px solid #00a0e9;
}
/* line 175, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item.h-100 {
  height: 100px;
}
/* line 178, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .index, .trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .img, .trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .txt {
  float: left;
  height: 100%;
}
/* line 182, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .index {
  width: 30px;
  text-align: center;
}
/* line 185, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .index:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 192, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .index span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #c52828;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 204, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .img {
  width: 80px;
  margin: 0 10px;
}
/* line 207, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .img img {
  width: 80px;
  height: 80px;
}
/* line 212, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .txt {
  width: 162px;
  padding: 10px 0;
}
/* line 215, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .txt .txt-list {
  padding: 4px 0px;
}
/* line 217, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .txt .txt-list .time-label {
  display: inline-block;
  float: left;
}
/* line 221, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .txt .txt-list .time {
  padding-left: 10px;
  display: inline-block;
  width: auto;
}
/* line 227, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .txt span {
  padding: 5px 0;
}
/* line 231, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .content {
  margin-left: 10px;
  width: 200px;
}
/* line 234, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .content h3 {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
/* line 239, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .content p {
  line-height: 20px;
  font-size: 12px;
  color: #666;
}
/* line 243, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .content p i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/map/vehicle-result.png);
  vertical-align: middle;
}
/* line 249, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .content p i.speed {
  background-position: -26px 0;
}
/* line 252, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .content p i.time {
  background-position: -78px 0;
}
/* line 255, ../scss_default/trackShow.scss */
.trackShow .map-main .left-sider .left-content .left-result .result-lists .list-item .content p i.address {
  background-position: -52px 0;
}

/* line 271, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-titlebar .title {
  font-size: 14px;
}
/* line 275, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-content {
  font-size: 12px;
  line-height: 20px;
  color: #666;
}
/* line 279, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-content .tips {
  width: 100%;
  text-align: right;
  padding: 5px 0;
}
/* line 283, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-content .tips i {
  color: #00a0e9;
  font-style: normal;
}
/* line 288, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-content .main-content {
  overflow: hidden;
}
/* line 290, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-content .main-content .img {
  width: 180px;
  float: left;
}
/* line 293, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-content .main-content .img img {
  width: 100%;
}
/* line 297, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-content .main-content .txt {
  width: 180px;
  float: right;
}
/* line 300, ../scss_default/trackShow.scss */
.npmap-dialog .npmap-dialog-content .main-content .txt .identify {
  color: #00a0e9;
}

/* line 307, ../scss_default/trackShow.scss */
#uploadBtn {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: transparent;
}
