/* line 2, ../scss_default/unusual.scss */
.unusual {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 6, ../scss_default/unusual.scss */
.unusual .map-main {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 10, ../scss_default/unusual.scss */
.unusual .map-main .left-sider {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.8rem;
  height: 100%;
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.1rem #888888;
}
/* line 19, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: #959595;
}
/* line 24, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .img-upload {
  width: 60%;
  margin: 10px auto;
  text-align: center;
}
/* line 28, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .img-upload img {
  max-width: 100%;
  max-height: 100%;
}
/* line 32, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .img-upload .upload-btn {
  width: 80%;
  height: 30px;
  margin-top: 10px;
  position: relative;
}
/* line 39, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .img-upload .upload-btn input.upload {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 50, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-head {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
/* line 55, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-head .head-txt {
  padding-left: 0;
  margin-left: 10px;
  background: transparent;
}
/* line 60, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-head .head-btn {
  width: 22px;
  height: 22px;
  cursor: pointer;
  float: right;
  margin-top: 9px;
  margin-right: 5%;
  background: url(../img/map/menu_down.png) no-repeat;
}
/* line 68, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-head .head-btn.arrow-up {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
/* line 76, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 10px;
}
/* line 80, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item {
  height: 34px;
  width: 260px;
  margin: 6px 10px 0 10px;
  font-size: 12px;
  line-height: 32px;
  background-color: transparent;
}
/* line 87, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item.timeSelect {
  background-color: #fff;
}
/* line 90, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item.analyze {
  width: 258px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  height: 36px;
  margin-top: 10px;
  line-height: 0;
  background-color: #00a0e9;
  border-radius: 3px;
  color: #fff;
}
/* line 101, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item.analyze:hover {
  background-color: #0D89C9;
}
/* line 105, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-name {
  display: inline-block;
  color: #959595;
  float: left;
  width: 30%;
  padding-left: 5%;
  border: 1px solid #dbdbdb;
  border-right: 0;
}
/* line 114, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-val {
  display: inline-block;
  width: 70%;
  height: 34px;
  border: 1px solid #dbdbdb;
}
/* line 119, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-val.nob {
  border: 0;
}
/* line 122, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-val .dropdown-select {
  height: 34px;
  line-height: 34px;
  border-radius: 0;
  cursor: pointer;
}
/* line 129, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-val input {
  height: 32px;
  border-radius: 0;
  border: 0;
  padding: 0 10px;
  width: 100%;
}
/* line 135, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-val input.calendInput {
  background: url(../img/canlendar.png) 151px no-repeat;
}
/* line 140, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-left {
  display: inline-block;
  width: auto;
  float: left;
  min-width: 78px;
}
/* line 147, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-right {
  display: inline-block;
  width: auto;
  float: right;
}
/* line 151, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-right span {
  display: inline-block;
  background-color: #fff;
}
/* line 154, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-right span.similarity {
  width: 80px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
  vertical-align: top;
}
/* line 162, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-right .dataBaseDrop {
  width: 172px;
  height: 30px;
  background-color: #fff;
}
/* line 167, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-right .personDrop {
  width: 95px;
  display: inline-block;
}
/* line 171, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-right input {
  display: inline-block;
}
/* line 173, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-filter .filter-item .filter-right input.personNum {
  width: 40px;
  min-width: 40px;
  vertical-align: top;
  margin-left: 10px;
}
/* line 183, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result {
  padding: 0 10px;
}
/* line 185, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .pages {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}
/* line 189, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .pages span {
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #666;
}
/* line 194, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .pages span i {
  font-style: normal;
  color: #f00;
}
/* line 201, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item {
  width: 100%;
  height: 150px;
  padding: 5px 0;
}
/* line 205, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item.unusual-person {
  height: 100px;
}
/* line 207, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item.unusual-person:hover {
  border: 1px solid #00b4ff;
}
/* line 211, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .queryInfo {
  width: 90px;
  height: 100%;
  float: left;
}
/* line 215, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .queryInfo img {
  width: 100%;
}
/* line 219, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .percent {
  width: 72px;
  height: 100%;
  float: left;
  text-align: center;
}
/* line 224, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .percent:after {
  content: '';
  width: 0;
  height: 60%;
  display: inline-block;
  vertical-align: middle;
}
/* line 231, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .percent i {
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  background: url(../img/map/face/pic.png) -436px -244px no-repeat;
}
/* line 243, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .baseInfo {
  width: 90px;
  height: 100%;
  float: left;
}
/* line 247, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .baseInfo img {
  width: 100%;
}
/* line 250, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .baseInfo p {
  text-align: center;
  line-height: 48px;
}
/* line 255, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .img {
  width: 80px;
  height: 80px;
  float: left;
}
/* line 259, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .img img {
  width: 100%;
  height: 100%;
}
/* line 264, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .txt {
  width: 160px;
  height: 80px;
  float: right;
  display: table;
  vertical-align: middle;
}
/* line 270, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result .result-lists .list-item .txt p {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
/* line 279, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-head {
  position: relative;
  text-align: center;
}
/* line 282, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-head img {
  width: 100px;
  height: auto;
  padding-top: 20px;
}
/* line 287, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-head .back-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/map/arrow-left-on.png) center no-repeat;
  cursor: pointer;
}
/* line 296, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-head .pages {
  width: 200px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 10px;
  text-align: right;
  padding: 0;
}
/* line 305, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-head .pages .itemNum {
  float: none;
}
/* line 311, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body {
  margin-top: 10px;
  background-color: #f8f8f8;
}
/* line 314, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body .item {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
/* line 319, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body .item p {
  width: 60%;
  height: auto;
  line-height: 25px;
}
/* line 323, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body .item p .outTimes {
  width: 50px;
  height: 25px;
  cursor: pointer;
}
/* line 327, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body .item p .outTimes:after {
  content: '>';
  width: 20px;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  color: #ccc;
  display: none;
}
/* line 337, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body .item p .outTimes.hasData:after {
  display: inline-block;
}
/* line 342, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body .item p .outTimes:hover:after {
  color: #00a0e9;
}
/* line 348, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body .item .frequency {
  float: left;
}
/* line 351, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.person-info .result-body .item .detail-list {
  color: red;
  cursor: pointer;
}
/* line 359, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .result-head {
  width: 100%;
  height: 30px;
}
/* line 362, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .result-head .back-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/map/arrow-left-on.png) center no-repeat;
  cursor: pointer;
}
/* line 371, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item {
  width: 100%;
  height: 90px;
  padding: 5px 0;
  border-bottom: 1px dashed #ccc;
}
/* line 376, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item div {
  float: left;
  height: 100%;
}
/* line 380, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item .index {
  width: 30px;
  text-align: center;
}
/* line 383, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item .index span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #c52828;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 393, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item .index:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 401, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item .img {
  width: 80px;
  margin: 0 10px;
}
/* line 404, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item .img img {
  width: 80px;
  height: 80px;
}
/* line 409, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item .txt {
  width: 120px;
  padding: 10px 0;
}
/* line 412, ../scss_default/unusual.scss */
.unusual .map-main .left-sider .left-content .left-result.out-info .out-result-lists .out-item .txt p {
  line-height: 20px;
}
