        <div class="PanelBottom" ng-class="isBottomClosed ? 'closed' : ''">
            <div class="triggerToggle" title="打开/关闭面板" ng-click="togglePanelBottomMethod()"></div>
            <ul class="headerTab">
                <li ng-click="changeBottomTab('face')" ng-class="bottomTabAction=='face'?'active':''">人脸</li>
                <li ng-click="changeBottomTab('opendoor')" ng-class="bottomTabAction=='opendoor'?'active':''">开门</li>
                <li ng-click="changeBottomTab('cars')" ng-class="bottomTabAction=='cars'?'active':''">过车</li>
                <li ng-click="changeBottomTab('wifi')" ng-class="bottomTabAction=='wifi'?'active':''">WIFI</li>
                <li ng-click="changeBottomTab('fire')" ng-class="bottomTabAction=='fire'?'active':''">消防</li>
                <li ng-click="changeBottomTab('move')" ng-class="bottomTabAction=='move'?'active':''">位移</li>
                <li ng-click="changeBottomTab('monitoring')" ng-class="bottomTabAction=='monitoring'?'active':''">监控</li>
                <li ng-click="changeBottomTab('ck')" ng-class="bottomTabAction=='ck'?'active':''">CK</li>
            </ul>
            <div class="contentView">
                <!-- 人脸 -->
                <div class="faceContent" ng-if="bottomTabAction=='face'">
                    <div class="btnBox">
                        <span ng-click="changeFaceTab('all')" ng-class="faceTabAction=='all'?'active':''">全部</span>
                        <span ng-click="changeFaceTab('have')" ng-class="faceTabAction=='have'?'active':''">实有力量</span>
                        <span ng-click="changeFaceTab('follow')" ng-class="faceTabAction=='follow'?'active':''">关注人员</span>
                        <div class="headerInfo">
                            <span class="title">今日人脸感知</span>
                            <span>感知发现: 8人</span>
                            <span>感知离开: 2人</span>
                        </div>
                        <div class="searchBox">
                            <div class="searchBtn"></div>
                            <input class='search' type="text" placeholder="请输入关键字搜索">
                        </div>
                    </div>
                    <div class="contentBox">
                        <ul class="content all" ng-if="faceTabAction=='all'">
                            <li>
                                <div class="img-box">
                                    <div class="biduiIcon faceicon" title='比对'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="fangdaIcon faceicon" title='放大'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="guijiIcon faceicon" title='轨迹'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="img"></div>
                                </div>
                                <div class="info">
                                    <p>东大门进</p>
                                    <p>2018-05-10 14:03:32</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="content have" ng-if="faceTabAction=='have'">
                            <li>
                                <div class="img-box">
                                    <div class="biduiIcon faceicon" title='比对'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="fangdaIcon faceicon" title='放大'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="guijiIcon faceicon" title='轨迹'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="img"></div>
                                </div>
                                <div class="info">
                                    <h2>金灿修</h2>
                                    <p>保洁</p>
                                    <p>2018-05-10 14:03:32</p>
                                    <p>东边门出</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="content follow" ng-if="faceTabAction=='follow'">
                            <li>
                                <div class="img-box">
                                    <div class="biduiIcon faceicon" title='比对'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="fangdaIcon faceicon" title='放大'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="guijiIcon faceicon" title='轨迹'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="img"></div>
                                </div>
                                <div class="info">
                                    <h2>金灿修</h2>
                                    <p>保洁</p>
                                    <p>2018-05-10 14:03:32</p>
                                    <p>东边门出</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <div class="biduiIcon faceicon" title='比对'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="fangdaIcon faceicon" title='放大'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="guijiIcon faceicon" title='轨迹'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="img"></div>
                                </div>
                                <div class="info">
                                    <h2>金灿修</h2>
                                    <p>保洁</p>
                                    <p>2018-05-10 14:03:32</p>
                                    <p>东边门出</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <div class="biduiIcon faceicon" title='比对'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="fangdaIcon faceicon" title='放大'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="guijiIcon faceicon" title='轨迹'>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="img"></div>
                                </div>
                                <div class="info">
                                    <h2>金灿修</h2>
                                    <p>保洁</p>
                                    <p>2018-05-10 14:03:32</p>
                                    <p>东边门出</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 开门 -->
                <div class="opendoorContent" ng-if="bottomTabAction=='opendoor'">
                    <div class="btnBox">
                        <div class="headerInfo">
                            <span class="title">今日刷卡异常</span>
                            <span>未处理: 8人</span>
                            <span>已处理: 2人</span>
                        </div>
                    </div>
                    <div class="contentBox">
                        <ul class="content">
                            <li>
                                <h2>于美华</h2>
                                <p class="title">门禁机:</p>
                                <p class="con">杨王村53号-A9</p>
                                <p class="title">访问时间：</p>
                                <p class="con">2018-05-09 12:35:21</p>
                                <p class="title">抓拍影像：</p>
                                <p class="con">
                                    <span class='active'>查看照片</span>
                                    <span>查看视频</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 过车 -->
                <div class="carsContent" ng-if="bottomTabAction=='cars'">
                    <div class="btnBox">
                        <span ng-click="changeCarsTab('iscar')" ng-class="carsTabAction=='iscar'?'active':''">机动车</span>
                        <span ng-click="changeCarsTab('notcar')" ng-class="carsTabAction=='notcar'?'active':''">非机动车</span>
                        <div class="headerInfo">
                            <span class="title">今日刷卡异常</span>
                            <span>未处理: 8人</span>
                            <span>已处理: 2人</span>
                        </div>
                    </div>
                    <div class="contentBox">
                        <ul class="content iscar" ng-if="carsTabAction=='iscar'">
                            <li>
                                <div class="img-box">
                                    <div class="img"></div>
                                </div>
                                <div class="info">
                                    <h2>沪ER3827</h2>
                                    <p>东大门进</p>
                                    <p>2018-05-10 14:03:32</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="content notcar" ng-if="carsTabAction=='notcar'">
                            <li>
                                <div class="img-box">
                                    <div class="img"></div>
                                </div>
                                <div class="info">
                                    <h2>李广发</h2>
                                    <p>东大门进</p>
                                    <p>2018-05-10 14:03:32</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- WIFI -->
                <div class="wifiContent" ng-if="bottomTabAction=='wifi'"></div>
                <!-- 消防 -->
                <div class="fireContent" ng-if="bottomTabAction=='fire'">
                    <div class="btnBox">
                        <span ng-click="changeFireTab('smoke')" ng-class="fireTabAction=='smoke'?'active':''">烟雾</span>
                        <span ng-click="changeFireTab('electronic')" ng-class="fireTabAction=='electronic'?'active':''">电气</span>
                        <span ng-click="changeFireTab('water')" ng-class="fireTabAction=='water'?'active':''">水压</span>
                        <span ng-click="changeFireTab('polling')" ng-class="fireTabAction=='polling'?'active':''">巡检</span>
                        <span ng-click="changeFireTab('onGuard')" ng-class="fireTabAction=='onGuard'?'active':''">在岗</span>
                    </div>
                    <div class="contentBox">
                        <ul class="content smoke" ng-if="fireTabAction=='smoke'">
                            <li>
                                <p class="icon-tag">1</p>
                                <p class="title">地点:</p>
                                <p class="con">车棚1  (北)</p>
                                <p class="title">状态:</p>
                                <p class="normal">
                                    <span></span>
                                    正常
                                </p>
                                <p class="abnormal">
                                    <span></span>
                                    异常
                                </p>
                            </li>
                        </ul>
                        <ul class="content electronic" ng-if="fireTabAction=='electronic'">
                            <li>
                                <p class="icon-tag">1</p>
                                <p class="title">地点:</p>
                                <p class="con">车棚1 (北)</p>
                                <p class="title">状态:</p>
                                <p class="normal">
                                    <span></span>
                                    正常
                                </p>
                                <p class="abnormal">
                                    <span></span>
                                    异常
                                </p>
                            </li>
                        </ul>
                        <ul class="content water" ng-if="fireTabAction=='water'">
                            <li>
                                <p class="icon-tag">1</p>
                                <p class="title">地点:</p>
                                <p class="con">车棚1 (北)</p>
                                <p class="title">状态:</p>
                                <p class="normal">
                                    <span></span>
                                    正常
                                </p>
                                <p class="abnormal">
                                    <span></span>
                                    异常
                                </p>
                            </li>
                        </ul>
                        <ul class="content polling" ng-if="fireTabAction=='polling'">
                            <li>
                                <p class="icon-tag">1</p>
                                <h2>于美华</h2>
                                <p class="title">门禁机:</p>
                                <p class="con">杨王村53号-A9</p>
                                <p class="title">访问时间：</p>
                                <p class="con">2018-05-09 12:35:21</p>
                                <p class="title">抓拍影像：</p>
                                <p class="con">
                                    <span class='active'>查看照片</span>
                                    <span>查看视频</span>
                                </p>
                            </li>
                        </ul>
                        
                        <div class="onGuardItem" ng-if="fireTabAction=='onGuard'">
                            <span class="icon-tag" >&</span>微型消防站
                        </div>
                        <ul class="content onGuard" ng-if="fireTabAction=='onGuard'">
                            <li>
                                <div class="img-box">
                                    <div class="img"></div>
                                </div>
                                <div class="info">
                                    <h2>焦俊一</h2>
                                    <p>微型消防站</p>
                                    <p>2018-05-09 12:35:21</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 位移 -->
                <div class="moveContent" ng-if="bottomTabAction=='move'">
                    <div class="btnBox">
                        <span ng-click="changeMoveTab('jinggai')" ng-class="moveTabAction=='jinggai'?'active':''">窨井盖</span>
                    </div>
                    <div class="contentBox">
                        <ul class="content jinggai" ng-if="moveTabAction=='jinggai'">
                            <li>
                                <p class="icon-tag">1</p>
                                <div class="hengpai">
                                    <div class="hengpaiItem">
                                        <div class="leftItem">设备类型：</div>
                                        <h2 class="rightItem">雨水井</h2>
                                    </div>
                                    <div class="hengpaiItem">
                                        <div class="leftItem">地址：</div>
                                        <p class="rightItem">杨王村40号第六</p>
                                    </div>
                                    <div class="hengpaiItem">
                                        <div class="leftItem">设备编号：</div>
                                        <p class="rightItem">sh000067</p>
                                    </div>
                                    <div class="hengpaiItem">
                                        <div class="leftItem">移动状态：</div>
                                        <span class="rightItem moveType">报告测试</span>
                                    </div>
                                    <div class="hengpaiItem">
                                        <div class="leftItem">设备图片</div>
                                        <span class="rightItem viewPic">查看照片</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 检测 -->
                <div class="monitoringContent" ng-if="bottomTabAction=='monitoring'">
                    <div class="btnBox clearfix">
                        <span ng-click="queryCameraTab('1,2')" ng-class="{'active':activeClass}">小区监控</span>
                        <span ng-click="queryCameraTab('4')" ng-class="{'active':!activeClass}">道路监控</span>
                        <div class="searchBox">
                            <div class="searchBtn"></div>
                            <input class='search' type="text" placeholder="请输入关键字搜索">
                        </div>
                    </div>
                    <div class="CameraBox">
                        <h2 class="Hd">杨王村</h2>
                        <div class="Bd">
                            <ul class="CameraList clearfix">
                                <li ng-click="clickCamera(item)" ng-repeat="item in cameraList">
                                    <span class="name">{{item.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- CK -->
                <div class="ckContent">
                    <div class="contentBox">
                        <ul class="content" >
                            <li>
                                <p class="icon-tag">1</p>
                                <div class="hengpai">
                                    <div class="hengpaiItem">
                                        <div class="leftItem">用户名称：</div>
                                        <h2 class="rightItem">远大心胸医院</h2>
                                    </div>
                                    <div class="hengpaiItem">
                                        <div class="leftItem">用户地址：</div>
                                        <p class="rightItem">龙漕路218号</p>
                                    </div>
                                    <div class="hengpaiItem">
                                        <div class="leftItem">状态：</div>
                                        <p class="alarm rightItem">
                                            <span></span>
                                            报警
                                        </p>
                                    </div>
                                    <div class="hengpaiItem">
                                        <div class="leftItem">负责人：</div>
                                        <p class="rightItem">曹潜</p>
                                    </div>
                                    <div class="hengpaiItem">
                                        <div class="leftItem">联系方式：</div>
                                        <p class="rightItem">15921421391</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>