<style>
    body{
        overflow-x:hidden;
    }
</style>
<div class="communityPanel">
    <div class="Top clearfix">
        <div class="topLeft">
            2018年5月8日 周二 09:41
        </div>
        <div class="topRight">
            <div class="SearchBox">
                <div class="SearchShow">
                    <input class="searchInput" type="text" placeholder="请输入搜索内容">
                </div>
                <div class="SearchTree"><ul id="zTreeVillage"></ul></div>
            </div>
            <div class="userPanel">
                <div class="defaultInfo">
                    <div class="head"><img src="" width="100%" height="100%"></div>
                    <div class="nicename">Administrator <span class="arrow"></span></div>
                </div>
                <div class="dropdown">
                    ...
                </div>
            </div>
        </div>
        <div class="Title">奉贤社会面智能安防平台</div>
    </div> <!-- Top end -->
    <div class="PanelPerception">
        <ul class="total">
            <li>
                <div class="text">感知总数</div>
                <div class="num">1000</div>
            </li>
            <li>
                <div class="text">今日感知增量</div>
                <div class="num">500</div>
            </li>
        </ul>
        <ul class="list">
            <li>
                <div class="text">车</div>
                <div class="num">10</div>
            </li>
            <li>
                <div class="text">人</div>
                <div class="num">20</div>
            </li>
            <li>
                <div class="text">门禁</div>
                <div class="num">30</div>
            </li>
            <li>
                <div class="text">事件</div>
                <div class="num">40</div>
            </li>
            <li>
                <div class="text">MAC</div>
                <div class="num">50</div>
            </li>
        </ul>
    </div>
    <div class="PanelMain">
        <!-- 左侧面板 -->
        <div class="PanelLeft" ng-class="isLeftClosed ? 'closed' : ''">
            <div class="triggerToggle" title="打开/关闭面板" ng-click="togglePanelLeftMethod()"></div>
            <div class="yblsPanel">
                <ul class="yblsCountList">
                    <li>实有人口<span class="num">531,900</span></li>
                    <li><span class="num">17,395</span>实有房屋</li>
                    <li>实有单位<span class="num">5,846</span></li>
                    <li><span class="num">2,846</span>实有安防设施</li>
                    <li>实有警情事件<span class="num">3,082</span></li>
                    <li><span class="num">4,637</span>实有力量与装备</li>
                </ul>
            </div> <!-- yblsPanel end -->
            <div class="commonPanel">
                <h2 class="title">实有人员分析</h2>
                <div class="content PeopleAnalysis">
                    <ul class="commonTabHd">
                        <li class="actived">年龄分布</li>
                        <li>性别与户籍</li>
                        <li>人员性质</li>
                    </ul>
                    <div id="ageAnalysis">

                    </div> <!-- 年龄分布 -->
                    <div id="sexAnalysis">

                    </div> <!-- 性别与户籍 -->
                    <div id="personnelAnalysis">

                    </div> <!-- 人员性质 -->
                </div>
            </div>
            <div class="commonPanel">
                <h2 class="title">实有力量分析</h2>
                <div class="content PowerAnalysis">
                    ...
                </div>
            </div>
            <div class="commonPanel">
                <h2 class="title">今日实有警情分析</h2>
                <div class="content TodayAnalysis" id="TodayAnalysis"></div>
            </div>
        </div>
        <!-- 右侧面板 -->
        <div class="PanelRight" ng-class="isRightClosed ? 'closed' : ''">
            <div class="triggerToggle" title="打开/关闭面板" ng-click="togglePanelRightMethod()"></div>
            <div class="commonPanel">
                <h2 class="title">一周感知数据量统计</h2>
                <div class="content WeekAnalysis" id="WeekAnalysis">
                </div>
            </div>
            <div class="commonPanel">
                <h2 class="title">MAC感知实时统计</h2>
                <div class="content realtimeAnalysis" id="realtimeAnalysis">
                    ...
                </div>
            </div>
            <div class="commonPanel">
                <h2 class="title">实有安防设施分析</h2>
                <div class="content SafeAnalysis">
                    ...
                </div>
            </div>
            <div class="roundPanel">
                <div class="content">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>