<link rel="stylesheet" href="../../template/css_default/communityPanel.css">
<div class="communityPanel">
	<div class="Top clearfix">
		<div class="topLeft">
			2018年5月8日 周二 09:41
		</div>
		<div class="topRight">
			<div class="selectBox">
				<div class="selectShow">
					奉贤区
				</div>
			</div>
			<div class="userPanel">
				<div class="defaultInfo">
					<div class="head">
						<img src="" width="100%" height="100%">
					</div>
					<div class="nicename">Administrator
						<span class="arrow"></span>
					</div>
				</div>
				<div class="dropdown">
					...
				</div>
			</div>
		</div>
		<div class="Title">奉贤社会面智能安防平台</div>
	</div>
	<!-- Top end -->

	<div class="PanelMain">
		<!-- 左侧面板 -->
		<div class="PanelLeft">
			<div class="triggerToggle" title="打开/关闭面板"></div>
			<div class="yblsPanel">
				<ul class="yblsCountList">
					<li>实有人口
						<span class="num">531,900</span>
					</li>
					<li>
						<span class="num">17,395</span>实有房屋</li>
					<li>实有单位
						<span class="num">5,846</span>
					</li>
					<li>
						<span class="num">2,846</span>实有安防设施</li>
					<li>实有警情事件
						<span class="num">3,082</span>
					</li>
					<li>
						<span class="num">4,637</span>实有力量与装备</li>
				</ul>
			</div>
			<!-- yblsPanel end -->
			<div class="commonPanel">
				<h2 class="title">实有人员分析</h2>
				<div class="content PeopleAnalysis">
					<ul class="commonTabHd">
						<li ng-click="changePeopleTab('age')" ng-class="peopleTabAction=='age'?'active':''">年龄分布</li>
						<li ng-click="changePeopleTab('sex')" ng-class="peopleTabAction=='sex'?'active':''">性别与户籍</li>
						<li ng-click="changePeopleTab('person')"ng-class="peopleTabAction=='person'?'active':''">人员性质</li>
					</ul>
					<!-- 年龄分布 -->
					<div class="ageAnalysisView" ng-show="peopleTabAction=='age'">
						<div id="ageAnalysis" class='ageAnalysis canvasView'></div>
						<ul class="ageAnalysisList">
							<li>
								<div class="item">
									<div class="index">1</div>
									<div class="ageAnalysisTitle">1-16岁</div>
									<div class="prenum">3.28%</div>
								</div>
							</li>
							<li class='active'>
								<div class="item">
									<div class="index">2</div>
									<div class="ageAnalysisTitle">17-40岁</div>
									<div class="prenum">13.28%</div>
								</div>
							</li>

						</ul>
					</div>
					<!-- 性别与户籍 -->
					<div class="sexAnalysisView" ng-show="peopleTabAction=='sex'">
							<div id="sexAnalysis" class='sexAnalysis canvasView' ></div>
							<div id="hujiAnalysis" class='hujiAnalysis canvasView' ></div>
					</div>
					<!-- 人员性质 -->
					<div class="personnelAnalysisView" ng-show="peopleTabAction=='person'">
						<div id="personnelAnalysis" class='personnelAnalysis canvasView' ></div>
						<div id="perception" class='perception canvasView' ></div>
					</div>
				</div>
			</div>
			<div class="commonPanel">
				<h2 class="title">实有力量分析</h2>
				<div class="content PowerAnalysis">
					<div id="PowerAnalysis" class='canvasView1'></div>	
				</div>
			</div>
			<div class="commonPanel">
				<h2 class="title">今日实有警情分析</h2>
				<div class="content TodayAnalysis">
					...
				</div>
			</div>
		</div>
		<!-- 右侧面板 -->
		<div class="PanelRight">
			<div class="triggerToggle" title="打开/关闭面板"></div>
			<div class="commonPanel">
				<h2 class="title">一周感知数据量统计</h2>
				<div class="content WeekAnalysis">
					...
				</div>
			</div>
			<div class="commonPanel">
				<h2 class="title">MAC感知实时统计</h2>
				<div class="content MacAnalysis">
					...
				</div>
			</div>
			<div class="commonPanel">
				<h2 class="title">实有安防设施分析</h2>
				<div class="content SafeAnalysis">
					<div id="SafeAnalysis" class='canvasView1'></div>
				</div>
			</div>
			<div class="roundPanel">
				<div class="content">
					...
				</div>
			</div>
		</div>
		<!-- 底部面板 -->
		<ul class="PanelBottom">
			<div class="triggerToggle" title="打开/关闭面板"></div>
			<ul class="headerTab">
				<li ng-click="changeBottomTab('face')" ng-class="bottomTabAction=='face'?'active':''">人脸</li>
				<li ng-click="changeBottomTab('opendoor')" ng-class="bottomTabAction=='opendoor'?'active':''">开门</li>
				<li ng-click="changeBottomTab('cars')" ng-class="bottomTabAction=='cars'?'active':''">过车</li>
				<li ng-click="changeBottomTab('wifi')" ng-class="bottomTabAction=='wifi'?'active':''">WIFI</li>
				<li ng-click="changeBottomTab('fire')" ng-class="bottomTabAction=='fire'?'active':''">消防</li>
				<li ng-click="changeBottomTab('move')" ng-class="bottomTabAction=='move'?'active':''">位移</li>
				<li ng-click="changeBottomTab('monitoring')" ng-class="bottomTabAction=='monitoring'?'active':''">监控</li>
			</ul>
			<div class="contentView">
				<div class="faceContent" ng-if="bottomTabAction=='face'">
					<div class="faceBtnBox">
						<button class='active'>全部</button>
						<button>实有力量</button>
						<button>关注人员</button>
					</div>
				</div>
				<div class="opendoorContent" ng-if="bottomTabAction=='opendoor'">2</div>
				<div class="carsContent" ng-if="bottomTabAction=='cars'">3</div>
				<div class="wifiContent" ng-if="bottomTabAction=='wifi'">4</div>
				<div class="fireContent" ng-if="bottomTabAction=='fire'">5</div>
				<div class="moveContent" ng-if="bottomTabAction=='move'">6</div>
				<div class="monitoringContent" ng-if="bottomTabAction=='monitoring'">7</div>
			</div>
		</div>
	</div>
</div>