<style>
    body{
        overflow-x:hidden;
        overflow-y:hidden;
    }
</style>
<div class="communityPanel">
    <div class="Top clearfix">
        <div class="topLeft" ng-bind="nowTime">
        </div>
        <div class="topRight">
            <div class="SearchBox" ng-include="zTreeSearchTpl" ng-controller="zTreeSearchController"></div>
            <div class="userPanel" ng-include="userTplUrl" ng-controller="userTplController"></div>
        </div>
        <div class="Title">奉贤社会面智能安防平台</div>
    </div> <!-- Top end -->
    <div class="PanelPerception">
        <ul class="total">
            <li>
                <div class="text">感知总数</div>
                <div class="num" >0</div>
                <!--{{pptotleNum}}-->
            </li>
            <li>
                <div class="text">今日感知增量</div>
                <div class="num" >0</div>
                <!--{{allSenseData}}-->
            </li>
        </ul>
        <ul class="list">
            <li>
                <div class="text">车</div>
                <div class="num" id="carNum">{{carNum}}</div>
            </li>
            <li>
                <div class="text">人</div>
                <div class="num" id="openDoorNum">{{openDoorNum}}</div>
            </li>
            <li>
                <div class="text">门禁</div>
                <div class="num" id="faceNum">{{faceNum}}</div>
            </li>
            <li>
                <div class="text">事件</div>
                <div class="num" id="eventNum">{{eventNum}}</div>
            </li>
            <li>
                <div class="text">MAC</div>
                <div class="num" id="macNum">{{macNum}}</div>
            </li>
        </ul>
    </div>
    <div class="PanelPoliceAlert">
        <div class="inner">
            <div class="emptyData" ng-if="warningListData.length == 0">暂无警情数据</div>
            <ul ng-if="warningListData.length > 0" class="js-scroll">
                <li ng-repeat = "item in warningListData">
                    <span class="createTime">{{item.inboundTime}}</span>
                    <div class="information">
                        <span>报警人：{{item.callOperatorName}}（{{item.callerNo}}）</span>
                        <span>案发地址：{{item.caseAddress}} 。 案件描述：{{item.caseDesc}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="PanelMain">
        <!-- 左侧面板 -->
        <div class="PanelLeft" ng-class="isLeftClosed ? 'closed' : ''">
            <div class="triggerToggle" title="打开/关闭面板" ng-click="togglePanelLeftMethod()"></div>
            <div class="yblsPanel">
                <ul class="yblsCountList">
                    <li>实有人口<a class="num" target="_blank" href="#/index/{{ villageCode ? 'factpeople/'+villageCode : 'communityAllNewChart/1' }}">{{ sixEntityCountData.peopleCount || 0 }}</a></span></li>
                    <li><a class="num" target="_blank" href="#/index/{{ villageCode ? 'factHouse/'+villageCode : 'communityAllNewChart/2' }}">{{ sixEntityCountData.buildingCount || 0 }}</a></span>实有房屋</li>
                    <li>实有单位<a class="num" target="_blank" href="#/index/{{ villageCode ? 'factCompany/'+villageCode : 'communityAllNewChart/3' }}">{{ sixEntityCountData.realCompany || 0 }}</a></span></li>
                    <li><a class="num" target="_blank" href="#/index/{{ villageCode ? 'securityPower/1/'+villageCode : 'communityAllNewChart/4' }}">{{ sixEntityCountData.securityEquipmentCount|| 0 }}</a></span>实有安防设施</li>
                    <li>实有警情事件<a class="num" target="_blank" href="#/index/{{ villageCode ? 'factEvent/'+villageCode : 'factEvent/' }}">{{ sixEntityCountData.policeEventCount || 0 }}</a></span></li>
                    <li><a class="num" target="_blank" href="#/index/{{ villageCode ? 'securityPower/0/'+villageCode : 'communityAllNewChart/5' }}">{{ sixEntityCountData.realPowerEquipmentCount || '0/0' }}</a></span>实有力量/装备</li>
                </ul>
            </div> <!-- yblsPanel end -->
            <div class="commonPanel">
                <h2 class="title">实有人员分析</h2>
                <div class="content PeopleAnalysis">
                    <ul class="commonTabHd">
                        <li ng-click="changePeopleTab('age')" ng-class="peopleTabAction=='age'?'active':''">年龄分布</li>
                        <li ng-click="changePeopleTab('sex')" ng-class="peopleTabAction=='sex'?'active':''">性别与户籍</li>
                        <li ng-click="changePeopleTab('person')" ng-class="peopleTabAction=='person'?'active':''">人员性质</li>
                    </ul>
                    <!-- 年龄分布 -->
                    <div class="ageAnalysisView" ng-show="peopleTabAction=='age'">
                        <div id="ageAnalysis" class='ageAnalysis canvasView'></div>
                        <ul class="ageAnalysisList">
                            <li ng-repeat="item in ageData" ng-class="$index==ageDataActive?'active':''">
                                <div class="item">
                                    <div class="index">{{$index+1}}</div>
                                    <div class="ageAnalysisTitle">{{item.name}}</div>
                                    <div class="prenum"> {{item.data==0?0:(item.data*100/ageAll).toFixed(2)}}%</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 性别与户籍 -->
                    <div class="sexAnalysisView" ng-show="peopleTabAction=='sex'">
                        <div id="sexAnalysis" class='sexAnalysis canvasView'></div>
                        <div id="hujiAnalysis" class='hujiAnalysis canvasView'></div>
                    </div>
                    <!-- 人员性质 -->
                    <div class="personnelAnalysisView" ng-show="peopleTabAction=='person'">
                        <div id="personnelAnalysis" class='personnelAnalysis canvasView'></div>
                        <div id="perception" class='perception canvasView'></div>
                    </div>
                </div>
            </div>
            <div class="commonPanel">
                <h2 class="title">实有力量分析</h2>
                <div class="content PowerAnalysis">
                    <div id="PowerAnalysis" class='canvasView1'></div>
                </div>
            </div>
            <div class="commonPanel">
                <h2 class="title">今日实有警情分析</h2>
                <div class="content TodayAnalysis" id="TodayAnalysis"></div>
            </div>
        </div>
        <!-- 右侧面板 -->
        <div class="PanelRight" ng-class="isRightClosed ? 'closed' : ''">
            <div class="triggerToggle" title="打开/关闭面板" ng-click="togglePanelRightMethod()"></div>
            <div class="commonPanel">
                <h2 class="title">一周感知数据量统计</h2>
                <div class="content WeekAnalysis" id="WeekAnalysis">
                </div>
            </div>
            <div class="commonPanel">
                <h2 class="title">{{realtimeAnalysisType}}实时统计</h2>
                <div class="content realtimeAnalysis" id="realtimeAnalysis">
                    ...
                </div>
            </div>
            <div class="commonPanel">
                <h2 class="title">实有安防设施分析</h2>
                <div class="content SafeAnalysis">
                    <div id="SafeAnalysis" class='canvasView1'></div>
                </div>
            </div>
            <div class="roundPanel">
                <div class="content PVGContent" ng-include="'/template/html/modules/component/panelPVG.html'"></div>
            </div>
            <!-- 底部面板 -->
    
        </div>
        <!--底部面板-->
        <div class="PanelBottom" ng-class="isBottomClosed ? 'closed' : ''">
            <div class="triggerToggle" title="打开/关闭面板" ng-click="togglePanelBottomMethod()"></div>
            <div ng-include="layerSelectTpl" ng-controller="layerSelectController"></div>
            <div class="commonPanelBg PanelBottomTab" ng-include="templateBottomPanelUrl" ng-controller="templateBottomController"></div>
        </div>
    </div>

    <div class="ocx_object"></div>
    <div ng-include="ocxModelTpl" ng-controller="ocxModelController"></div>
</div>

<div class="MapPanel" ng-include="template2dMapUrl" ng-controller="templateControllerMap"></div>

<div id="contrastFaceLayer" class="contrastFaceLayer" style="display: none;">
    <div class="photo">
        <div class="img-box"><img ng-src="{{contrastFace.faceUrl}}" /></div>
        <span class="span-text">抓拍人脸</span>
    </div>
    <div class="cell">
        <div class="rate-box">
            <div class="rate-con">
                <span class="rate">{{contrastFace.similarity}}<em>%</em></span>
            </div>
        </div>
        <ul class="ul-middle">
            <li>
                <em class="em-text">姓名：</em>
                <span class="span-text">{{contrastFace.name}}</span>						
            </li>
            <li>
                <em class="em-text">性别：</em>
                <span class="span-text">{{contrastFace.gender}}</span>						
            </li>
            <li>
                <em class="em-text">所在库：</em>
                <span class="span-text">{{contrastFace.repository_id}}</span>						
            </li>
            <li>
                <em class="em-text">证件号：</em>
                <span class="span-text" ng-click="viewPeoplefile(contrastFace.person_id)" style="cursor:pointer;">{{contrastFace.person_id}}</span>						
            </li>
        </ul>
    </div>
    <div class="photo">
        <div class="img-box"><img ng-src="{{contrastFace.picUrl}}" /></div>
        <span class="span-text">比中人脸</span>
    </div>
</div>
