<div class="LayerSelect commonPanelBg">
    <ul class="layerSelect-list clearfix">
        <li class="layerSelect-li" ng-repeat="layer in layerList" ng-class="{active: layer.isChecked == 'true'}" ng-mouseenter="layerMouse(layer,'enter')"  ng-mouseleave="layerMouse(layer,'leave')">
            <div class="layerSelect-li-box" ng-class="layer.isChecked==0 ? '' : 'active'">
                <span class="checkBox" ng-click="selectLayer(layer)" ng-class="layer.isChecked==0?'':layer.isChecked==1?'checkPart':'checkAll'"></span>
                <span class="text" ng-click="selectLayer(layer)"><i class="icon-{{layer.type}}"></i>{{layer.name}}</span>
            </div>		    		    		
            <ul class="layerSelect-li-list" ng-show="layer.isMouseOn=='true' && layer.hasChild=='true'">
                <li class="layerSelect-li-list-li"  ng-repeat="layerChild in layer.child" ng-class="{active: layer.isChecked == 'true'}" ng-mouseenter="layerMouse(layerChild,'enter')"  ng-mouseleave="layerMouse(layerChild,'leave')">
                    <div class="layerSelect-li-list-li-box">
                        <span class="checkBox" ng-class="layerChild.isChecked==0?'':layerChild.isChecked==1?'checkPart':'checkAll'" ng-click="selectLayer(layerChild)"></span>
                        <span class="text" ng-click="selectLayer(layerChild)">{{layerChild.name}}</span>
                        <i class="arrow-icon" ng-if="layerChild.hasChild=='true'"></i>
                    </div>	
                    <ul class="layerSelect-li-list-last" ng-show="layerChild.isMouseOn=='true' && layerChild.hasChild=='true'">
                        <li class="layerSelect-li-list-li-last" ng-repeat="layerChildChild in layerChild.child"   style="cursor: pointer;">
                            <span class="checkBox" ng-class="layerChildChild.isChecked==0?'':layerChildChild.isChecked==1?'checkPart':'checkAll'" ng-click="selectLayer(layerChildChild)"></span>
                            <span class="text" ng-click="selectLayer(layerChildChild)">{{layerChildChild.name}}</span>
                        </li>
                    </ul>			
                </li>
            </ul>
        </li>
    </ul>
</div>