<div class="defaultInfo">
    <div class="nicename" ng-click="openLog()" title="退出当前帐户">{{ currentSaveUsr || '管理员' }} <span class="arrow"></span></div>
</div>

<!--退出登录弹出窗-->
<script type="text/ng-template" id="layer-login-out">
    <form class="layer logout" style="display: block" id="outform">
        <div class="logoutCon">
            <div class="" style="margin-left: -25px;margin-bottom: 10px;">
                <i class="icon-base icon-32 icon-table-empty"></i>
                <span class="text-uppercase control-label">退出登录</span>
            </div>
            <div class="form-group">
                <label class="control-label" ng-bind="msg"></label>
            </div>
        </div>

        <div class="btn-box">
            <button class="btn btn-icon-blue" ng-click="goLogOut()">
                <span class="btn-icon-text">确定</span>
            </button>
            <button class="btn btn-icon-default" ng-click="closeOut()">
                <span class="btn-icon-text">取消</span>
            </button>
        </div>
    </form>
</script>