<div class="SearchShow">
    <input class="searchInput" type="text" ng-blur="zTreeSearch.blur()" ng-focus="zTreeSearch.focus()" ng-model="zTreeSearch.communityName"  ng-keyup="zTreeSearch.keyup()" placeholder="请输入搜索内容">
</div>
<div class="SearchTree" id="zTreeVillage">
    <ul class="Search-ztree-ul">
        <li class="search-ztree-li" ng-repeat="item in zTreeSearch.communityAllInfo">
            <i class="button-arrow" ng-click="zTreeSearch.open(item)"></i>
            <a href="javascript:;">
                <span class="saerchZtree-icon"></span>
                <span class="searchZtree-text">{{item.name}}</span>
            </a>
            <ul class="search-ztree-li-ul" ng-if="item.open">
                <li class="search-ztree-li-ul-li" ng-repeat="item2 in item.children">
                    <i class="button-arrow" ng-click="zTreeSearch.open(item2)"></i>
                    <a href="javascript:;" ng-click="zTreeSearch.huaTianLin(item2)">
                        <span class="saerchZtree-icon" ></span>
                        <span class="searchZtree-text">{{item2.name}}</span>
                    </a>
                    <ul class="search-ztree-ul-last" ng-if="item2.open">
                        <li class="search-ztree-li-last" ng-repeat="item3 in item2.children" >
                            <a href="javascript:;"  ng-click="zTreeSearch.communityLocation(item3)">
                                <span class="saerchZtree-icon"></span>
                                <span class="searchZtree-text">{{item3.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul> <!-- zTreeVillage -->
</div>