<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	    <script type="text/javascript" src="/lib/angular/jquery-1.10.2.min.js"></script>
	    <script type="text/javascript" src="/lib/angular/angular1.6.min.js"></script>
	    <script type="text/javascript" src="/lib/angular/angular-route.min.js"></script>
	    <link rel="stylesheet" href="/template/css_default/base.css">
	    <link rel="stylesheet" href="/template/css_default/bootstrap.css">
	    <link rel="stylesheet" href="/template/css_default/community.css">
	    <link rel="stylesheet" href="/template/css_default/navigation.css">
	</head>
	<body ng-controller="clickBuildingCtrl" id="myAppId">
		<!--建筑信息-->
		<div class="modal-dialog modal-house" style="width:7.2rem">
		    <div class="modal-content">
		      <div class="modal-body" id="myHouse">
		      	<div class="roof-head"></div>
		      	<div class="house-box">
		      		<div class="house-body clearfix">
			      		<ul class="floor-list" style="padding-left: 0px;">
				       		<li>层高</li>
				       		<li ng-repeat="item in buildData">{{maxFloor-$index}}楼</li>
				       	</ul>
				       	<div class="floor-table-body clearfix">
				       		<table class="floor-table">
					       		<thead>
					       			<tr>
					       				<th colspan="{{buildData[0].list.length}}">{{villageName}}{{buildNum}}号</th>
					       			</tr>
					       		</thead>
					       		<tbody>
					       			<tr ng-repeat="floor in buildData">
					       				<td ng-click="clickResident(item)" ng-repeat="item in floor.list" ng-class="{'zhihui':item.addClass}" style="position: relative;">
					       					<span class="name" style="display:inline-block">{{item.houseNo}}室</span>
					       					<i class="label-icon " style="display:inline-block;position: absolute;left: 2px;top: 2px;" title="烟感" title="{{sitem.name}}" ng-repeat="sitem in item.lableArr" ng-class="sitem.bg" ng-show="'smoke-icon' == sitem.bg"></i>
					       					<span ng-class="{'zizhufang':item.zizhufang,'chuzufang':item.chuzufang,'xianzhifang':item.xianzhifang}" style="width: 0.3rem;height: 0.3rem;right: 0.04rem;top:0.04rem;position: absolute;"></span>
					       					<div style="display:block">
					       					<i class="label-icon " style="display:inline-block" title="{{sitem.name}}" ng-repeat="sitem in item.lableArr" ng-class="sitem.bg" ng-show="'smoke-icon' != sitem.bg">
					       					</i>
					       					</div>
					       				</td>
					       			</tr>
					       		</tbody>
					       	</table>

				       	</div>	
			      	</div>
		      	</div>	
		    </div>
		    <div ng-if="loader" style="position: absolute;top:50%;left:50%">
					<div class="ball-clip-rotate"></div>
			</div> 

		    </div>
		</div>
	</body>
	<script type="text/javascript">
		// window.onResize = function() {
  //           var baseWidth = 1920;
  //           var screenWidth = document.body.clientWidth;
  //           windowHtmlSize = screenWidth / baseWidth * 100;
  //           var defSize = screenWidth / baseWidth;
  //           var axisFontSize = defSize * 24;
  //           $("html").css({
  //               fontSize: windowHtmlSize + 'px'
  //           });
  //       }
  //       onResize();
  //       $(window).resize(function() {
  //           onResize();
  //       })
		var app = angular.module('myApp',['ngRoute']);
		app.controller('clickBuildingCtrl',['$scope','$http','$q',function($scope,$http,$q){
			var communityService = {
				buildingInfo : function(req){
					var url = '/zhsq/village/getHouseByBuilding';
					var postCfg = {
						headers:{
							'Content-Type':'application/x-www-form-urlencoded'
						},
						transformRequest:function(data){
							return $.param(data);
						}
					}
                    return $http.post(url,req,postCfg).
                        then(function (response, error) {
                        	debugger;
                            if (error) {
                                return $q.reject(error);
                            } else {
                                return $q.when(response.data);
                            }
                        }, function (d) {
                            return $q.reject(d);
                    });
                }
			}
			var communityCodeToName = {
				"310104006001":"田林十二村",
				"310104006002":"田林十四村",
				"310104006004":"宜山路655弄2-4号",
				"310104006005":"高知楼",
				"310104006006":"千鹤2/4",
				"310104006007":"钦州路785弄",
				"310104006008":"吴中公寓",
				"310104006009":"东航公寓",
				"310104006010":"华鼎广场",
				"310104006011":"田林十三村"
			};
            var villageCode =  window.location.href.split("?")[1].split("=")[1];
            $scope.villageName = communityCodeToName[villageCode];
            var key = 'build_' + villageCode;
            if (localStorage.getItem(key)) {
              var buildStr = localStorage.getItem(key);
              var buildparam = JSON.parse(buildStr);//楼栋号:buildparam.name
              $scope.buildNum = buildparam.name;
              localStorage.removeItem(key);
            }
            $scope.loader = true;
            $scope.maxFloor = 0;
            var buildData = $scope.buildData=  [];
            $scope.laberMap = {
                   "独居老人":"oldMan-icon,独居老人",
                   "楼组长":"worthy-icon,楼组长",
                   "志愿者":"love-icon,志愿者",
                   "精神病人":"psychopath-icon,精神病人",
                   "安置帮教":"anzhibangjiao-icon,安置帮教",
                   "涉毒对象":"addict-icon,涉毒对象",
                   "视线对象":"sightPeople-icon,视线对象",
                   "烟感":"smoke-icon,烟感"
            }; 
              $scope.clickBuilding = function(){
                  var req = {
                    buildingNo:$scope.buildNum,
                    villageCode:villageCode
                  }
                  //调建筑信息接口
                  communityService.buildingInfo(req).then(function(resp){
                      if (resp.resultCode == '200') {
                          $scope.loader = false;
                          $scope.buildData = resp.data.sort(function(a,b){
                            return parseInt(b.floorName) - parseInt(a.floorName);
                          })
                          var maxHouseNum = 4;
                          $.each($scope.buildData,function(i,v){
                            if (parseInt(v.floorName) > $scope.maxFloor) {
                                $scope.maxFloor = v.floorName;
                              }
                              $.each(v.list,function(k,w){
                                if (w.type == "闲置房") {
                                  w.addClass = true;
                                  w.xianzhifang = true;
                                }else if (w.type =="自住房") {
                                  w.zizhufang = true;
                                }else if(w.type =="出租房"){
                                   w.chuzufang = true;
                                }else{
                                  w.type = ""
                                }
                                if (v.list.length > maxHouseNum) {
                                  maxHouseNum = v.list.length;
                                }
                                  //加人物标签
                                  w.lableArr = [];
                                  if(w.label != null){
                                     var lablerArr = w.label.split(",");
                                     w.lableArr = w.lableArr.concat(lablerArr);
                                     $.each(w.lableArr,function(j,x){
                                        for( m in $scope.laberMap){
                                          if (m == x) {
                                            if("" != x && "null" != x){
                                              w.lableArr[j] = {};
                                               w.lableArr[j].bg = $scope.laberMap[x].split(",")[0];
                                               w.lableArr[j].name = $scope.laberMap[x].split(",")[1];
                                            }
                                          }
                                        }
                                     })
                                   }
                              })
                          })
                          //动态计算.house-body宽度
                          var houseBodyWidth = 1.2 + 1.5*maxHouseNum;
                          $(".modal-house .house-body").css({"width":houseBodyWidth+"rem"})

                      }
                  })
              };
              $scope.clickBuilding();

              var residentlayer = null;
              $scope.clickResident = function(value){
                if (value.addClass) {
                  return;
                }else{
                  var obj = {
                      "villageCode":villageCode,
                      "buildingNo":$scope.buildNum,
                      "houseNo":value.houseNo
                    };
                    var key = 'resident_' + villageCode;
                    localStorage.setItem(key, JSON.stringify(obj));
                    window.parent.clickResident();
                }
              };
		}])
    angular.bootstrap(document.getElementById("myAppId"), ['myApp']);
	</script>
</html>