<div class="morelayer secondLevel warning-incident">
	<div class="secondLevel-head">
		<div class="pull-left secondLevel-head-left"><span class="title">感知数据列表</span></div>
		<ul class="head-menu clearfix">
			<!-- <li class="head-menu-li active" ng-click="changeTab('face',true)" ng-class="{'active':showTab.face}">人脸抓拍</li> -->
			<li class="head-menu-li" ng-click="changeTab('door')" ng-class="{'active':showTab.door}">开门记录</li>
			<li class="head-menu-li" ng-click="changeTab('car')" ng-class="{'active':showTab.car}">过车感知</li>
			<li class="head-menu-li" ng-click="changeTab('wifi')" ng-class="{'active':showTab.wifi}">Wifi感知</li>
			<li class="head-menu-li" ng-click="changeTab('fire')" ng-class="{'active':showTab.fire}">消防感知</li>
			<!-- <li class="head-menu-li" ng-click="changeTab('manholeCover')" ng-class="{'active':showTab.manholeCover}">位移感知</li> -->
		</ul>
	</div>
	<!-- start人脸抓拍 -->
	<!-- <div ng-show="showTab.face">
		
	</div> -->
	<!-- end人脸抓拍 -->

	<!-- start开门记录 -->
	<div ng-show="showTab.door">
		
	</div>
	<!-- end开门记录 -->

	<!-- start过车感知 -->
	<div ng-show="showTab.car">
		
	</div>
	<!-- end过车感知 -->
	
	<!-- start Wifi感知 -->
	<div ng-show="showTab.wifi">
		
	</div>
	<!-- end Wifi感知 -->

	<!-- start消防感知 -->
	<div ng-show="showTab.fire">
		
	</div>
	<!-- end消防感知 -->

	<!-- start位移感知 -->
	<!-- <div ng-show="showTab.manholeCover">
		
	</div> -->
	<!-- end位移感知 -->
</div>

<div>
	
</div>
