<div class="morelayer secondLevel">
	<div class="secondLevel-head">
		<div class="pull-left secondLevel-head-left"><span class="title">实有房屋</span></div>
		<div class="pull-right secondLevel-head-right">
			<i class="icon-house"></i>
			<span class="title">{{villageName}}</span>
		</div>
	</div>
	<div class="population-per">
		<div class="" style="margin-bottom:14px;">
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">楼栋号</label>
				<input type="text" class="form-control pull-left" name="" ng-model="initParams.buildingNo" placeholder="请输入楼栋号">
			</div>
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">房间号</label>
				<input type="text" class="form-control pull-left" name="" ng-model="initParams.houseNo" placeholder="请输入房间号">
			</div>
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">房屋类型</label>
				<select class="pull-left" ng-model="initParams.type">
					<option value="">请选择</option>
					<option ng-repeat="x in houseTypeMap" value="{{x.code}}">{{x.name}}</option>
				</select>
			</div>
			
			<button class="btn search-btn btn-blue margin-left-10" ng-click="queryHouse(1)">查询</button>
		</div>
		<div class="form-bottom">				
			<table class="table table-base waterprint">
				<colgroup>
					<col width="25%" />
					<col width="25%" />
					<col width="25%" />
					<col width="25%" />
				</colgroup>
				<thead>
					<tr>
						<th>楼栋号</th>
						<th>房间号</th>
						<th>房屋类型</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "item in factHouseData track by $index">
						<td>{{item.buildingNo}}</td>
						<td>{{item.houseNo}}</td>
						<td>{{item.type}}</td>
						<td ng-click="toResident(item)"><a href="" class="ng-binding">详细信息</a></td>
					</tr>
				</tbody>
			</table>
			<div class="table-empty" ng-if="page1.totalRow==0 && !loader">
                <i class="icon-base icon-32 icon-table-empty"></i>
                <span class="empty-text">没有查询到符合条件的记录</span>
            </div>
            <div ng-if="loader" style="position: absolute;top:30%;left:50%">
				<div class="ball-clip-rotate"></div>
			</div>
		</div>
		<div class="pagination-wrap pagination-wrap-fixed no-jumpButton clearfix" ng-if="page1.totalRow > 0">
            <pagination total-items="page1.totalRow"
                        ng-model="initParams.pageNumber"
                        max-size="3"
                        items-per-page="initParams.pageSize"
                        class="pagination-sm pull-right"
                        previous-text="上一页"
                        next-text="下一页"
                        first-text="首页"
                        last-text="末页"
                        ng-click="queryHouse()">
            </pagination>
        </div>
	</div>
</div>



