<div class="morelayer secondLevel">
	<div class="secondLevel-head">
		<div class="pull-left secondLevel-head-left"><span class="title">从业人员详情</span></div>
	</div>
	<div class="population-per">
		<div class="" style="margin-bottom:14px;">
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">姓名</label>
				<input type="text" class="form-control pull-left" name="" ng-model="initParams.name" placeholder="请输入姓名">
			</div>
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">性别</label>
				<select class="pull-left" ng-model="initParams.sex">
					<option value="">请选择</option>
					<option ng-repeat="x in sexArr" value="{{x.code}}">{{x.name}}</option>
				</select>
			</div>
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">身份证</label>
				<input type="text" class="form-control pull-left" name="" ng-model="initParams.credentialNo" placeholder="请输入身份证">
			</div>
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">电话</label>
				<input type="text" class="form-control pull-left" name="" ng-model="initParams.phone" placeholder="请输入电话">
			</div>
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">出生地址</label>
				<input type="text" class="form-control pull-left" name="" ng-model="initParams.bornaddress" placeholder="请输入出生地址">
			</div>
			<div class="form-group-level clearfix">
				<label class="control-label pull-left">居住地址</label>
				<input type="text" class="form-control pull-left" name="" ng-model="initParams.liveadress" placeholder="请输入居住地址">
			</div>
			<button class="btn search-btn btn-blue margin-left-10" ng-click="peopleDetail(1)">查询</button>
		</div>
		<div class="form-bottom">				
			<table class="table table-base waterprint">
				<colgroup>
					<col width="10%" />
					<col width="10%" />
					<col width="15%" />
					<col width="15%" />
					<col width="20%" />
					<col width="20%" />
					<col width="10%" />
				</colgroup>
				<thead>
					<tr>
						<th>姓名</th>
						<th>性别</th>
						<th>身份证</th>
						<th>电话</th>
						<th>出生地址</th>
						<th>居住地址</th>
						<th>标签</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "item in peopleDetailaData track by $index">
						<td>{{item.name}}</td>
						<td>{{item.sex}}</td>
						<td>{{item.credentialNo}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.bornaddress}}</td>
						<td>{{item.liveadress}}</td>
						<td>{{item.label}}</td>
					</tr>
				</tbody>
			</table>
			<div class="table-empty" ng-if="page1.totalRow==0 && !loader">
                <i class="icon-base icon-32 icon-table-empty"></i>
                <span class="empty-text">没有查询到符合条件的记录</span>
            </div>
            <div ng-if="loader" style="position: absolute;top:30%;left:50%">
				<div class="ball-clip-rotate"></div>
			</div>
		</div>
		<div class="pagination-wrap pagination-wrap-fixed no-jumpButton clearfix" ng-if="page1.totalRow > 0">
            <pagination total-items="page1.totalRow"
                        ng-model="initParams.pageNumber"
                        max-size="3"
                        items-per-page="initParams.pageSize"
                        class="pagination-sm pull-right"
                        previous-text="上一页"
                        next-text="下一页"
                        first-text="首页"
                        last-text="末页"
                        ng-click="peopleDetail()">
            </pagination>
        </div>
	</div>
</div>



