		<div class="morelayer" style="padding:20px;">
			<div ng-show="show1">
				<div class="form-top">
			        <label class="control-label">车牌号：</label>
					<input type="text" class="form-control" name="" ng-model="initParams.PlateNumber" placeholder="请输入车牌号">
					<label class="control-label">进出：</label>
					<select style="background-color: #062c52;color: #B4BBCF;border: 1px solid #395572;padding: 4px;border-radius: 4px;margin-right: 20px;" ng-init="initParams.inOut = inOutArr[0].code" ng-model="initParams.inOut" ng-options="x.code as x.name for x in inOutArr">
					</select>
					<label class="control-label">时间：</label>
			        <div class="datetimepicker">
			        	<input type="text" id="startTime" class="conditionInput form-control ng-pristine ng-untouched ng-valid" ng-model="initParams.startTime">
			        </div>
			        <div class="split"></div>
			        <div class="datetimepicker">
			        	<input type="text" id="endTime" class="conditionInput form-control ng-pristine ng-untouched ng-valid" ng-model="initParams.endTime">
			        </div>
					<!-- <label class="control-label">居住地址：</label>
					<input type="text" class="form-control" name="" ng-model="initParams.liveAddress" placeholder="请输入居住地址"> -->
					<div class="form-group" ng-click="captrueCarList(1)">
						<button type="button" class="btn btn-icon-blue">
			            <i class="icon-base icon-24 icon-btn-query"></i>
			            <span class="btn-icon-text">查询</span>
		        		</button>
					</div>
				</div>
				<div class="form-bottom">				
					<table class="table table-base waterprint">
						<colgroup>
							<col width="20%" />
							<col width="20%" />
							<col width="20%" />
							<!-- <col width="20%" /> -->
							<col width="20%" />
							<col width="20%" />
						</colgroup>
						<thead>
							<tr>
								<th>车牌号码</th>
								<th>进出</th>
								<th>最新过车时间</th>
								<!-- <th>居住地址</th> -->
								<th>车辆地址</th>
								<th>车辆照片</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = "item in carListData">
								<td>{{item.PlateNumber}}</td>
								<td>{{item.inOut}}</td>
								<td>{{item.InOutTime}}</td>
								<!-- <td ng-click="toResident(item.liveAddress)"><a href="">{{item.liveAddress}}</a></td> -->
								<td>{{item.address}}</td>
								<td>
									<span class="span-icon">
										<i class="base-icon icon-photo" ng-show="item.PlatePic != ''" ng-click="doorImgClick(item.PlatePic)"></i>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="table-empty" ng-if="page1.totalRow==0 && !loader">
                        <i class="icon-base icon-32 icon-table-empty"></i>
                        <span class="empty-text">没有查询到符合条件的记录</span>
                    </div>   	
                    <div ng-if="loader" style="position: absolute;top:20%;left:50%">
						<div class="ball-clip-rotate"></div>
					</div>					
				</div>
				<div class="pagination-wrap pagination-wrap-fixed no-jumpButton clearfix" ng-if="page1.totalRow > 0">
                    <pagination total-items="page1.totalRow"
                                ng-model="initParams.pageNumber"
                                max-size="3"
                                items-per-page="initParams.pageSize"
                                class="pagination-sm pull-right"
                                previous-text="上一页"
                                next-text="下一页"
                                first-text="首页"
                                last-text="末页"
                                ng-click="captrueCarList()">
                    </pagination>
                </div>
			</div>
			


