<div class="morelayer secondLevel">
	<div class="secondLevel-head">
		<div class="pull-left secondLevel-head-left"><span class="title">消防</span></div>
		<ul class="head-menu clearfix">
			<li class="head-menu-li active" ng-click="changeTab('fireRecord',true)" ng-class="{'active':showTab.fireRecord}">消防报警</li>
			<li class="head-menu-li" ng-click="changeTab('fireDevice')" ng-class="{'active':showTab.fireDevice}">消防设备</li>
		</ul>
		<div class="pull-right secondLevel-head-right">
			<i class="icon-house"></i>
			<span class="title ng-binding">{{villageName}}</span>
		</div>
	</div>
	<div class="population-per">
		<div ng-show="showTab.fireRecord" class="tab-find clearfix">
			<div class="" style="margin-bottom:14px;">
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">地址</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireRecordParams.address" placeholder="请输入地址">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">报警类型</label>
					<select class="pull-left" ng-model="fireRecordParams.type">
		        		<option value="">请选择</option>
						<option ng-repeat="x in alarmMsgType" value="{{x.code}}">{{x.name}}</option>
					</select>
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">报警时间</label>
			        <div class="datetimepicker pull-left">
			        	<input type="text" id="startTime" class="conditionInput form-control ng-pristine ng-untouched ng-valid" ng-model="fireRecordParams.startTime" placeholder="开始时间">
			        </div>
			        <div class="pull-left">--</div>
				    <div class="datetimepicker pull-left">
			        	<input type="text" id="endTime" class="conditionInput form-control ng-pristine ng-untouched ng-valid" ng-model="fireRecordParams.endTime" placeholder="结束时间">
			        </div>
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">设备号</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireRecordParams.deviceNo" placeholder="请输入设备号">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">楼栋号</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireRecordParams.buildingNo" placeholder="请输入楼栋号">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">楼层号</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireRecordParams.floorNo" placeholder="请输入楼层号">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">门牌号</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireRecordParams.houseNo" placeholder="请输入门牌号">
				</div>
				<button class="btn search-btn btn-blue margin-left-10" ng-click="smokeAlarmList(1)">查询</button>
			</div>
			<div class="form-bottom">				
				<table class="table table-base waterprint">
					<colgroup>
						<col width="20%" />
						<col width="20%" />
						<col width="16%" />
						<col width="16%" />
						<col width="8%" />
						<col width="10%" />
						<col width="10%" />
					</colgroup>
					<thead>
						<tr>
							<th>地址</th>
							<th>报警时间</th>
							<th>报警类型</th>
							<th>设备号</th>
							<th>楼栋号</th>
							<th>楼层号</th>
							<th>门牌号</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "item in smokeData track by $index">
							<td>{{item.detailAddress}}</td>
							<td>{{item.alarmTime}}</td>
							<td>{{item.alarmMsg}}</td>
							<td>{{item.deviceNo}}</td>
							<td>{{item.buildingNo}}</td>
							<td>{{item.floorNo}}</td>
							<td>{{item.roomNo}}</td>
						</tr>
					</tbody>
				</table>
				<div class="table-empty" ng-if="fireRecordPage.totalRow==0 && !loader">
	                <i class="icon-base icon-32 icon-table-empty"></i>
	                <span class="empty-text">没有查询到符合条件的记录</span>
	            </div>
	            <div ng-if="loader" style="position: absolute;top:30%;left:50%">
					<div class="ball-clip-rotate"></div>
				</div>
			</div>
			<div class="pagination-wrap pagination-wrap-fixed no-jumpButton clearfix" ng-if="fireRecordPage.totalRow > 0">
	            <pagination total-items="fireRecordPage.totalRow"
	                        ng-model="fireRecordParams.pageNumber"
	                        max-size="3"
	                        items-per-page="fireRecordParams.pageSize"
	                        class="pagination-sm pull-right"
	                        previous-text="上一页"
	                        next-text="下一页"
	                        first-text="首页"
	                        last-text="末页"
	                        ng-click="smokeAlarmList()">
	            </pagination>
	        </div>
		</div>
		
		<div ng-show="showTab.fireDevice">
			<div class="" style="margin-bottom:14px;">
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">设备号</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireDeviceParams.deviceNo" placeholder="请输入设备号">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">设备名</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireDeviceParams.name" placeholder="请输入设备名">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">设备状态：</label>
		        	<select class="pull-left" ng-model="fireDeviceParams.stateCode">
		        		<!-- <option value="">请选择</option> -->
						<option ng-repeat="x in stateArr" value="{{x.code}}">{{x.name}}</option>
					</select>
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">地址</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireDeviceParams.detailAddress" placeholder="请输入地址">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">楼栋号</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireDeviceParams.buildingNo" placeholder="请输入楼栋号">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">楼层号</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireDeviceParams.floorNo" placeholder="请输入楼层号">
				</div>
				<div class="form-group-level clearfix">
					<label class="control-label pull-left">门牌号</label>
					<input type="text" class="form-control pull-left" name="" ng-model="fireDeviceParams.houseNo" placeholder="请输入门牌号">
				</div>
				<button class="btn search-btn btn-blue margin-left-10" ng-click="smokeDeviceList(1)">查询</button>
			</div>
			<div class="form-bottom">				
				<table class="table table-base waterprint">
					<colgroup>
						<col width="10%" />
						<col width="10%" />
						<col width="10%" />
						<col width="20%" />
						<col width="14%" />
						<col width="12%" />
						<col width="12%" />
						<col width="12%" />
						
					</colgroup>
					<thead>
						<tr>
							<th>设备号</th>
							<th>设备名</th>
							<th>设备状态</th>
							<th>地址</th>
							<th>小区名称</th>
							<th>楼栋号</th>
							<th>楼层号</th>
							<th>门牌号</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "item in smokeDeviceData">
							<td>{{item.deviceNo}}</td>
							<td>{{item.name}}</td>
							<td>{{item.stateDesc}}</td>
							<td>{{item.detailAddress}}</td>
							<td>{{item.villageName}}</td>
							<td>{{item.buildingNo}}</td>
							<td>{{item.floorNo}}</td>
							<td>{{item.houseNo}}</td>
						</tr>
					</tbody>
				</table>
				<div class="table-empty" ng-if="fireDevicePage.totalRow==0 && !loader">
	                <i class="icon-base icon-32 icon-table-empty"></i>
	                <span class="empty-text">没有查询到符合条件的记录</span>
	            </div>
	            <div ng-if="loader" style="position: absolute;top:30%;left:50%">
					<div class="ball-clip-rotate"></div>
				</div>
			</div>
			<div class="pagination-wrap pagination-wrap-fixed no-jumpButton clearfix" ng-if="fireDevicePage.totalRow > 0">
	            <pagination total-items="fireDevicePage.totalRow"
	                        ng-model="fireDeviceParams.pageNumber"
	                        max-size="3"
	                        items-per-page="fireDeviceParams.pageSize"
	                        class="pagination-sm pull-right"
	                        previous-text="上一页"
	                        next-text="下一页"
	                        first-text="首页"
	                        last-text="末页"
	                        ng-click="smokeDeviceList()">
	            </pagination>
	        </div>
		</div>
	</div>
</div>

